In [1]:
# pip install faker
# !pip install mimesis==5.0.0
# !pip install pycountry

In [2]:
# pip uninstall -y mimesis

In [3]:
# import pickle
# path = 'C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/New_save.ext'

# data = {
  
#     'customer_df':customer_df,
#     'account_df' :account_df,
#     'country_risk_df' :country_risk_df,

#     'transaction_df' :transaction_df,
#     'customer_risk_df' :customer_risk_df,
#     'beneficial_ownership_df' :beneficial_ownership_df,
#     'kyc_documents_df' :kyc_documents_df,
#     'correspondent_banking_df' :correspondent_banking_df,
#     'watchlist_df': watchlist_df,
#     'merged_df':merged_df,
#     'df_agg_merged':df_agg_merged,
#     'enriched_df':enriched_df

# }

# with open(path, 'wb') as f:
#     pickle.dump(data, f)

In [4]:
import pickle
path = 'C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/New_save.ext'

with open(path, 'rb') as f:
    loaded_data = pickle.load(f)
    
for key, value in loaded_data.items():
    globals()[key] = value

In [39]:
import pandas as pd
import numpy as np
import random
from faker import Faker
import uuid
from mimesis import Generic
import datetime
#from datetime import datetime, timedelta
import pycountry

In [7]:
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_colwidth", 200)
pd.set_option("display.max_rows", 300)

In [8]:

# #from datetime import datetime, timedelta

# # Initialize Faker and Mimesis
# fake = Faker()
# generic = Generic()

# # Define weighted distributions for various attributes
# gender_distribution = ["Male"] * 60 + ["Female"] * 35 + ["Other"] * 5
# acct_status_distribution = ["Active"] * 70 + ["Closed"] * 20 + ["Dormant"] * 10
# acct_type_distribution = (["Checking"] * 25 + ["Savings"] * 25 + ["Business Checking"] * 15 +
#                          ["Business Savings"] * 10 + ["Joint"] * 10 + ["Salary"] * 10 + ["CB"] * 5)
# tran_type_distribution = ["Credit"] * 50 + ["Debit"] * 50  # 50-50 split

# curr = ['USD', 'EUR', 'GBP', 'JPY', 'CNY']

# tran_scope_distribution = ['Domestic'] * 60 + ['Cross Border'] * 40
# tran_channel_distribution = (['CHEQUE'] * 5 + ['ATM'] * 10 + ['Bank Branch ATM'] * 5 + ['Bank Branch Cash'] * 10 +
#                             ['Debit Card'] * 20 + ['Credit Card'] * 20 + ['Wire Transfer'] * 10 +
#                             ['ACH Transfer'] * 5 + ['Digital Wallet Payments'] * 5 + ['Online Bank Transfer'] * 10)
# wire_transfer_distribution = ['Wire Transfer', 'Online Bank Transfer', 'ACH Transfer']

# risk_rating_distribution = ["Low"] * 70 + ["Medium"] * 20 + ["High"] * 10
# binary_flag = ["Yes", "No"]
# FATF_Cat = ["High-Risk", "Monitoring", "No Action"]
# cus_type_distribution = ["Individual"] * 75 + ["Business"] * 25
# doc_type_distribution = ["Passport"] * 50 + ["National ID"] * 25 + ["Driver's License"] * 15 + ["Utility Bill"] * 10
# doc_status_distribution = ["Verified"] * 85 + ["Pending"] * 5 + ["Rejected"] * 10
# occupations_distribution = (["Software Engineer"] * 10 + ["Doctor"] * 8 + ["Teacher"] * 5 + ["Accountant"] * 6 + 
#                            ["Marketing Manager"] * 6 + ["Data Scientist"] * 6 + ["Graphic Designer"] * 4 +  
#                            ["Sales Representative"] * 6 + ["Construction Worker"] * 4 + ["Financial Analyst"] * 5 +  
#                            ["Retail Manager"] * 5 + ["Chef"] * 3 + ["Journalist"] * 3 + ["Police Officer"] * 3 +  
#                            ["Nurse"] * 5 + ["Electrician"] * 3 + ["Pilot"] * 4 + ["Lawyer"] * 5 +  
#                            ["Pharmacist"] * 4 + ["Architect"] * 3)

# countries = ["Canada", "Belgium", "France", "Germany", "Italy", "Netherlands", "Japan", "United Kingdom", 
#                  "Switzerland", "United States", "Afghanistan", "Algeria", "Angola", "Antarctica", "Australian", 
#                  "Christmas Island", "Cocos (Keeling) Islands", "Heard and Mc Donald Islands", "Kiribati", "Nauru", 
#                  "Norfolk Island", "Tuvalu", "Bahamas", "Bahrain", "Thailand", "Panama", "Barbados", "Belarus", 
#                  "Belize", "Bermuda", "Venezuela", "Bolivia", "Bosnia and Herzegovina", "Brazil", 
#                  "Brunei Darussalam", "Burundi", "Cayman Islands", "Benin", "Burkina Faso", "Guinea-Bissau", 
#                  "Ivory Coast", "Mali", "Niger", "Senegal", "Togo", "Cameroon", "Central African Republic", "Chad", 
#                  "Congo Republic of the Democratic", "Equatorial Guinea", "Gabon", "French Polynesia", 
#                  "New Caledonia", "Wallis and Futuna Islands", "Chile", "Comoros", "Congo (Kinshasa)", "Nicaragua", 
#                  "Costa Rica", "Croatia (Hrvatska)", "Cuba", "Gambia", "Denmark", "Faroe Islands", "Greenland", 
#                  "Macedonia", "Sudan", "Morocco", "Western Sahara", "United Arab Emirates", "Djibouti", 
#                  "Sao Tome and Principe", "Namibia", "Singapore", "Taiwan", "Dominican Republic", "Vietnam", 
#                  "Armenia", "Anguilla", "Antigua and Barbuda", "Dominica", "Grenada", "Montserrat", "Saint Kitts", 
#                  "Saint Lucia", "Saint Vincent Grenadines", "Egypt", "Cape Verde", "Eritrea", "Ethiopia", 
#                  "Aland Islands", "Montenegro", "Saint Barthelemy", "Saint Pierre and Miquelon", "Andorra", 
#                  "American Samoa", "French Guiana", "French Southern Territories", "Guadeloupe", "Martinique", 
#                  "Mayotte", "Monaco", "Reunion", "Samoa", "San Marino", "Vatican City State (Holy See)", "Austria", 
#                  "Finland", "Greece", "Ireland", "Luxembourg", "Portugal", "Slovenia", "Spain", "Cyprus", "Estonia", 
#                  "Latvia", "Lithuania", "Malta", "Slovakia (Slovak Republic)", "Falkland Islands (Malvinas)", 
#                  "Fiji", "Hungary", "Ghana", "Gibraltar", "Haiti", "Paraguay", "Guernsey", "Guinea", "Guyana", 
#                  "Hong Kong", "Ukraine", "Iceland", "Bhutan", "India", "East Timor", "Indonesia", 
#                  "Iran (Islamic Republic of)", "Iraq", "Jamaica", "Palestinian Territory", "Jordan", "Kenya", 
#                  "Papua New Guinea", "Czech Republic", "Sweden", "Kuwait", "Zambia", "Myanmar", "Laos", "Georgia", 
#                  "Lebanon", "Albania", "Honduras", "Sierra Leone", "Moldova Republic of", "Romania", "Bulgaria", 
#                  "Liberia", "Libyan Arab Jamahiriya", "Swaziland", "Turkey", "Lesotho", "Madagascar", "Malawi", 
#                  "Azerbaijan", "Turkmenistan", "Isle of Man", "Mauritius", "Mozambique", "Nigeria", "Nepal", 
#                  "Saint Martin (French part)", "Aruba", "Netherlands Antilles", "New Zealand", "Cook Islands", 
#                  "Niue", "Pitcairn", "Tokelau", "Bouvet Island", "Norway", "Svalbard and Jan Mayen Islands", 
#                  "Peru", "Mauritania", "Tonga", "Macau", "Argentina", "Colombia", "Mexico", "Philippines", 
#                  "Uruguay", "Botswana", "Guatemala", "South Africa", "Qatar", "Yemen", "Cambodia", "Malaysia", 
#                  "Saudi Arabia", "Russian Federation", "Maldives", "Pakistan", "Seychelles", "Sri Lanka", "Rwanda", 
#                  "Saint Helena", "El Salvador", "Serbia", "Israel", "Somalia", "Tanzania", "Uganda", 
#                  "Solomon Islands", "Kyrgyzstan", "Uzbekistan", "South Georgia and the South Sandwich Islands", 
#                  "Jersey", "Ecuador", "Oman", "Suriname", "Liechtenstein", "Syrian Arab Republic", "Tajikistan", 
#                  "Bangladesh", "Kazakhstan", "Trinidad and Tobago", "Mongolia", "Tunisia", 
#                  "British Indian Ocean Territory", "Guam", "Marshall Islands", "Micronesia Federated States of", 
#                  "Northern Mariana Islands", "Palau", "Puerto Rico", "Turks and Caicos Islands", 
#                  "United States Minor Outlying Islands", "Virgin Islands (British)", "Virgin Islands (US)", 
#                  "Vanuatu", "Korea North", "Korea South", "China", "Zimbabwe", "Poland", "Kosovo", "Curaçao"]

# country_codes = ["CA", "BE", "FR", "DE", "IT", "NL", "JP", "GB", "CH", "US", "AF", "DZ", "AO", "AQ", "AU", "CX", 
#                  "CC", "HM", "KI", "NR", "NF", "TV", "BS", "BH", "TH", "PA", "BB", "BY", "BZ", "BM", "VE", "BO", 
#                  "BA", "BR", "BN", "BI", "KY", "BJ", "BF", "GW", "CI", "ML", "NE", "SN", "TG", "CM", "CF", "TD", 
#                  "CG", "GQ", "GA", "PF", "NC", "WF", "CL", "KM", "CD", "NI", "CR", "HR", "CU", "GM", "DK", "FO", 
#                  "GL", "MK", "SD", "MA", "EH", "AE", "DJ", "ST", "NA", "SG", "TW", "DO", "VN", "AM", "AI", "AG", 
#                  "DM", "GD", "MS", "KN", "LC", "VC", "EG", "CV", "ER", "ET", "AX", "ME", "BL", "PM", "AD", "AS", 
#                  "GF", "TF", "GP", "MQ", "YT", "MC", "RE", "WS", "SM", "VA", "AT", "FI", "GR", "IE", "LU", "PT", 
#                  "SI", "ES", "CY", "EE", "LV", "LT", "MT", "SK", "FK", "FJ", "HU", "GH", "GI", "HT", "PY", "GG", 
#                  "GN", "GY", "HK", "UA", "IS", "BT", "IN", "TL", "ID", "IR", "IQ", "JM", "PS", "JO", "KE", "PG", 
#                  "CZ", "SE", "KW", "ZM", "MM", "LA", "GE", "LB", "AL", "HN", "SL", "MD", "RO", "BG", "LR", "LY", 
#                  "SZ", "TR", "LS", "MG", "MW", "AZ", "TM", "IM", "MU", "MZ", "NG", "NP", "MF", "AW", "AN", "NZ", 
#                  "CK", "NU", "PN", "TK", "BV", "NO", "SJ", "PE", "MR", "TO", "MO", "AR", "CO", "MX", "PH", "UY", 
#                  "BW", "GT", "ZA", "QA", "YE", "KH", "MY", "SA", "RU", "MV", "PK", "SC", "LK", "RW", "SH", "SV", 
#                  "RS", "IL", "SO", "TZ", "UG", "SB", "KG", "UZ", "GS", "JE", "EC", "OM", "SR", "LI", "SY", "TJ", 
#                  "BD", "KZ", "TT", "MN", "TN", "IO", "GU", "MH", "FM", "MP", "PW", "PR", "TC", "UM", "VG", "VI", 
#                  "VU", "KP", "KR", "CN", "ZW", "PL", "XK", "CW"]


# # Sample Watchlist Data
# watchlist_type_distribution = ["Individual"] * 55 + ["Business"] * 45

# watchlist_names = ["John Doe", "XYZ Corporation", "Abdul Rahman", "ABC Trading Ltd.", "Carlos Mendoza", 
#                    "Delta Finance", "Liu Wei", "Omar Al-Fayed", "Eastern Holdings", "Viktor Ivanov"]

# sanctioning_bodies = ["OFAC", "UN", "EU", "FATF", "Interpol"]

# list_types = ["Terrorist", "Money Laundering", "Fraud", "Drug Trafficking", "Arms Dealing", "PEP"]

# bank_countries = ["United States", "United Kingdom", "Canada", "India", "Germany", "France", "Australia", "China", 
#                   "Japan", "Brazil", "South Africa", "Mexico", "United Arab Emirates", "Saudi Arabia", "Russia", 
#                   "Switzerland", "Singapore", "South Korea", "Italy", "Spain", "Netherlands", "Sweden", "Norway",
#                   "Denmark", "Turkey", "Indonesia", "Thailand", "Malaysia", "Vietnam", "Argentina", "Colombia",
#                   "Chile", "Egypt", "Nigeria", "Kenya", "Pakistan", "Bangladesh"]

# # Sample mapping of countries to local banks (expand as needed)
# local_banks_by_country = {"United States": ["Bank of America", "JPMorgan Chase", "Wells Fargo", "Citibank", "Goldman Sachs"],
#                           "United Kingdom": ["Barclays", "HSBC", "Lloyds Bank", "NatWest", "Standard Chartered"],
#                           "Canada": ["Royal Bank of Canada", "Scotiabank", "Toronto-Dominion Bank (TD Bank)", "BMO Bank", "CIBC"],
#                           "India": ["State Bank of India", "HDFC Bank", "ICICI Bank", "Axis Bank", "Punjab National Bank"],
#                           "Germany": ["Deutsche Bank", "Commerzbank", "DZ Bank", "KfW Bank", "HypoVereinsbank"],
#                           "France": ["BNP Paribas", "Société Générale", "Crédit Agricole", "Banque Populaire", "La Banque Postale"],
#                           "Australia": ["Commonwealth Bank", "ANZ Bank", "Westpac", "National Australia Bank (NAB)", "Macquarie Bank"],
#                           "China": ["Industrial and Commercial Bank of China (ICBC)", "China Construction Bank", "Agricultural Bank of China", "Bank of China", "Bank of Communications"],
#                           "Japan": ["Mizuho Bank", "Sumitomo Mitsui Banking Corporation", "MUFG Bank", "Resona Bank", "Shinsei Bank"],
#                           "Brazil": ["Banco do Brasil", "Itaú Unibanco", "Bradesco", "Santander Brasil", "Caixa Econômica Federal"],
#                           "South Africa": ["Standard Bank", "First National Bank (FNB)", "Absa Bank", "Nedbank", "Capitec Bank"],
#                           "Mexico": ["BBVA México", "Banorte", "Santander México", "Citibanamex", "HSBC México"],
#                           "United Arab Emirates": ["Emirates NBD", "Abu Dhabi Commercial Bank", "Dubai Islamic Bank", "Mashreq Bank", "RAKBANK"],
#                           "Saudi Arabia": ["Al Rajhi Bank", "Saudi National Bank", "Riyad Bank", "Banque Saudi Fransi", "Arab National Bank"],
#                           "Russia": ["Sberbank", "VTB Bank", "Gazprombank", "Alfa-Bank", "Russian Agricultural Bank"],
#                           "Switzerland": ["UBS", "Credit Suisse", "Julius Baer", "Raiffeisen Bank", "Zürcher Kantonalbank"],
#                           "Singapore": ["DBS Bank", "OCBC Bank", "UOB", "Standard Chartered Singapore", "Maybank Singapore"],
#                           "South Korea": ["Kookmin Bank", "Shinhan Bank", "Hana Bank", "Woori Bank", "Industrial Bank of Korea"],
#                           "Italy": ["UniCredit", "Intesa Sanpaolo", "Banco BPM", "BPER Banca", "Monte dei Paschi di Siena"],
#                           "Spain": ["Banco Santander", "BBVA", "CaixaBank", "Bankia", "Banco Sabadell"],
#                           "Netherlands": ["ING Bank", "ABN AMRO", "Rabobank", "De Volksbank", "Triodos Bank"],
#                           "Sweden": ["SEB Bank", "Swedbank", "Nordea Bank Sweden", "Handelsbanken", "Skandiabanken"],
#                           "Norway": ["DNB Bank", "SpareBank 1", "Nordea Bank Norway", "Handelsbanken Norway", "Sbanken"],
#                           "Denmark": ["Danske Bank", "Jyske Bank", "Nordea Bank Denmark", "Nykredit Bank", "Sydbank"],
#                           "Turkey": ["Ziraat Bankası", "İş Bankası", "Garanti BBVA", "Akbank", "Yapı Kredi"],
#                           "Indonesia": ["Bank Mandiri", "Bank Central Asia (BCA)", "Bank Rakyat Indonesia (BRI)", "Bank Negara Indonesia (BNI)", "CIMB Niaga"],
#                           "Thailand": ["Bangkok Bank", "Kasikornbank", "Siam Commercial Bank", "Krung Thai Bank", "TMBThanachart Bank"],
#                           "Malaysia": ["Maybank", "CIMB Bank", "Public Bank Berhad", "RHB Bank", "Hong Leong Bank"],
#                           "Vietnam": ["Vietcombank", "VietinBank", "BIDV", "Techcombank", "Sacombank"],
#                           "Argentina": ["Banco de la Nación Argentina", "Banco Galicia", "Banco Macro", "Banco Santander Argentina", "BBVA Argentina"],
#                           "Colombia": ["Bancolombia", "Davivienda", "Banco de Bogotá", "BBVA Colombia", "Banco Popular"],
#                           "Chile": ["Banco de Chile", "BancoEstado", "Santander Chile", "Scotiabank Chile", "Banco BICE"],
#                           "Egypt": ["National Bank of Egypt", "Banque Misr", "Commercial International Bank (CIB)", "Arab African International Bank", "QNB Al Ahli"],
#                           "Nigeria": ["Access Bank", "Zenith Bank", "Guaranty Trust Bank (GTBank)", "First Bank of Nigeria", "United Bank for Africa (UBA)"],
#                           "Kenya": ["Equity Bank", "KCB Bank Kenya", "Co-operative Bank of Kenya", "Diamond Trust Bank", "NCBA Bank"],
#                           "Pakistan": ["Habib Bank Limited (HBL)", "United Bank Limited (UBL)", "National Bank of Pakistan (NBP)", "MCB Bank", "Allied Bank"],
#                           "Bangladesh": ["Sonali Bank", "Islami Bank Bangladesh", "Dutch-Bangla Bank", "BRAC Bank", "Prime Bank"]
#                          }


# # Function to get a random local bank for a given country
# def get_local_bank(country):
#     return random.choice(local_banks_by_country.get(country, ["Unknown Bank"]))


# # Helper function to generate random dates within a range
# def generate_random_dates(start_date, end_date, num_dates):
#     date_range = end_date - start_date
#     return [start_date + datetime.timedelta(days=random.randint(0, date_range.days)) for _ in range(num_dates)]

# # Helper function to generate transaction amounts with AML behavior
# def generate_aml_transaction_amounts(num_transactions):
#     amounts = []
    
#     for _ in range(num_transactions):
#         if random.random() < 0.5:
#             amount = round(random.uniform(50, 999), 2)  # 50% Small amount between $50 and $999
#         elif random.random() < 0.3:
#             amount = round(random.uniform(1000, 9999), 2)  # 30% Medium amount between $1,000 and $9,999
#         elif random.random() < 0.15:
#             amount = round(random.uniform(10000, 50000), 2)  # 15% Large amount between $10,000 and $50,000
#         else:
#             amount = round(random.uniform(100000, 1000000), 2)  # 5% Outlier transaction over $100,000
#         if random.random() < 0.1:
#             amount = round(random.uniform(9900, 9999), 2)  # 10% Near threshold avoidance
#         amounts.append(amount)
#     return amounts
    
    
# # Generate Customer Table
# def generate_customer_table(num_customers):
#     customers = []
#     for _ in range(num_customers):
#         customer_id = str(random.randint(100000, 99999999))
#         name = fake.name()
#         dob = fake.date_of_birth(minimum_age=18, maximum_age=90)
#         gender = random.choice(gender_distribution)
#         address = fake.address()
#         nation = random.choice(countries)
#         phone_number = str(random.randint(5000000000, 9999999999))
#         email = fake.email()
#         type_of_cus = random.choice(cus_type_distribution)
#         customer_risk_level = random.choice(risk_rating_distribution)
#         profession = random.choice(occupations_distribution)
#         sal = str(random.randint(10000, 500000)) if type_of_cus == 'Individual' else "" # $10k to $500k
#         biz_registered_country = random.choice(countries) if type_of_cus == "Business" else ""
#         biz_registered_address = fake.address() if type_of_cus == "Business" else ""
#         pep_customers = random.choice(binary_flag)
#         customers.append({
#             "Customer_ID": customer_id,
#             "Customer_Name": name,
#             "Date_of_Birth": dob,
#             "Gender": gender,
#             "Address": address,
#             "Nationality": nation,
#             "Phone_Number": phone_number,
#             "Email": email,
#             "Customer_Type": type_of_cus,
#             "Risk_Rating": customer_risk_level,
#             "Occupation": profession,
#             "Salary": sal,
#             "business_registered_country": biz_registered_country,
#             "business_registered_address": biz_registered_address,
#             "PEP_Flag": pep_customers
#         })
#     return pd.DataFrame(customers)

# # Generate Account Table
# def generate_account_table(num_accounts, customer_df):
#     accounts = []
#     for _ in range(num_accounts):
#         account_id = str(random.randint(1000, 999999))
#         customer_id = random.choice(customer_df["Customer_ID"].values)
#         account_type = random.choice(acct_type_distribution)
#         # account_balance = round(random.uniform(1000, 100000), 2)
#         status = random.choice(acct_status_distribution)
#         start_date = datetime.date.today() - datetime.timedelta(days=2*365)  # Last 3 years
#         end_date = datetime.date.today()
#         opened_date = fake.date_between(start_date=start_date, end_date=end_date)
#         closed_date = opened_date + datetime.timedelta(days=random.randint(30, 1500))
#         #fake.date_between(start_date=start_date, end_date=end_date) #if status == "Closed" and start_date < end_date
#         #opened_date = random.choice(customer_df["Date_of_Birth"].values)  # Opened after customer birth date
#         accounts.append({
#             "Account_ID": account_id,
#             "Customer_ID": customer_id,
#             "Account_Type": account_type,
#             # "Account_Balance": account_balance,
#             "Status": status,
#             "Opened_Date": opened_date,
#             "Close_Date": closed_date
#         })
#     return pd.DataFrame(accounts)

# # Generate Transaction Table
# def generate_transaction_table(num_transactions, customer_df, account_df, high_risk_country_df):
#     transaction_amounts = generate_aml_transaction_amounts(num_transactions)
#     transactions = []
    
#     for i in range(num_transactions):
#         transaction_id = str(random.randint(1, 999999))
#         account_id = random.choice(account_df["Account_ID"].values)
#         customer_id = account_df[account_df["Account_ID"] == account_id]["Customer_ID"].values[0]
#         start_date = datetime.date.today() - datetime.timedelta(days=2*365)  # Last 3 years
#         end_date = datetime.date.today()
#         transaction_date = fake.date_between(start_date=start_date, end_date=end_date)
#         #transaction_date = random.choice(customer_df["Date_of_Birth"].values)
#         amount = transaction_amounts[i]
#         currency = random.choice(curr)
#         transaction_type = random.choice(tran_type_distribution) # debit credit flag
        
#         # transaction_status = "Yes" if account_df['Account_Type'] = 'CB' else 
#         transaction_scope = random.choice(tran_scope_distribution) # domestic internation tran flag
#         transaction_channel = random.choice(tran_channel_distribution) # payment method - put condition if needed
        
#         wire_trans = random.choice(wire_transfer_distribution)
        
#         account_type = account_df[account_df["Account_ID"] == account_id]["Account_Type"].values[0] # For CB Flag
#         corres_bank_flag = "Yes" if account_type == "CB" else "No" # For CB Flag
        
#         sender_id = random.choice(account_df["Account_ID"].values) if account_type == "CB" else ""
#         sender_country = random.choice(countries) if account_type == "CB" else ""
#         sender_bank_country = random.choice(bank_countries) if account_type == "CB" else ""
#         sender_bank = get_local_bank(sender_bank_country) if account_type == "CB" else ""
#         im_bank_country = random.choice(bank_countries) if account_type == "CB" else ""
#         im_bank = get_local_bank(im_bank_country) if account_type == "CB" else ""
#         recipient_id = random.choice(account_df["Account_ID"].values) if account_type == "CB" else ""
#         recipient_country = random.choice(countries) if account_type == "CB" else ""
#         recipient_bank_country = random.choice(bank_countries) if account_type == "CB" else ""
#         recipient_bank = get_local_bank(recipient_bank_country) if account_type == "CB" else ""
        
#         transactions.append({
#             "Transaction_ID": transaction_id,
#             "Account_ID": account_id,
#             "Transaction_Date": transaction_date,
#             "Amount": amount,
#             "Currency": currency,
#             "DR_CR_Flag": transaction_type,
#             "CB_Flag": corres_bank_flag,
#             "Domestic_International_Tran_Flag": transaction_scope,
#             "Payment_Method": transaction_channel,
#             "Originator_ID": sender_id,
#             "Originator_Country": sender_country,
#             "Originator_Bank_Country": sender_bank_country,
#             "Originator_Bank": sender_bank,
#             "Intermediary_Bank_Country": im_bank_country,
#             "Intermediary_Bank": im_bank,
#             "Beneficiary_ID": recipient_id,
#             "Beneficiary_Country": recipient_country,
#             "Beneficiary_Bank_Country": recipient_bank_country,
#             "Beneficiary_Bank": recipient_bank
#         })
        
#         # Generate Wire Debit Transaction within 3/5/7 days
#         for days in [3, 5, 7]:
#             if random.random() < 0.7:  # 70% chance of rapid fund movement
#                 transactions.append({
#                     "Transaction_ID": transaction_id,
#                     "Account_ID": account_id,
#                     "Transaction_Date": transaction_date,
#                     "Amount": amount,  # Moving the exact amount
#                     "Currency": currency,
#                     "DR_CR_Flag": "Debit",
#                     "CB_Flag": corres_bank_flag,
#                     "Domestic_International_Tran_Flag": "International",
#                     "Payment_Method": wire_trans,
#                     "Originator_ID": sender_id,  # Now sender
#                     "Originator_Country": sender_country,
#                     "Originator_Bank_Country": sender_bank_country,
#                     "Originator_Bank": sender_bank,
#                     "Intermediary_Bank_Country": im_bank_country,
#                     "Intermediary_Bank": im_bank,
#                     "Beneficiary_ID": recipient_id,  # Random recipient
#                     "Beneficiary_Country": recipient_country,
#                     "Beneficiary_Bank_Country": recipient_bank_country,
#                     "Beneficiary_Bank": recipient_bank,
#                 })
                
#     return pd.DataFrame(transactions)

# # Generate High-Risk Country List Table
# def generate_high_risk_country_list():
#     data = []
    
#     # Map country codes to country names
#     for code, country in zip(country_codes, countries):
#         try:
#             # Fetch the country name based on the country code
#             country_name = pycountry.countries.get(alpha_2=code).name
#         except AttributeError:
#             country_name = country  # Fallback to the country name from the list
#         data.append({
#             "Country_ID": code,
#             "Country_Name": country_name,
#             "Risk_Level": random.choice(risk_rating_distribution)
#             #"Sanctions_Status": random.choice(binary_flag),
#             #"FATF_Categorization": random.choice(FATF_Cat)
#         })
#     return pd.DataFrame(data)

# # Generate Customer Risk Assessment Table
# def generate_customer_risk_assessment(customer_df):
#     assessments = []
#     for index, row in customer_df.iterrows():
#         customer_risk_level = random.choice(risk_rating_distribution)
#         #aml_alert_flag = "Yes" if customer_risk_level == "High" else "No"
#         assessments.append({
#             "Customer_ID": row["Customer_ID"],
#             "Risk_Level": customer_risk_level,
#             "Verification_Date": fake.date_this_year()
#             #"AML_Alert_Flag": aml_alert_flag
#         })
#     return pd.DataFrame(assessments)

# # Generate Beneficial Ownership Table
# def generate_beneficial_ownership(customer_df):
#     beneficial_owners = []
#     for index, row in customer_df.iterrows():
#         num_owners = random.randint(1, 3)  # Random number of beneficial owners
#         for _ in range(num_owners):
#             beneficial_owners.append({
#                 "Customer_ID": row["Customer_ID"],
#                 "Owner_Name": fake.name(),
#                 "Owner_Type": random.choice(cus_type_distribution),
#                 "Ownership_Percentage": random.randint(1, 100)
#             })
#     return pd.DataFrame(beneficial_owners)

# # Generate KYC Documents Table
# def generate_kyc_documents(customer_df):
#     kyc_documents = []
#     for index, row in customer_df.iterrows():
#         document_type = random.choice(doc_type_distribution)
#         document_status = random.choice(doc_status_distribution)
#         kyc_documents.append({
#             "Customer_ID": row["Customer_ID"],
#             "Document_Type": document_type,
#             "Document_Status": document_status,
#             "Verification_Date": fake.date_this_year()
#         })
#     return pd.DataFrame(kyc_documents)

# # Generate Correspondent Banking Transactions Table
# def generate_correspondent_banking_transactions(account_df, high_risk_country_df):
#     correspondent_transactions = []
#     for _ in range(50):  # Example size
#         transaction_id = str(random.randint(1, 999999))
#         account_id = random.choice(account_df["Account_ID"].values)
#         sender_country = random.choice(high_risk_country_df["Country_Name"].values)
#         receiver_country = fake.country()
#         transaction_amount = round(random.uniform(1000, 100000), 2)
#         correspondent_transactions.append({
#             "Transaction_ID": transaction_id,
#             "Account_ID": account_id,
#             "Sender_Country": sender_country,
#             "Receiver_Country": receiver_country,
#             "Transaction_Amount": transaction_amount
#         })
#     return pd.DataFrame(correspondent_transactions)

# # Generate Watchlist Table
# def generate_watchlist(customer_df):
#     watchlist = []
#     for index, row in customer_df.iterrows():
#         name = row["Customer_Name"]
#         w_type = random.choice(watchlist_type_distribution)
#         w_country = random.choice(countries)
#         w_sanctioning_body = random.choice(sanctioning_bodies)
#         w_list_type = random.choice(list_types)
#         w_date_added = fake.date_this_year()
#         w_pep_flag = "Yes" if w_list_type == "PEP" else "No"
#         watchlist.append({
#             "Entity_Name": name,
#             "Entity_Type": w_type,
#             "Entity_Country": w_country,
#             "Entity_Sanctioning_body": w_sanctioning_body,
#             "Entity_List_Type": w_list_type,
#             "Entity_Date_Added": w_date_added,
#             "Entity_PEP_Flag": w_pep_flag
#         })
#     return pd.DataFrame(watchlist)


# # Generate Data
# num_customers = 50000
# num_accounts = 40000
# num_transactions = 500000

# # Generate tables
# customer_df = generate_customer_table(num_customers)
# account_df = generate_account_table(num_accounts, customer_df)
# country_risk_df = generate_high_risk_country_list()

# transaction_df = generate_transaction_table(num_transactions, customer_df, account_df, country_risk_df)
# customer_risk_df = generate_customer_risk_assessment(customer_df)
# beneficial_ownership_df = generate_beneficial_ownership(customer_df)
# kyc_documents_df = generate_kyc_documents(customer_df)
# correspondent_banking_df = generate_correspondent_banking_transactions(account_df, country_risk_df)
# watchlist_df = generate_watchlist(customer_df)

# # Show the first few rows of the generated tables
# # print(customer_df.head())
# # print(account_df.head())
# # print(transaction_df.head())
# # print(high_risk_country_df.head())

In [9]:
customer_df.shape, account_df.shape, transaction_df.shape

((50000, 15), (40000, 6), (4306006, 19))

In [10]:
transaction_df.head(1)

,Transaction_ID,Account_ID,Transaction_Date,Amount,Currency,DR_CR_Flag,CB_Flag,Domestic_International_Tran_Flag,Payment_Method,Originator_ID,Originator_Country,Originator_Bank_Country,Originator_Bank,Intermediary_Bank_Country,Intermediary_Bank,Beneficiary_ID,Beneficiary_Country,Beneficiary_Bank_Country,Beneficiary_Bank
0,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,,,,,,,,,

In [11]:
transaction_df["Transaction_Date"] = pd.to_datetime(transaction_df["Transaction_Date"], errors="coerce")
transaction_df["tran_month"] = transaction_df["Transaction_Date"].dt.month #dt.month_name()
transaction_df["tran_year"] = transaction_df["Transaction_Date"].dt.year

In [12]:
transaction_df.head(1)

,Transaction_ID,Account_ID,Transaction_Date,Amount,Currency,DR_CR_Flag,CB_Flag,Domestic_International_Tran_Flag,Payment_Method,Originator_ID,Originator_Country,Originator_Bank_Country,Originator_Bank,Intermediary_Bank_Country,Intermediary_Bank,Beneficiary_ID,Beneficiary_Country,Beneficiary_Bank_Country,Beneficiary_Bank,tran_month,tran_year
0,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,,,,,,,,,,5,2023

### Segmentation

In [13]:
# Step 3: Define segmentation logic
def segment_customer(row):
    volume = row["Transaction_Volume"]
    value = row["Transaction_Value"]
    
    # Determine transaction volume category
    if volume < 50:
        volume_category = "Low"
    elif 50 <= volume <= 200:
        volume_category = "Medium"
    else:
        volume_category = "High"

    # Determine transaction value category
    if value < 1000:
        value_category = "Low"
    elif 1000 <= value < 10000:
        value_category = "Medium"
    else:
        value_category = "High"

    segment = f"{row['Customer_Type']}_{row['Risk_Rating']}_{volume_category}_{value_category}"
    
    return volume_category, value_category, segment
merged_df = transaction_df.merge(account_df, on='Account_ID').merge(customer_df, on='Customer_ID')

# Step 1: Aggregate transaction data by Customer_ID
transaction_summary = merged_df.groupby("Customer_ID").agg(
    Transaction_Volume=("Transaction_ID", "count"),
    Transaction_Value=("Amount", "sum"),
    Avg_Transaction_Value=("Amount", "mean")
).reset_index()

# Step 2: Merge with customer data
segmented_df = customer_df.merge(transaction_summary, on="Customer_ID", how="left").fillna(0)
# Apply segmentation
segmented_df[["Volume_Category", "Value_Category", "Segment"]] = segmented_df.apply(segment_customer, axis=1, result_type="expand")
segmented_df.head(3)
# Display sample results
#print(segmented_df[["Customer_ID", "Customer_Type", "Risk_Rating", "Transaction_Volume", "Transaction_Value", "Segment"]].head(10))

,Customer_ID,Customer_Name,Date_of_Birth,Gender,Address,Nationality,Phone_Number,Email,Customer_Type,Risk_Rating,Occupation,Salary,business_registered_country,business_registered_address,PEP_Flag,Transaction_Volume,Transaction_Value,Avg_Transaction_Value,Volume_Category,Value_Category,Segment
0,43423488,Bruce Roberts,1939-06-20,Male,"852 Kline Shore\nJustinville, PA 98177",Liberia,6850352171,jensenlinda@example.net,Individual,Medium,Pharmacist,155846,,,Yes,122.0,24958909.90,204581.228689,Medium,High,Individual_Medium_Medium_High
1,72613594,Kristen Rodriguez,1986-07-05,Female,"54967 Tami Lights Suite 625\nSouth Johnport, MD 92642",Svalbard and Jan Mayen Islands,5122270886,ryanjon@example.com,Business,Low,Marketing Manager,,Haiti,"8733 Martinez Turnpike Apt. 826\nPort Bryan, GU 06177",No,0.0,0.00,0.000000,Low,Low,Business_Low_Low_Low
2,81659344,Jeffrey Wolf,1944-05-16,Male,"17806 Julie Turnpike Apt. 485\nEricafort, WY 02982",Burundi,8235359858,edean@example.net,Business,Medium,Nurse,,Romania,"8112 Coffey Stream\nLake Cody, OK 88435",No,91.0,19840944.65,218032.358791,Medium,High,Business_Medium_Medium_High

In [14]:
#del merged_df, customer_df, beneficial_ownership_df, correspondent_banking_df

In [15]:
segmented_df.shape

(50000, 21)

In [16]:
account_count_by_val_cat = segmented_df.groupby("Value_Category")["Customer_ID"].nunique().reset_index()

account_count_by_val_cat

  Value_Category  Customer_ID
0           High        27582
1            Low        22404
2         Medium            1

In [17]:
segmented_df['Value_Category'].value_counts()

Value_Category
High      27592
Low       22407
Medium        1
Name: count, dtype: int64

In [18]:
transaction_df['Account_ID'].nunique(), account_df['Account_ID'].nunique()

(39175, 39175)

In [19]:
transaction_df['tran_year'].unique()

array([2023, 2024, 2025])

### Structured Transaction_ID

In [20]:
# we need to add new transactions ID -----------------------------  NEW CHANGE
transaction_df['Transaction_ID'] = (
    transaction_df['Account_ID'].astype(str) + '_' +
    transaction_df['Transaction_Date'].dt.strftime('%Y%m%d') + '_' +
    transaction_df['DR_CR_Flag'] + '_' +
    transaction_df.index.astype(str).str.zfill(4)  # 4 digit index
)

In [21]:
# Remove all copied transactions (those ending with '-C')
#transaction_df = transaction_df[~transaction_df['Transaction_ID'].str.endswith('-C')].copy()

## Duplicate+shift month Transaction_df in 2024 to add more alerts

In [22]:
# we need to duoble 90% of transactions with different month 
# add more consecutive alerts
from pandas.tseries.offsets import MonthEnd


# Convert Transaction_Date to datetime
transaction_df['Transaction_Date'] = pd.to_datetime(transaction_df['Transaction_Date'])#transaction_df['Transaction_Date_1']
#merged_df['Transaction_ID_1'] = merged_df['Customer_ID'].astype(str)+ '-'  + merged_df.groupby('Customer_ID').cumcount().add(1).astype(str).str.zfill(4)

# Filter the DataFrame for the selected customers duplicate transactions in 2024
filtered_df = transaction_df[transaction_df['tran_year']==2024].copy()

# Create the next month’s date for each record
from pandas.tseries.offsets import DateOffset
filtered_df['Transaction_Date'] = filtered_df['Transaction_Date'] + DateOffset(months=1)
filtered_df['Transaction_ID'] = filtered_df['Transaction_ID'] + '-C'

# ✅ Recalculate tran_year and tran_month from the updated Transaction_Date
filtered_df['tran_year'] = filtered_df['Transaction_Date'].dt.year
filtered_df['tran_month'] = filtered_df['Transaction_Date'].dt.month
# Concatenate original DataFrame with the updated records
transaction_df = pd.concat([transaction_df, filtered_df], ignore_index=True)

# Display the resulting DataFrame
transaction_df = transaction_df.sort_values(by='Transaction_Date')
transaction_df.head(2)

,Transaction_ID,Account_ID,Transaction_Date,Amount,Currency,DR_CR_Flag,CB_Flag,Domestic_International_Tran_Flag,Payment_Method,Originator_ID,Originator_Country,Originator_Bank_Country,Originator_Bank,Intermediary_Bank_Country,Intermediary_Bank,Beneficiary_ID,Beneficiary_Country,Beneficiary_Bank_Country,Beneficiary_Bank,tran_month,tran_year
0,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,,,,,,,,,,5,2023
1581,815850_20230509_Debit_1581,815850,2023-05-09,9936.83,CNY,Debit,No,International,Online Bank Transfer,,,,,,,,,,,5,2023

In [23]:
transaction_df.head(1)

,Transaction_ID,Account_ID,Transaction_Date,Amount,Currency,DR_CR_Flag,CB_Flag,Domestic_International_Tran_Flag,Payment_Method,Originator_ID,Originator_Country,Originator_Bank_Country,Originator_Bank,Intermediary_Bank_Country,Intermediary_Bank,Beneficiary_ID,Beneficiary_Country,Beneficiary_Bank_Country,Beneficiary_Bank,tran_month,tran_year
0,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,,,,,,,,,,5,2023

In [24]:
transaction_df[['Transaction_ID']][transaction_df['Transaction_ID'].str.endswith('-C')].head()

                         Transaction_ID
4307799  990838_20240101_Debit_572476-C
4306795  892101_20240101_Debit_571472-C
4306794   69792_20240101_Debit_571471-C
4306793  576183_20240101_Debit_571470-C
4306792  576183_20240101_Debit_571469-C

In [25]:
transaction_df[transaction_df['Transaction_ID'].str.startswith('989316_20240101_Credit_749636')]

Empty DataFrame
Columns: [Transaction_ID, Account_ID, Transaction_Date, Amount, Currency, DR_CR_Flag, CB_Flag, Domestic_International_Tran_Flag, Payment_Method, Originator_ID, Originator_Country, Originator_Bank_Country, Originator_Bank, Intermediary_Bank_Country, Intermediary_Bank, Beneficiary_ID, Beneficiary_Country, Beneficiary_Bank_Country, Beneficiary_Bank, tran_month, tran_year]
Index: []

### merged_df

In [26]:
merged_df = transaction_df.merge(account_df, on='Account_ID', how = 'inner').merge(segmented_df, on='Customer_ID', how = 'inner')

In [27]:
merged_df.head(3)

,Transaction_ID,Account_ID,Transaction_Date,Amount,Currency,DR_CR_Flag,CB_Flag,Domestic_International_Tran_Flag,Payment_Method,Originator_ID,Originator_Country,Originator_Bank_Country,Originator_Bank,Intermediary_Bank_Country,Intermediary_Bank,Beneficiary_ID,Beneficiary_Country,Beneficiary_Bank_Country,Beneficiary_Bank,tran_month,tran_year,Customer_ID,Account_Type,Status,Opened_Date,Close_Date,Customer_Name,Date_of_Birth,Gender,Address,Nationality,Phone_Number,Email,Customer_Type,Risk_Rating,Occupation,Salary,business_registered_country,business_registered_address,PEP_Flag,Transaction_Volume,Transaction_Value,Avg_Transaction_Value,Volume_Category,Value_Category,Segment
0,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,,,,,,,,,,5,2023,5348281,Business Savings,Closed,2024-09-07,2026-04-25,Laura Sullivan,1981-04-19,Female,"93995 Tyler Walks\nCameronside, IN 50227",Guatemala,9271672585,jonescole@example.com,Individual,Low,Software Engineer,112886,,,Yes,1188.0,1.158268e+08,97497.345724,High,High,Individual_Low_High_High
1,46676_20230509_Debit_1586,46676,2023-05-09,881.96,GBP,Debit,No,International,Wire Transfer,,,,,,,,,,,5,2023,5348281,Business Savings,Closed,2024-09-07,2026-04-25,Laura Sullivan,1981-04-19,Female,"93995 Tyler Walks\nCameronside, IN 50227",Guatemala,9271672585,jonescole@example.com,Individual,Low,Software Engineer,112886,,,Yes,1188.0,1.158268e+08,97497.345724,High,High,Individual_Low_High_High
2,46676_20230509_Debit_1587,46676,2023-05-09,881.96,GBP,Debit,No,International,Wire Transfer,,,,,,,,,,,5,2023,5348281,Business Savings,Closed,2024-09-07,2026-04-25,Laura Sullivan,1981-04-19,Female,"93995 Tyler Walks\nCameronside, IN 50227",Guatemala,9271672585,jonescole@example.com,Individual,Low,Software Engineer,112886,,,Yes,1188.0,1.158268e+08,97497.345724,High,High,Individual_Low_High_High

# 1-Rapid Movement of Funds Transfer

### All Customers

In [28]:
# Step 1: Join Tables
#merged_df = transaction_df.merge(account_df, on='Account_ID', how = 'inner').merge(segmented_df, on='Customer_ID', how = 'inner')

# Step 2: Identify Day 1 for each customer
min_dates = merged_df.groupby(['Customer_ID', 'tran_year', 'tran_month'])['Transaction_Date'].min().reset_index()
min_dates.rename(columns={'Transaction_Date': 'day1_date'}, inplace=True)

# Merge with transactions to mark Day 1 transactions
merged_df = merged_df.merge(min_dates, on=['Customer_ID', 'tran_year', 'tran_month'])
merged_df['day_diff'] = (merged_df['Transaction_Date'] - merged_df['day1_date']).dt.days

# Step 3: Compute WIRE Amount Debit on Day 1
wire_day1 = merged_df[
    (merged_df['Payment_Method'].isin(['Wire Transfer', 'Online Bank Transfer', 'ACH Transfer'])) & 
    (merged_df['DR_CR_Flag'] == 'Debit') & 
    (merged_df['day_diff'] == 0)
].groupby(['Customer_ID', 'tran_year', 'tran_month'])['Amount'].sum().reset_index()
wire_day1.rename(columns={'Amount': 'wire_debit_day1'}, inplace=True)

# Step 4: Filter Customers Where WIRE Debit on Day 1 > 0
valid_customers = wire_day1[wire_day1['wire_debit_day1'] > 0]['Customer_ID']
merged_df = merged_df[merged_df['Customer_ID'].isin(valid_customers)]

# Step 5: Compute 3-Day Cash Credit / Wire Debit Ratio
cash_credit_3d = merged_df[
    (merged_df['Payment_Method'].isin(['ATM', 'Bank Branch ATM', 'Bank Branch Cash'])) & 
    (merged_df['DR_CR_Flag'] == 'Credit') & 
    (merged_df['day_diff'] <= 5)
].groupby(['Customer_ID', 'tran_year', 'tran_month'])['Amount'].sum().reset_index()
cash_credit_3d.rename(columns={'Amount': 'cash_credit_3d'}, inplace=True)

wire_debit_3d = merged_df[
    (merged_df['Payment_Method'].isin(['Wire Transfer', 'Online Bank Transfer', 'ACH Transfer'])) & 
    (merged_df['DR_CR_Flag'] == 'Debit') & 
    (merged_df['day_diff'] <= 5)
].groupby(['Customer_ID', 'tran_year', 'tran_month'])['Amount'].sum().reset_index()
wire_debit_3d.rename(columns={'Amount': 'wire_debit_3d'}, inplace=True)

# Compute Ratio
ratio_df = cash_credit_3d.merge(wire_debit_3d, on=['Customer_ID', 'tran_year', 'tran_month'], how='outer').fillna(0)
ratio_df['cash_wire_ratio_3d'] = ratio_df['cash_credit_3d'] / ratio_df['wire_debit_3d']
ratio_df.replace([float('inf'), -float('inf')], 0, inplace=True)

# Step 6: Compute ABS(1 - CASH Credit / WIRE Debit) * 100
cash_credit_total = merged_df[
    (merged_df['Payment_Method'].isin(['ATM', 'Bank Branch ATM', 'Bank Branch Cash'])) & 
    (merged_df['DR_CR_Flag'] == 'Credit')
].groupby(['Customer_ID', 'tran_year', 'tran_month'])['Amount'].sum().reset_index()
cash_credit_total.rename(columns={'Amount': 'cash_credit_total'}, inplace=True)

wire_debit_total = merged_df[
    (merged_df['Payment_Method'].isin(['Wire Transfer', 'Online Bank Transfer', 'ACH Transfer'])) & 
    (merged_df['DR_CR_Flag'] == 'Debit')
].groupby(['Customer_ID', 'tran_year', 'tran_month'])['Amount'].sum().reset_index()
wire_debit_total.rename(columns={'Amount': 'wire_debit_total'}, inplace=True)

# Compute Deviation
deviation_df = cash_credit_total.merge(wire_debit_total, on=['Customer_ID', 'tran_year', 'tran_month'], how='outer').fillna(0)
deviation_df['cash_wire_deviation'] = abs(1 - deviation_df['cash_credit_total'] / deviation_df['wire_debit_total']) * 100
deviation_df.replace([float('inf'), -float('inf')], 0, inplace=True)

# Step 7: Combine All Metrics
final_df = wire_day1.merge(ratio_df, on=['Customer_ID', 'tran_year', 'tran_month'], how='inner').merge(deviation_df, on=['Customer_ID', 'tran_year', 'tran_month'], how='inner')

# Keep Only Customers Where WIRE Amount Debit on Day 1 > 0
final_df = final_df[final_df['wire_debit_day1'] > 0]


# ### ----------------- New ADD -----------------###
# # Step 8: Add Transaction IDs as a list per customer-month
# tx_ids = merged_df.groupby(['Customer_ID', 'tran_year', 'tran_month'])['Transaction_ID'].apply(list).reset_index()
# tx_ids.rename(columns={'Transaction_ID': 'transaction_ids'}, inplace=True)

# # Merge into final_df
# final_df = final_df.merge(tx_ids, on=['Customer_ID', 'tran_year', 'tran_month'], how='left')
# ### ----------------- ^ New ADD UP ^-----------------###

In [29]:
final_df.head()

,Customer_ID,tran_year,tran_month,wire_debit_day1,cash_credit_3d,wire_debit_3d,cash_wire_ratio_3d,cash_credit_total,wire_debit_total,cash_wire_deviation
0,1000408,2023,5,919619.92,0.00,919619.92,0.000000,0.00,919619.92,100.000000
1,1000408,2023,9,19937.24,9968.62,20199.20,0.493516,9968.62,2371357.52,99.579624
2,1000408,2023,11,1935471.36,0.00,1935471.36,0.000000,0.00,1935471.36,100.000000
3,1000408,2023,12,11520.93,0.00,11520.93,0.000000,0.00,1464085.31,100.000000
4,1000408,2024,1,2331.81,0.00,2331.81,0.000000,0.00,2331.81,100.000000

In [30]:
final_df_1 = final_df.merge(segmented_df[['Customer_ID', 'Segment']], on=['Customer_ID'], how = 'inner')

In [31]:
final_df_1.head()

,Customer_ID,tran_year,tran_month,wire_debit_day1,cash_credit_3d,wire_debit_3d,cash_wire_ratio_3d,cash_credit_total,wire_debit_total,cash_wire_deviation,Segment
0,1000408,2023,5,919619.92,0.00,919619.92,0.000000,0.00,919619.92,100.000000,Individual_Low_Medium_High
1,1000408,2023,9,19937.24,9968.62,20199.20,0.493516,9968.62,2371357.52,99.579624,Individual_Low_Medium_High
2,1000408,2023,11,1935471.36,0.00,1935471.36,0.000000,0.00,1935471.36,100.000000,Individual_Low_Medium_High
3,1000408,2023,12,11520.93,0.00,11520.93,0.000000,0.00,1464085.31,100.000000,Individual_Low_Medium_High
4,1000408,2024,1,2331.81,0.00,2331.81,0.000000,0.00,2331.81,100.000000,Individual_Low_Medium_High

In [32]:
final_df_2 = final_df_1[final_df_1['cash_credit_3d'] != 0]
final_df_2.head()

,Customer_ID,tran_year,tran_month,wire_debit_day1,cash_credit_3d,wire_debit_3d,cash_wire_ratio_3d,cash_credit_total,wire_debit_total,cash_wire_deviation,Segment
1,1000408,2023,9,19937.24,9968.62,20199.20,0.493516,9968.62,2371357.52,99.579624,Individual_Low_Medium_High
8,1000408,2024,6,19967.60,9983.80,19967.60,0.500000,9983.80,19967.60,50.000000,Individual_Low_Medium_High
9,1000408,2024,7,59902.80,29951.40,59902.80,0.500000,29951.40,59902.80,50.000000,Individual_Low_Medium_High
22,10006034,2023,10,782.97,782.97,782.97,1.000000,782.97,782.97,0.000000,Individual_Medium_Medium_High
24,10006034,2024,2,110312.02,110312.02,110501.23,0.998288,110312.02,110501.23,0.171229,Individual_Medium_Medium_High

In [33]:
percentiles = final_df_1.drop(columns=['Customer_ID', 'tran_year', 'tran_month', 'cash_credit_total', 'wire_debit_total', 'cash_wire_deviation'])\
                        .groupby('Segment')\
                        .quantile([0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99, 1])\
                        .reset_index()
percentiles

,Segment,level_1,wire_debit_day1,cash_credit_3d,wire_debit_3d,cash_wire_ratio_3d
0,Business_High_High_High,0.10,7.023300e+02,0.000000e+00,9.636420e+02,0.000000
1,Business_High_High_High,0.25,1.882740e+03,0.000000e+00,3.668025e+03,0.000000
2,Business_High_High_High,0.50,1.210716e+04,0.000000e+00,3.970922e+04,0.000000
3,Business_High_High_High,0.75,4.244560e+05,0.000000e+00,1.368970e+06,0.000000
4,Business_High_High_High,0.90,2.448791e+06,8.411040e+03,4.357948e+06,0.333333
5,Business_High_High_High,0.95,5.247063e+06,2.468206e+05,7.657858e+06,0.500000
6,Business_High_High_High,0.99,1.557053e+07,1.923604e+06,2.346306e+07,1.000000
7,Business_High_High_High,1.00,4.019353e+07,7.203374e+06,5.981114e+07,2.930151
8,Business_High_Low_High,0.10,7.035960e+02,0.000000e+00,7.102140e+02,0.000000
9,Business_High_Low_High,0.25,1.625040e+03,0.000000e+00,1.733500e+03,0.000000
10,Business_High_Low_High,0.50,1.161375e+04,0.000000e+00,1.280049e+04,0.000000
11,Business_High_Low_High,0.75,8.773738e+05,0.000000e+00,8.773738e+05,0.000000
12,Business_High_Low_High,0.90,2.700945e+06,9.390720e+02,2.710958e+06,0.399541
13,Business_High_Low_High,0.95,5.049118e+06,3.411726e+05,5.049118e+06,0.500000
14,Business_High_Low_High,0.99,7.024410e+06,1.867007e+06,7.024410e+06,1.000000
15,Business_High_Low_High,1.00,1.104734e+07,2.816747e+06,1.104734e+07,1.000000
16,Business_High_Medium_High,0.10,6.454460e+02,0.000000e+00,7.443200e+02,0.000000
17,Business_High_Medium_High,0.25,1.561380e+03,0.000000e+00,1.991580e+03,0.000000
18,Business_High_Medium_High,0.50,9.943560e+03,0.000000e+00,1.990802e+04,0.000000
19,Business_High_Medium_High,0.75,3.904043e+05,0.000000e+00,7.770239e+05,0.000000
20,Business_High_Medium_High,0.90,1.967707e+06,2.253192e+03,2.466445e+06,0.333333
21,Business_High_Medium_High,0.95,3.176688e+06,3.205449e+04,4.284725e+06,0.500000
22,Business_High_Medium_High,0.99,6.976548e+06,1.471602e+06,7.756398e+06,1.000000
23,Business_High_Medium_High,1.00,1.176640e+07,4.436844e+06,1.668967e+07,1293.612409
24,Business_Low_High_High,0.10,7.682520e+02,0.000000e+00,1.181568e+03,0.000000
25,Business_Low_High_High,0.25,1.978060e+03,0.000000e+00,4.440300e+03,0.000000
26,Business_Low_High_High,0.50,1.672620e+04,0.000000e+00,5.422252e+04,0.000000
27,Business_Low_High_High,0.75,6.019804e+05,0.000000e+00,1.477986e+06,0.000000
28,Business_Low_High_High,0.90,2.748991e+06,7.947512e+03,4.674759e+06,0.333333
29,Business_Low_High_High,0.95,5.464470e+06,2.082831e+05,7.569819e+06,0.500000
30,Business_Low_High_High,0.99,1.199385e+07,2.359368e+06,1.974280e+07,1.000000
31,Business_Low_High_High,1.00,6.895224e+07,1.182959e+07,7.323162e+07,565.638401
32,Business_Low_Low_High,0.10,6.149560e+02,0.000000e+00,6.529800e+02,0.000000
33,Business_Low_Low_High,0.25,1.586030e+03,0.000000e+00,1.665915e+03,0.000000
34,Business_Low_Low_High,0.50,1.286022e+04,0.000000e+00,1.657700e+04,0.000000
35,Business_Low_Low_High,0.75,5.817969e+05,0.000000e+00,6.814246e+05,0.000000
36,Business_Low_Low_High,0.90,1.987068e+06,7.119220e+02,2.088325e+06,0.333333
37,Business_Low_Low_High,0.95,2.918747e+06,2.970231e+04,2.980027e+06,0.500000
38,Business_Low_Low_High,0.99,5.953662e+06,1.028078e+06,6.604254e+06,1.000000
39,Business_Low_Low_High,1.00,1.188418e+07,2.918680e+06,1.546788e+07,1.000000
40,Business_Low_Medium_High,0.10,6.736410e+02,0.000000e+00,8.113170e+02,0.000000
41,Business_Low_Medium_High,0.25,1.675477e+03,0.000000e+00,2.194483e+03,0.000000
42,Business_Low_Medium_High,0.50,1.091094e+04,0.000000e+00,2.049286e+04,0.000000
43,Business_Low_Medium_High,0.75,4.129870e+05,0.000000e+00,8.065040e+05,0.000000
44,Business_Low_Medium_High,0.90,1.956097e+06,1.657002e+03,2.501385e+06,0.333333
45,Business_Low_Medium_High,0.95,3.163476e+06,2.995690e+04,4.320055e+06,0.500000
46,Business_Low_Medium_High,0.99,7.218311e+06,1.291106e+06,8.058746e+06,1.000000
47,Business_Low_Medium_High,1.00,1.586780e+07,4.079903e+06,1.786376e+07,3736.411898
48,Business_Medium_High_High,0.10,7.725220e+02,0.000000e+00,1.040643e+03,0.000000
49,Business_Medium_High_High,0.25,1.937467e+03,0.000000e+00,4.318352e+03,0.000000
50,Business_Medium_High_High,0.50,1.459733e+04,0.000000e+00,4.890360e+04,0.000000
51,Business_Medium_High_High,0.75,4.728109e+05,0.000000e+00,1.463919e+06,0.000000
52,Business_Medium_High_High,0.90,2.558520e+06,9.951432e+03,4.747656e+06,0.333333
53,Business_Medium_High_High,0.95,5.258225e+06,3.811895e+05,7.928692e+06,0.500000
54,Business_Medium_High_High,0.99,1.353980e+07,2.307973e+06,2.204806e+07,1.000000
55,Business_Medium_High_High,1.00,6.895224e+07,1.040988e+07,7.324258e+07,5.396696
56,Business_Medium_Low_High,0.10,5.158860e+02,0.000000e+00,6.212780e+02,0.000000
57,Business_Medium_Low_High,0.25,1.562527e+03,0.000000e+00,1.683840e+03,0.000000
58,Business_Medium_Low_High,0.50,9.988080e+03,0.000000e+00,1.463791e+04,0.000000
59,Business_Medium_Low_High,0.75,5.180065e+05,0.000000e+00,6.702709e+05,0.000000
60,Business_Medium_Low_High,0.90,2.031298e+06,3.157628e+03,2.060816e+06,0.500000
61,Business_Medium_Low_High,0.95,2.973328e+06,3.952056e+04,2.982323e+06,0.500000
62,Business_Medium_Low_High,0.99,4.822426e+06,1.204430e+06,4.822426e+06,1.000000
63,Business_Medium_Low_High,1.00,6.333588e+06,2.561928e+06,6.333588e+06,1.000000
64,Business_Medium_Medium_High,0.10,6.553200e+02,0.000000e+00,7.960260e+02,0.000000
65,Business_Medium_Medium_High,0.25,1.659360e+03,0.000000e+00,2.166360e+03,0.000000
66,Business_Medium_Medium_High,0.50,9.956780e+03,0.000000e+00,1.998502e+04,0.000000
67,Business_Medium_Medium_High,0.75,4.208749e+05,0.000000e+00,8.359750e+05,0.000000
68,Business_Medium_Medium_High,0.90,2.025997e+06,1.749600e+03,2.568391e+06,0.333333
69,Business_Medium_Medium_High,0.95,3.451525e+06,2.984763e+04,4.469097e+06,0.500000
70,Business_Medium_Medium_High,0.99,7.310795e+06,1.337012e+06,8.166017e+06,1.000000
71,Business_Medium_Medium_High,1.00,1.172265e+07,2.968915e+06,1.637203e+07,15.003874
72,Individual_High_High_High,0.10,7.420640e+02,0.000000e+00,1.080170e+03,0.000000
73,Individual_High_High_High,0.25,1.956620e+03,0.000000e+00,4.190800e+03,0.000000
74,Individual_High_High_High,0.50,1.698507e+04,0.000000e+00,5.340744e+04,0.000000
75,Individual_High_High_High,0.75,5.046560e+05,0.000000e+00,1.416251e+06,0.000000
76,Individual_High_High_High,0.90,2.391267e+06,8.964814e+03,4.437405e+06,0.333026
77,Individual_High_High_High,0.95,4.951208e+06,1.977640e+05,7.368858e+06,0.500000
78,Individual_High_High_High,0.99,1.069947e+07,2.214145e+06,1.716072e+07,1.000000
79,Individual_High_High_High,1.00,5.915483e+07,1.192432e+07,7.323405e+07,8772.871809
80,Individual_High_Low_High,0.10,7.310300e+02,0.000000e+00,7.630600e+02,0.000000
81,Individual_High_Low_High,0.25,1.538820e+03,0.000000e+00,1.645920e+03,0.000000
82,Individual_High_Low_High,0.50,9.142710e+03,0.000000e+00,9.991600e+03,0.000000
83,Individual_High_Low_High,0.75,2.546674e+05,0.000000e+00,3.290048e+05,0.000000
84,Individual_High_Low_High,0.90,1.655555e+06,4.950900e+02,1.746507e+06,0.333333
85,Individual_High_Low_High,0.95,2.774287e+06,2.535036e+04,2.821699e+06,0.500000
86,Individual_High_Low_High,0.99,5.901122e+06,8.958069e+05,5.901122e+06,1.000000
87,Individual_High_Low_High,1.00,9.092739e+06,1.891599e+06,9.092739e+06,1.000000
88,Individual_High_Medium_High,0.10,6.610890e+02,0.000000e+00,7.993780e+02,0.000000
89,Individual_High_Medium_High,0.25,1.628295e+03,0.000000e+00,2.075670e+03,0.000000
90,Individual_High_Medium_High,0.50,9.948945e+03,0.000000e+00,1.989282e+04,0.000000
91,Individual_High_Medium_High,0.75,3.188790e+05,0.000000e+00,6.767261e+05,0.000000
92,Individual_High_Medium_High,0.90,1.873212e+06,1.055710e+03,2.325088e+06,0.333333
93,Individual_High_Medium_High,0.95,2.984514e+06,2.970696e+04,3.919731e+06,0.500000
94,Individual_High_Medium_High,0.99,7.107740e+06,1.024825e+06,7.930455e+06,1.000000
95,Individual_High_Medium_High,1.00,1.366014e+07,5.189027e+06,2.257611e+07,568.713287
96,Individual_Low_High_High,0.10,7.738750e+02,0.000000e+00,1.163428e+03,0.000000
97,Individual_Low_High_High,0.25,1.967580e+03,0.000000e+00,4.407970e+03,0.000000
98,Individual_Low_High_High,0.50,1.614195e+04,0.000000e+00,5.174922e+04,0.000000
99,Individual_Low_High_High,0.75,5.053615e+05,0.000000e+00,1.433023e+06,0.000000
100,Individual_Low_High_High,0.90,2.566297e+06,7.862271e+03,4.516671e+06,0.333333
101,Individual_Low_High_High,0.95,5.182364e+06,2.761697e+05,7.511886e+06,0.500000
102,Individual_Low_High_High,0.99,1.204956e+07,2.457736e+06,2.025523e+07,1.000000
103,Individual_Low_High_High,1.00,6.895224e+07,1.192432e+07,6.895224e+07,1854.022496
104,Individual_Low_Low_High,0.10,5.845500e+02,0.000000e+00,6.208920e+02,0.000000
105,Individual_Low_Low_High,0.25,1.448520e+03,0.000000e+00,1.587720e+03,0.000000
106,Individual_Low_Low_High,0.50,9.684640e+03,0.000000e+00,1.183089e+04,0.000000
107,Individual_Low_Low_High,0.75,3.671282e+05,0.000000e+00,4.859617e+05,0.000000
108,Individual_Low_Low_High,0.90,1.884104e+06,5.936020e+02,1.967804e+06,0.333333
109,Individual_Low_Low_High,0.95,2.930688e+06,1.234812e+04,3.019057e+06,0.500000
110,Individual_Low_Low_High,0.99,7.214441e+06,9.556508e+05,7.312104e+06,1.000000
111,Individual_Low_Low_High,1.00,9.835803e+06,2.904751e+06,1.390698e+07,9.427556
112,Individual_Low_Medium_High,0.10,6.693000e+02,0.000000e+00,7.974720e+02,0.000000
113,Individual_Low_Medium_High,0.25,1.663200e+03,0.000000e+00,2.136800e+03,0.000000
114,Individual_Low_Medium_High,0.50,1.085328e+04,0.000000e+00,1.999236e+04,0.000000
115,Individual_Low_Medium_High,0.75,4.198809e+05,0.000000e+00,8.038573e+05,0.000000
116,Individual_Low_Medium_High,0.90,1.977025e+06,1.540908e+03,2.533879e+06,0.333333
117,Individual_Low_Medium_High,0.95,3.254167e+06,2.991153e+04,4.314170e+06,0.500000
118,Individual_Low_Medium_High,0.99,7.092934e+06,1.349016e+06,8.019483e+06,1.000000
119,Individual_Low_Medium_High,1.00,2.013693e+07,5.227706e+06,2.089269e+07,1650.108467
120,Individual_Medium_High_High,0.10,7.556700e+02,0.000000e+00,1.144240e+03,0.000000
121,Individual_Medium_High_High,0.25,1.992320e+03,0.000000e+00,4.418570e+03,0.000000
122,Individual_Medium_High_High,0.50,1.610469e+04,0.000000e+00,5.169744e+04,0.000000
123,Individual_Medium_High_High,0.75,5.930804e+05,0.000000e+00,1.489853e+06,0.000000
124,Individual_Medium_High_High,0.90,2.699164e+06,7.453920e+03,4.560552e+06,0.333333
125,Individual_Medium_High_High,0.95,5.275021e+06,1.982782e+05,7.669667e+06,0.500000
126,Individual_Medium_High_High,0.99,1.373521e+07,2.296499e+06,2.081350e+07,1.000000
127,Individual_Medium_High_High,1.00,5.915483e+07,1.104426e+07,6.188438e+07,27.373248
128,Individual_Medium_Low_High,0.10,6.555500e+02,0.000000e+00,6.930500e+02,0.000000
129,Individual_Medium_Low_High,0.25,1.574835e+03,0.000000e+00,1.732600e+03,0.000000
130,Individual_Medium_Low_High,0.50,1.044738e+04,0.000000e+00,1.472195e+04,0.000000
131,Individual_Medium_Low_High,0.75,5.299360e+05,0.000000e+00,6.159211e+05,0.000000
132,Individual_Medium_Low_High,0.90,1.899381e+06,1.190010e+03,1.981507e+06,0.333333
133,Individual_Medium_Low_High,0.95,2.964355e+06,2.982585e+04,3.110358e+06,0.500000
134,Individual_Medium_Low_High,0.99,6.050270e+06,8.545582e+05,6.052366e+06,1.000000
135,Individual_Medium_Low_High,1.00,8.787520e+06,2.517104e+06,8.787961e+06,1.000000
136,Individual_Medium_Low_Medium,0.10,4.698800e+02,0.000000e+00,4.698800e+02,0.000000
137,Individual_Medium_Low_Medium,0.25,4.698800e+02,0.000000e+00,4.698800e+02,0.000000
138,Individual_Medium_Low_Medium,0.50,9.921300e+02,0.000000e+00,9.921300e+02,0.000000
139,Individual_Medium_Low_Medium,0.75,1.409640e+03,0.000000e+00,1.409640e+03,0.000000
140,Individual_Medium_Low_Medium,0.90,1.409640e+03,0.000000e+00,1.409640e+03,0.000000
141,Individual_Medium_Low_Medium,0.95,1.409640e+03,0.000000e+00,1.409640e+03,0.000000
142,Individual_Medium_Low_Medium,0.99,1.409640e+03,0.000000e+00,1.409640e+03,0.000000
143,Individual_Medium_Low_Medium,1.00,1.409640e+03,0.000000e+00,1.409640e+03,0.000000
144,Individual_Medium_Medium_High,0.10,6.744150e+02,0.000000e+00,8.031850e+02,0.000000
145,Individual_Medium_Medium_High,0.25,1.647600e+03,0.000000e+00,2.104410e+03,0.000000
146,Individual_Medium_Medium_High,0.50,9.989205e+03,0.000000e+00,1.993310e+04,0.000000
147,Individual_Medium_Medium_High,0.75,3.603511e+05,0.000000e+00,7.395213e+05,0.000000
148,Individual_Medium_Medium_High,0.90,1.941549e+06,1.456110e+03,2.471275e+06,0.333333
149,Individual_Medium_Medium_High,0.95,3.048984e+06,2.986998e+04,4.214360e+06,0.500000
150,Individual_Medium_Medium_High,0.99,7.123828e+06,1.353258e+06,7.917969e+06,1.000000
151,Individual_Medium_Medium_High,1.00,1.208761e+07,5.425433e+06,2.106460e+07,795.474524

In [34]:
percentiles['Segment'].unique()

array(['Business_High_High_High', 'Business_High_Low_High',
       'Business_High_Medium_High', 'Business_Low_High_High',
       'Business_Low_Low_High', 'Business_Low_Medium_High',
       'Business_Medium_High_High', 'Business_Medium_Low_High',
       'Business_Medium_Medium_High', 'Individual_High_High_High',
       'Individual_High_Low_High', 'Individual_High_Medium_High',
       'Individual_Low_High_High', 'Individual_Low_Low_High',
       'Individual_Low_Medium_High', 'Individual_Medium_High_High',
       'Individual_Medium_Low_High', 'Individual_Medium_Low_Medium',
       'Individual_Medium_Medium_High'], dtype=object)

In [35]:
# Count unique customers in each segment
customer_counts = final_df_1.groupby('Segment')['Customer_ID'].nunique().reset_index()

# Rename columns for clarity
customer_counts.columns = ['Segment', 'Customer_Count']

# Display results
customer_counts

                          Segment  Customer_Count
0         Business_High_High_High             165
1          Business_High_Low_High              25
2       Business_High_Medium_High             493
3          Business_Low_High_High            1102
4           Business_Low_Low_High             210
5        Business_Low_Medium_High            3534
6       Business_Medium_High_High             299
7        Business_Medium_Low_High              45
8     Business_Medium_Medium_High             967
9       Individual_High_High_High             465
10       Individual_High_Low_High              83
11    Individual_High_Medium_High            1514
12       Individual_Low_High_High            3243
13        Individual_Low_Low_High             572
14     Individual_Low_Medium_High           10718
15    Individual_Medium_High_High             988
16     Individual_Medium_Low_High             155
17   Individual_Medium_Low_Medium               1
18  Individual_Medium_Medium_High            3009

In [36]:
# Define segment-wise percentile thresholds
percentile_mapping = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Function to get the correct percentile based on segment name
def get_percentile(segment):
    for key in percentile_mapping:
        if segment.startswith(key):  # Match segment category
            return percentile_mapping[key]
    return None  # Default case (if segment doesn't match)

# Compute percentiles for each segment
results = []
for segment in final_df_2['Segment'].unique():
    threshold = get_percentile(segment)
    if threshold is not None:
        segment_data = final_df_2[final_df_2['Segment'] == segment].drop(
            columns=['Segment','Customer_ID', 'tran_year', 'tran_month', 'cash_credit_total', 'wire_debit_total', 'cash_wire_deviation']
        ).quantile(threshold)
        segment_data['Segment'] = segment  # Add segment for clarity
        segment_data['Percentile'] = threshold  # Store applied percentile
        results.append(segment_data)

# Convert list to DataFrame
percentiles_df = pd.DataFrame(results).reset_index()

# Display results
# print(percentiles_df)

In [37]:
percentiles_df.head()

,index,wire_debit_day1,cash_credit_3d,wire_debit_3d,cash_wire_ratio_3d,Segment,Percentile
0,0.95,3279355.680,1659547.668,4801531.954,1.0,Individual_Low_Medium_High,0.95
1,0.90,1847813.006,890898.827,2803073.910,1.0,Individual_Medium_Medium_High,0.90
2,0.80,773095.408,403538.118,1435577.952,0.5,Individual_High_Medium_High,0.80
3,0.90,2041738.743,859742.140,2729143.809,1.0,Business_Medium_Medium_High,0.90
4,0.95,5182364.070,2476365.540,8620415.942,1.0,Individual_Low_High_High,0.95

In [38]:
import pandas as pd

# Define segment-specific percentile thresholds
segment_thresholds = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Compute percentile thresholds for each segment, year, and month
percentile_dfs = []
for segment, threshold in segment_thresholds.items():
    segment_df = final_df_2[final_df_2['Segment'] == segment]
    percentiles = (
        segment_df
        .groupby(['tran_year', 'tran_month'])
        [['cash_credit_3d', 'wire_debit_3d', 'cash_wire_ratio_3d']]
        .quantile(threshold)
        .reset_index()
    )
    percentiles['Segment'] = segment  # Add segment column back
    percentile_dfs.append(percentiles)

# Concatenate all percentiles into a single DataFrame
percentile_df = pd.concat(percentile_dfs, ignore_index=True)

# Merge percentile thresholds back into the main DataFrame
final_df_2 = final_df_2.merge(percentile_df, on=['tran_year', 'tran_month', 'Segment'], how='left', suffixes=('', '_threshold'))

# Generate alerts for customers exceeding segment-specific thresholds
final_df_2['Alert_Flag_RMF'] = (
    (final_df_2['cash_credit_3d'] > final_df_2['cash_credit_3d_threshold']) |
    (final_df_2['wire_debit_3d'] > final_df_2['wire_debit_3d_threshold']) |
    (final_df_2['cash_wire_ratio_3d'] > final_df_2['cash_wire_ratio_3d_threshold'])
).astype(int)

# Filter only alerted customers
alert_customers = final_df_2[final_df_2['Alert_Flag_RMF'] == 1]

# -----------------------------  Changed_ ADDED  ----------------------------#

alert_customers = alert_customers.copy()
alert_customers['Violation_ID'] = (
    "RMF_" +
    alert_customers['Customer_ID'].astype(str) + "-" +
    alert_customers['tran_year'].astype(str) + "-" +
    alert_customers['tran_month'].astype(str)
)


# Display the alerted customers
alert_customers[['Violation_ID','Customer_ID', 'tran_year', 'tran_month', 'Segment', 'cash_credit_3d', 'wire_debit_3d', 'cash_wire_ratio_3d', 'Alert_Flag_RMF']]

,Violation_ID,Customer_ID,tran_year,tran_month,Segment,cash_credit_3d,wire_debit_3d,cash_wire_ratio_3d,Alert_Flag_RMF
3,RMF_10006034-2023-10,10006034,2023,10,Individual_Medium_Medium_High,782.97,782.97,1.000000,1
4,RMF_10006034-2024-2,10006034,2024,2,Individual_Medium_Medium_High,110312.02,110501.23,0.998288,1
5,RMF_10006034-2024-3,10006034,2024,3,Individual_Medium_Medium_High,330936.06,331503.69,0.998288,1
15,RMF_10006084-2024-7,10006084,2024,7,Individual_High_Medium_High,439.60,2886644.22,0.000152,1
49,RMF_10048137-2023-5,10048137,2023,5,Business_Low_Low_High,725760.73,1451521.46,0.500000,1
...,...,...,...,...,...,...,...,...,...
76867,RMF_99919974-2023-12,99919974,2023,12,Business_Medium_High_High,856412.25,2569236.75,0.333333,1
76868,RMF_99919974-2024-12,99919974,2024,12,Business_Medium_High_High,200.03,200.03,1.000000,1
76874,RMF_99925791-2023-7,99925791,2023,7,Individual_Low_Medium_High,918912.65,1837825.30,0.500000,1
76891,RMF_9995130-2023-8,9995130,2023,8,Business_Low_Medium_High,913764.72,2741294.16,0.333333,1
76908,RMF_99971505-2023-5,99971505,2023,5,Individual_High_Medium_High,399.08,399.08,1.000000,1

### New Customers

In [39]:
import pandas as pd

# Step 1: Ensure datetime columns
merged_df['Transaction_Date'] = pd.to_datetime(merged_df['Transaction_Date'])
merged_df['Opened_Date'] = pd.to_datetime(merged_df['Opened_Date'])

# Step 2: Extract transaction and opened year/month
merged_df['tran_year'] = merged_df['Transaction_Date'].dt.year
merged_df['tran_month'] = merged_df['Transaction_Date'].dt.month
merged_df['opened_year'] = merged_df['Opened_Date'].dt.year
merged_df['opened_month'] = merged_df['Opened_Date'].dt.month

# Step 3: Filter customers onboarded and transacted in the same month
merged_df_same_month = merged_df[
    (merged_df['tran_year'] == merged_df['opened_year']) &
    (merged_df['tran_month'] == merged_df['opened_month'])
].copy()

# Step 4: Sort data and set proper index
merged_df_same_month = merged_df_same_month.sort_values(['Customer_ID', 'Transaction_Date'])
merged_df_same_month.set_index('Transaction_Date', inplace=True)

# Step 5: Compute Rolling Features
rolling_results = []

for cust_id, group in merged_df_same_month.groupby('Customer_ID'):
    group = group.sort_index()

    # Create rolling 3-day windows for Credits and Debits separately
    credit_mask = (group['DR_CR_Flag'] == 'Credit')
    debit_mask = (group['DR_CR_Flag'] == 'Debit')

    group['Credit_Count_3D'] = credit_mask.rolling('3D').sum()
    group['Credit_Amount_3D'] = (group['Amount'] * credit_mask).rolling('3D').sum()

    group['Debit_Count_3D'] = debit_mask.rolling('3D').sum()
    group['Debit_Amount_3D'] = (group['Amount'] * debit_mask).rolling('3D').sum()

    # Calculate % difference safely
    group['Percent_Diff_Debit_Credit_Count'] = (
        (group['Credit_Count_3D'] - group['Debit_Count_3D']) /
        group['Credit_Count_3D'].replace(0, 1)
    ) * 100

    group['Customer_ID'] = cust_id  # Ensure Customer_ID remains after index reset

    rolling_results.append(group.reset_index())

# Step 6: Combine all results
rolling_combined = pd.concat(rolling_results, ignore_index=True)

# Step 7: Add transaction year and month
rolling_combined['tran_year'] = rolling_combined['Transaction_Date'].dt.year
rolling_combined['tran_month'] = rolling_combined['Transaction_Date'].dt.month

# Step 8: Aggregate at Customer_ID, Year, Month
final_3d_summary = rolling_combined.groupby(['Customer_ID', 'tran_year', 'tran_month']).agg({
    'Credit_Count_3D': 'max',
    'Credit_Amount_3D': 'max',
    'Debit_Count_3D': 'max',
    'Percent_Diff_Debit_Credit_Count': 'mean'
}).reset_index()

# Step 9: View Output
final_3d_summary.head()

,Customer_ID,tran_year,tran_month,Credit_Count_3D,Credit_Amount_3D,Debit_Count_3D,Percent_Diff_Debit_Credit_Count
0,1000408,2024,3,0.0,0.00,9.0,-500.0
1,10006034,2023,5,0.0,0.00,3.0,-200.0
2,10006084,2023,9,0.0,0.00,4.0,-250.0
3,10006084,2025,4,0.0,0.00,3.0,-200.0
4,10013207,2025,3,1.0,9913.81,3.0,-50.0

In [40]:
final_3d_summary_1 = final_3d_summary.merge(segmented_df[['Customer_ID', 'Segment']], on=['Customer_ID'], how = 'inner')

In [41]:
percentiles = final_3d_summary_1.drop(columns=['Customer_ID', 'tran_year', 'tran_month'])\
                        .groupby('Segment')\
                        .quantile([0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99, 1])\
                        .reset_index()
percentiles

,Segment,level_1,Credit_Count_3D,Credit_Amount_3D,Debit_Count_3D,Percent_Diff_Debit_Credit_Count
0,Business_High_High_High,0.10,0.00,0.000000e+00,2.00,-695.576923
1,Business_High_High_High,0.25,0.00,0.000000e+00,3.00,-437.272727
2,Business_High_High_High,0.50,1.00,3.553040e+03,6.50,-211.250000
3,Business_High_High_High,0.75,3.00,4.939035e+05,12.00,-141.865079
4,Business_High_High_High,0.90,4.00,1.881747e+06,21.00,-51.111111
5,Business_High_High_High,0.95,12.00,2.774677e+06,39.60,-6.597222
6,Business_High_High_High,0.99,16.00,8.466741e+06,81.96,16.500000
7,Business_High_High_High,1.00,24.00,1.168195e+07,96.00,100.000000
8,Business_High_Low_High,0.10,0.00,0.000000e+00,1.80,-254.000000
9,Business_High_Low_High,0.25,0.00,0.000000e+00,3.00,-200.000000
10,Business_High_Low_High,0.50,1.00,6.967200e+02,3.00,-150.000000
11,Business_High_Low_High,0.75,3.00,5.535469e+05,6.00,-22.222222
12,Business_High_Low_High,0.90,3.00,1.145888e+06,7.20,-3.333333
13,Business_High_Low_High,0.95,3.00,1.981317e+06,9.60,23.333333
14,Business_High_Low_High,0.99,3.00,2.649661e+06,11.52,44.666667
15,Business_High_Low_High,1.00,3.00,2.816747e+06,12.00,50.000000
16,Business_High_Medium_High,0.10,0.00,0.000000e+00,2.00,-490.588235
17,Business_High_Medium_High,0.25,0.00,0.000000e+00,3.00,-284.495192
18,Business_High_Medium_High,0.50,1.00,9.314100e+02,4.00,-200.000000
19,Business_High_Medium_High,0.75,3.00,7.523947e+04,9.00,-111.507937
20,Business_High_Medium_High,0.90,3.00,1.236452e+06,12.00,-50.000000
21,Business_High_Medium_High,0.95,3.10,1.831484e+06,15.00,0.000000
22,Business_High_Medium_High,0.99,6.00,2.829637e+06,21.00,50.000000
23,Business_High_Medium_High,1.00,7.00,2.996214e+06,22.00,100.000000
24,Business_Low_High_High,0.10,0.00,0.000000e+00,2.00,-650.000000
25,Business_Low_High_High,0.25,0.00,0.000000e+00,3.00,-415.104167
26,Business_Low_High_High,0.50,1.00,2.482865e+03,6.00,-200.000000
27,Business_Low_High_High,0.75,3.00,1.851061e+05,12.00,-133.333333
28,Business_Low_High_High,0.90,4.00,1.497391e+06,21.00,-50.000000
29,Business_Low_High_High,0.95,12.00,2.611395e+06,40.00,-20.281250
30,Business_Low_High_High,0.99,16.00,7.695790e+06,72.00,50.000000
31,Business_Low_High_High,1.00,27.00,1.132096e+07,108.00,100.000000
32,Business_Low_Low_High,0.10,0.00,0.000000e+00,2.00,-500.000000
33,Business_Low_Low_High,0.25,0.00,0.000000e+00,2.00,-250.000000
34,Business_Low_Low_High,0.50,1.00,8.777400e+02,3.00,-150.000000
35,Business_Low_Low_High,0.75,1.00,1.560364e+04,6.00,-66.666667
36,Business_Low_Low_High,0.90,3.00,6.891041e+05,11.20,0.000000
37,Business_Low_Low_High,0.95,3.00,9.864282e+05,12.00,0.000000
38,Business_Low_Low_High,0.99,3.16,2.120964e+06,12.48,100.000000
39,Business_Low_Low_High,1.00,4.00,2.555873e+06,15.00,100.000000
40,Business_Low_Medium_High,0.10,0.00,0.000000e+00,2.00,-500.000000
41,Business_Low_Medium_High,0.25,0.00,0.000000e+00,3.00,-321.428571
42,Business_Low_Medium_High,0.50,1.00,9.699200e+02,5.00,-200.000000
43,Business_Low_Medium_High,0.75,3.00,4.144390e+04,9.00,-116.666667
44,Business_Low_Medium_High,0.90,3.00,8.138095e+05,12.00,-50.000000
45,Business_Low_Medium_High,0.95,3.00,1.586820e+06,14.00,0.000000
46,Business_Low_Medium_High,0.99,6.00,2.737883e+06,18.00,50.000000
47,Business_Low_Medium_High,1.00,9.00,5.124305e+06,30.00,100.000000
48,Business_Medium_High_High,0.10,0.00,0.000000e+00,2.00,-650.000000
49,Business_Medium_High_High,0.25,0.00,0.000000e+00,3.00,-424.038462
50,Business_Medium_High_High,0.50,1.00,2.037210e+03,6.00,-200.000000
51,Business_Medium_High_High,0.75,3.00,1.498099e+05,12.00,-131.121795
52,Business_Medium_High_High,0.90,4.00,1.109893e+06,18.00,-50.000000
53,Business_Medium_High_High,0.95,12.00,2.162704e+06,36.00,-15.277778
54,Business_Medium_High_High,0.99,24.00,3.224480e+06,72.00,50.000000
55,Business_Medium_High_High,1.00,27.00,6.152049e+06,288.00,68.750000
56,Business_Medium_Low_High,0.10,0.00,0.000000e+00,1.60,-500.000000
57,Business_Medium_Low_High,0.25,0.00,0.000000e+00,2.00,-200.000000
58,Business_Medium_Low_High,0.50,1.00,8.243000e+01,3.00,-133.333333
59,Business_Medium_Low_High,0.75,1.00,9.880700e+02,4.00,-50.000000
60,Business_Medium_Low_High,0.90,3.00,1.788533e+04,9.00,28.571429
61,Business_Medium_Low_High,0.95,3.00,9.018161e+04,9.60,50.000000
62,Business_Medium_Low_High,0.99,3.00,2.834005e+05,11.52,50.000000
63,Business_Medium_Low_High,1.00,3.00,3.317052e+05,12.00,50.000000
64,Business_Medium_Medium_High,0.10,0.00,0.000000e+00,2.00,-500.000000
65,Business_Medium_Medium_High,0.25,0.00,0.000000e+00,3.00,-310.000000
66,Business_Medium_Medium_High,0.50,1.00,1.362270e+03,4.00,-200.000000
67,Business_Medium_Medium_High,0.75,3.00,5.957772e+04,9.00,-104.166667
68,Business_Medium_Medium_High,0.90,3.00,8.556601e+05,12.00,-50.000000
69,Business_Medium_Medium_High,0.95,3.00,1.503570e+06,13.00,0.000000
70,Business_Medium_Medium_High,0.99,6.00,2.678937e+06,21.00,50.000000
71,Business_Medium_Medium_High,1.00,6.00,2.968915e+06,27.00,100.000000
72,Individual_High_High_High,0.10,0.00,0.000000e+00,2.00,-650.000000
73,Individual_High_High_High,0.25,0.00,0.000000e+00,3.00,-390.684698
74,Individual_High_High_High,0.50,1.00,2.627400e+03,6.00,-200.000000
75,Individual_High_High_High,0.75,3.00,2.938991e+05,12.00,-133.333333
76,Individual_High_High_High,0.90,4.00,1.223301e+06,18.00,-64.814815
77,Individual_High_High_High,0.95,7.75,2.374084e+06,36.00,-27.603383
78,Individual_High_High_High,0.99,19.80,3.003875e+06,60.00,50.000000
79,Individual_High_High_High,1.00,54.00,1.132380e+07,189.00,100.000000
80,Individual_High_Low_High,0.10,0.00,0.000000e+00,1.00,-500.000000
81,Individual_High_Low_High,0.25,0.00,0.000000e+00,2.00,-225.000000
82,Individual_High_Low_High,0.50,1.00,4.901400e+02,3.00,-150.000000
83,Individual_High_Low_High,0.75,1.00,2.041901e+04,6.00,-70.370370
84,Individual_High_Low_High,0.90,3.00,5.518518e+05,9.00,-50.000000
85,Individual_High_Low_High,0.95,3.00,9.039375e+05,10.50,-33.333333
86,Individual_High_Low_High,0.99,3.70,1.404408e+06,12.00,26.666667
87,Individual_High_Low_High,1.00,4.00,1.593514e+06,12.00,50.000000
88,Individual_High_Medium_High,0.10,0.00,0.000000e+00,2.00,-500.000000
89,Individual_High_Medium_High,0.25,0.00,0.000000e+00,3.00,-289.444444
90,Individual_High_Medium_High,0.50,1.00,9.124600e+02,4.00,-200.000000
91,Individual_High_Medium_High,0.75,3.00,3.527605e+04,9.00,-121.161616
92,Individual_High_Medium_High,0.90,3.00,8.345313e+05,12.00,-50.000000
93,Individual_High_Medium_High,0.95,3.00,1.613103e+06,13.70,0.000000
94,Individual_High_Medium_High,0.99,6.00,2.777759e+06,21.00,50.000000
95,Individual_High_Medium_High,1.00,9.00,2.996594e+06,27.00,100.000000
96,Individual_Low_High_High,0.10,0.00,0.000000e+00,2.00,-650.000000
97,Individual_Low_High_High,0.25,0.00,0.000000e+00,3.00,-400.000000
98,Individual_Low_High_High,0.50,1.00,2.440915e+03,6.00,-200.000000
99,Individual_Low_High_High,0.75,3.00,2.080489e+05,12.00,-133.333333
100,Individual_Low_High_High,0.90,4.00,1.314255e+06,20.00,-50.000000
101,Individual_Low_High_High,0.95,12.00,2.475875e+06,36.00,0.000000
102,Individual_Low_High_High,0.99,16.00,7.666512e+06,80.00,50.000000
103,Individual_Low_High_High,1.00,36.00,1.695796e+07,162.00,100.000000
104,Individual_Low_Low_High,0.10,0.00,0.000000e+00,1.90,-394.584860
105,Individual_Low_Low_High,0.25,0.00,0.000000e+00,2.00,-250.000000
106,Individual_Low_Low_High,0.50,1.00,2.353000e+02,3.00,-176.111111
107,Individual_Low_Low_High,0.75,1.00,8.165575e+03,6.00,-83.333333
108,Individual_Low_Low_High,0.90,3.00,5.774865e+05,9.00,-16.666667
109,Individual_Low_Low_High,0.95,3.00,9.754542e+05,12.00,0.000000
110,Individual_Low_Low_High,0.99,3.00,2.401868e+06,12.00,90.500000
111,Individual_Low_Low_High,1.00,6.00,2.523504e+06,13.00,100.000000
112,Individual_Low_Medium_High,0.10,0.00,0.000000e+00,2.00,-500.000000
113,Individual_Low_Medium_High,0.25,0.00,0.000000e+00,3.00,-315.677350
114,Individual_Low_Medium_High,0.50,1.00,9.674200e+02,4.00,-200.000000
115,Individual_Low_Medium_High,0.75,3.00,4.150003e+04,9.00,-116.666667
116,Individual_Low_Medium_High,0.90,3.00,9.028048e+05,12.00,-50.000000
117,Individual_Low_Medium_High,0.95,3.00,1.784027e+06,14.00,0.000000
118,Individual_Low_Medium_High,0.99,6.00,2.791132e+06,21.00,50.000000
119,Individual_Low_Medium_High,1.00,9.00,5.176134e+06,39.00,100.000000
120,Individual_Medium_High_High,0.10,0.00,0.000000e+00,2.00,-650.000000
121,Individual_Medium_High_High,0.25,0.00,0.000000e+00,3.00,-416.137218
122,Individual_Medium_High_High,0.50,1.00,2.592440e+03,6.00,-200.000000
123,Individual_Medium_High_High,0.75,3.00,3.592466e+05,12.00,-133.333333
124,Individual_Medium_High_High,0.90,4.00,1.459711e+06,19.60,-50.000000
125,Individual_Medium_High_High,0.95,12.00,2.622034e+06,37.20,0.000000
126,Individual_Medium_High_High,0.99,16.00,6.600524e+06,73.84,50.000000
127,Individual_Medium_High_High,1.00,36.00,1.182974e+07,135.00,100.000000
128,Individual_Medium_Low_High,0.10,0.00,0.000000e+00,2.00,-440.000000
129,Individual_Medium_Low_High,0.25,0.00,0.000000e+00,3.00,-250.000000
130,Individual_Medium_Low_High,0.50,1.00,8.258000e+01,3.00,-200.000000
131,Individual_Medium_Low_High,0.75,1.00,2.428020e+03,6.00,-94.444444
132,Individual_Medium_Low_High,0.90,3.00,5.250126e+05,9.00,-50.000000
133,Individual_Medium_Low_High,0.95,3.00,8.739461e+05,9.00,0.000000
134,Individual_Medium_Low_High,0.99,3.00,1.855292e+06,12.00,100.000000
135,Individual_Medium_Low_High,1.00,3.00,2.517104e+06,12.00,100.000000
136,Individual_Medium_Medium_High,0.10,0.00,0.000000e+00,2.00,-500.000000
137,Individual_Medium_Medium_High,0.25,0.00,0.000000e+00,3.00,-309.901961
138,Individual_Medium_Medium_High,0.50,1.00,1.406160e+03,4.00,-200.000000
139,Individual_Medium_Medium_High,0.75,3.00,7.581839e+04,9.00,-108.730159
140,Individual_Medium_Medium_High,0.90,3.00,8.864985e+05,12.00,-50.000000
141,Individual_Medium_Medium_High,0.95,3.00,1.746178e+06,14.00,0.000000
142,Individual_Medium_Medium_High,0.99,6.00,2.841198e+06,21.00,50.000000
143,Individual_Medium_Medium_High,1.00,7.00,4.372467e+06,31.00,100.000000

In [42]:
# Define segment-wise percentile thresholds
percentile_mapping = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Function to get the correct percentile based on segment name
def get_percentile(segment):
    for key in percentile_mapping:
        if segment.startswith(key):  # Match segment category
            return percentile_mapping[key]
    return None  # Default case (if segment doesn't match)

# Compute percentiles for each segment
results = []
for segment in final_3d_summary_1['Segment'].unique():
    threshold = get_percentile(segment)
    if threshold is not None:
        segment_data = final_3d_summary_1[final_3d_summary_1['Segment'] == segment].drop(
            columns=['Segment','Customer_ID', 'tran_year', 'tran_month', 'Credit_Count_3D', 'Credit_Amount_3D', 'Debit_Count_3D', 'Percent_Diff_Debit_Credit_Count']
        ).quantile(threshold)
        segment_data['Segment'] = segment  # Add segment for clarity
        segment_data['Percentile'] = threshold  # Store applied percentile
        results.append(segment_data)

# Convert list to DataFrame
percentiles_df = pd.DataFrame(results).reset_index()

# Display results
percentiles_df

    index                        Segment  Percentile
0    0.95     Individual_Low_Medium_High        0.95
1    0.90  Individual_Medium_Medium_High        0.90
2    0.80    Individual_High_Medium_High        0.80
3    0.90    Business_Medium_Medium_High        0.90
4    0.95       Individual_Low_High_High        0.95
5    0.95       Business_Low_Medium_High        0.95
6    0.95         Business_Low_High_High        0.95
7    0.90    Individual_Medium_High_High        0.90
8    0.80      Business_High_Medium_High        0.80
9    0.95        Individual_Low_Low_High        0.95
10   0.95          Business_Low_Low_High        0.95
11   0.80      Individual_High_High_High        0.80
12   0.90      Business_Medium_High_High        0.90
13   0.90     Individual_Medium_Low_High        0.90
14   0.80       Individual_High_Low_High        0.80
15   0.90       Business_Medium_Low_High        0.90
16   0.80         Business_High_Low_High        0.80

In [43]:
import pandas as pd

# Define segment-specific percentile thresholds
segment_thresholds = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Compute percentile thresholds for each segment, year, and month
percentile_dfs = []
for segment, threshold in segment_thresholds.items():
    segment_df = final_3d_summary_1[final_3d_summary_1['Segment'] == segment]
    percentiles = (
        segment_df
        .groupby(['tran_year', 'tran_month'])
        [['Credit_Count_3D', 'Credit_Amount_3D', 'Debit_Count_3D', 'Percent_Diff_Debit_Credit_Count']]
        .quantile(threshold)
        .reset_index()
    )
    percentiles['Segment'] = segment  # Add segment column back
    percentile_dfs.append(percentiles)

# Concatenate all percentiles into a single DataFrame
percentile_df = pd.concat(percentile_dfs, ignore_index=True)

# Merge percentile thresholds back into the main DataFrame
final_3d_summary_1 = final_3d_summary_1.merge(percentile_df, on=['tran_year', 'tran_month', 'Segment'], how='left', suffixes=('', '_threshold'))

# Generate alerts for customers exceeding segment-specific thresholds
final_3d_summary_1['Alert_Flag_RMF'] = (
    (final_3d_summary_1['Credit_Count_3D'] > final_3d_summary_1['Credit_Count_3D_threshold']) |
    (final_3d_summary_1['Credit_Amount_3D'] > final_3d_summary_1['Credit_Amount_3D_threshold']) |
    (final_3d_summary_1['Debit_Count_3D'] > final_3d_summary_1['Debit_Count_3D_threshold']) |
    (final_3d_summary_1['Percent_Diff_Debit_Credit_Count'] > final_3d_summary_1['Percent_Diff_Debit_Credit_Count_threshold'])
).astype(int)

# Filter only alerted customers
alert_customers_nc = final_3d_summary_1[final_3d_summary_1['Alert_Flag_RMF'] == 1]

# -----------------------------  Changed_ ADDED  ----------------------------#

alert_customers_nc = alert_customers_nc.copy()
alert_customers_nc['Violation_ID'] = (
    "RMF_" +
    alert_customers_nc['Customer_ID'].astype(str) + "-" +
    alert_customers_nc['tran_year'].astype(str) + "-" +
    alert_customers_nc['tran_month'].astype(str)
)
# -----------------------------  Changed_ ADDED  ----------------------------#
# Display the alerted customers
alert_customers_nc[['Violation_ID','Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Credit_Count_3D', 'Credit_Amount_3D', 'Debit_Count_3D', 'Percent_Diff_Debit_Credit_Count', 'Alert_Flag_RMF']]

,Violation_ID,Customer_ID,tran_year,tran_month,Segment,Credit_Count_3D,Credit_Amount_3D,Debit_Count_3D,Percent_Diff_Debit_Credit_Count,Alert_Flag_RMF
5,RMF_10015181-2024-4,10015181,2024,4,Business_Medium_Medium_High,3.0,2320255.20,3.0,47.222222,1
10,RMF_10040358-2025-3,10040358,2025,3,Individual_Low_Medium_High,1.0,916.12,6.0,-314.285714,1
16,RMF_10054192-2023-12,10054192,2023,12,Individual_Low_Medium_High,1.0,31134.86,2.0,28.571429,1
21,RMF_10081079-2024-9,10081079,2024,9,Individual_Medium_Medium_High,4.0,12404.38,11.0,-240.079365,1
26,RMF_10102495-2024-4,10102495,2024,4,Business_High_Medium_High,3.0,2048102.64,9.0,-164.285714,1
...,...,...,...,...,...,...,...,...,...,...
24934,RMF_99834853-2023-12,99834853,2023,12,Individual_Low_Low_High,1.0,758907.59,3.0,-114.285714,1
24936,RMF_99841924-2023-8,99841924,2023,8,Individual_Medium_High_High,0.0,0.00,12.0,-570.000000,1
24945,RMF_99895749-2025-1,99895749,2025,1,Individual_Medium_Medium_High,3.0,527786.85,3.0,16.666667,1
24950,RMF_99918724-2025-3,99918724,2025,3,Individual_Medium_High_High,1.0,27875.67,1.0,50.000000,1
24951,RMF_99919974-2023-5,99919974,2023,5,Business_Medium_High_High,1.0,899964.92,1.0,50.000000,1

In [44]:
required_columns = ['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_RMF']
alerts_rmf_ac = alert_customers[required_columns]
alerts_rmf_nc = alert_customers_nc[required_columns]

# *************************** Changed
alert_customers_rmf = pd.concat([alerts_rmf_ac, alerts_rmf_nc], ignore_index=True)

In [45]:
alert_customers_rmf.head()

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF
0,10006034,2023,10,Individual_Medium_Medium_High,1
1,10006034,2024,2,Individual_Medium_Medium_High,1
2,10006034,2024,3,Individual_Medium_Medium_High,1
3,10006084,2024,7,Individual_High_Medium_High,1
4,10048137,2023,5,Business_Low_Low_High,1

In [46]:
alert_customers_rmf['Customer_ID'].nunique()

8663

In [47]:
final_df_2['Customer_ID'].nunique()

21364

# Structuring Behavior

In [48]:
import pandas as pd

# Step 1: Merge and filter cash transactions
merged_df = transaction_df.merge(account_df, on='Account_ID', how='left')\
                          .merge(customer_df, on='Customer_ID', how='left')

cash_df = merged_df[
    (merged_df['Payment_Method'].isin(['ATM', 'Bank Branch ATM', 'Bank Branch Cash'])) &
    (merged_df['DR_CR_Flag'] == 'Credit')
][['Customer_ID', 'Transaction_Date', 'Amount']].copy()

# Step 2: Ensure Transaction_Date is datetime
cash_df['Transaction_Date'] = pd.to_datetime(cash_df['Transaction_Date'])

# Step 3: Extract tran_year and tran_month
cash_df['tran_year'] = cash_df['Transaction_Date'].dt.year
cash_df['tran_month'] = cash_df['Transaction_Date'].dt.month_name()

# Step 4: Sort by Customer_ID and Transaction_Date
cash_df = cash_df.sort_values(['Customer_ID', 'Transaction_Date'])

# Step 5: Set Transaction_Date as index
cash_df.set_index('Transaction_Date', inplace=True)

# Step 6: Group by Customer_ID and apply rolling logic
results = []

for customer_id, group in cash_df.groupby('Customer_ID'):
    group = group.sort_index()

    # Rolling window calculations
    group['Amount_1D_Sum'] = group['Amount'].rolling('1D').sum()
    group['Amount_2D_Sum'] = group['Amount'].rolling('2D').sum()
    group['Amount_3D_Sum'] = group['Amount'].rolling('3D').sum()

    group['Txn_Count_1D'] = group['Amount'].rolling('1D').count()
    group['Txn_Count_2D'] = group['Amount'].rolling('2D').count()
    group['Txn_Count_3D'] = group['Amount'].rolling('3D').count()

    group['Txn_Present_1D'] = (group['Txn_Count_1D'] >= 1).astype(int)
    group['Txn_Present_2D'] = (group['Txn_Count_2D'] >= 1).astype(int)
    group['Txn_Present_3D'] = (group['Txn_Count_3D'] >= 1).astype(int)

    # Add back Customer_ID, tran_year, tran_month
    group['Customer_ID'] = customer_id
    group['tran_year'] = group.index.year
    group['tran_month'] = group.index.month_name()

    results.append(group.reset_index())

# Step 7: Combine all customers back
final_episode_view = pd.concat(results, ignore_index=True)

# Step 8: Final Output Columns
final_episode_view = final_episode_view[['Customer_ID', 'Transaction_Date', 'tran_year', 'tran_month', 'Amount',
                                         'Amount_1D_Sum', 'Amount_2D_Sum', 'Amount_3D_Sum',
                                         'Txn_Count_1D', 'Txn_Count_2D', 'Txn_Count_3D',
                                         'Txn_Present_1D', 'Txn_Present_2D', 'Txn_Present_3D']]

# View sample
final_episode_view.head()

,Customer_ID,Transaction_Date,tran_year,tran_month,Amount,Amount_1D_Sum,Amount_2D_Sum,Amount_3D_Sum,Txn_Count_1D,Txn_Count_2D,Txn_Count_3D,Txn_Present_1D,Txn_Present_2D,Txn_Present_3D
0,1000408,2023-09-07,2023,September,9968.62,9968.62,9968.62,9968.62,1.0,1.0,1.0,1,1,1
1,1000408,2024-06-28,2024,June,9983.80,9983.80,9983.80,9983.80,1.0,1.0,1.0,1,1,1
2,1000408,2024-07-28,2024,July,9983.80,9983.80,9983.80,9983.80,1.0,1.0,1.0,1,1,1
3,1000408,2024-07-28,2024,July,9983.80,19967.60,19967.60,19967.60,2.0,2.0,2.0,1,1,1
4,1000408,2024-07-28,2024,July,9983.80,29951.40,29951.40,29951.40,3.0,3.0,3.0,1,1,1

In [49]:
final_episode_view.shape

(348877, 14)

In [50]:
final_episode_view['Customer_ID'].nunique()

23561

In [51]:
final_episode_view[final_episode_view['Customer_ID'] == '95441277']

Empty DataFrame
Columns: [Customer_ID, Transaction_Date, tran_year, tran_month, Amount, Amount_1D_Sum, Amount_2D_Sum, Amount_3D_Sum, Txn_Count_1D, Txn_Count_2D, Txn_Count_3D, Txn_Present_1D, Txn_Present_2D, Txn_Present_3D]
Index: []

In [52]:
merged_df[merged_df['Customer_ID'] == '95441277']

Empty DataFrame
Columns: [Transaction_ID, Account_ID, Transaction_Date, Amount, Currency, DR_CR_Flag, CB_Flag, Domestic_International_Tran_Flag, Payment_Method, Originator_ID, Originator_Country, Originator_Bank_Country, Originator_Bank, Intermediary_Bank_Country, Intermediary_Bank, Beneficiary_ID, Beneficiary_Country, Beneficiary_Bank_Country, Beneficiary_Bank, tran_month, tran_year, Customer_ID, Account_Type, Status, Opened_Date, Close_Date, Customer_Name, Date_of_Birth, Gender, Address, Nationality, Phone_Number, Email, Customer_Type, Risk_Rating, Occupation, Salary, business_registered_country, business_registered_address, PEP_Flag]
Index: []

### Detection Rules - Structuring Behavior

In [53]:
import pandas as pd

# Assume final_episode_view already exists from previous steps

# Set your Lookback Window
lookback_days = 365  # example: last 365 days

# Step 1: Define Lookback Cutoff Date
reference_date = final_episode_view['Transaction_Date'].max()
cutoff_date = reference_date - pd.Timedelta(days=lookback_days)

# Step 2: Filter data inside lookback window
lookback_df = final_episode_view[final_episode_view['Transaction_Date'] >= cutoff_date].copy()

# Step 3: Define Structuring Episode (Customize conditions)
# Example: Sum over 3D > 0 and at least 1 transaction in 3D
lookback_df['Episode_Flag'] = ((lookback_df['Amount_3D_Sum'] > 0) & (lookback_df['Txn_Count_3D'] >= 1)).astype(int)

# Step 4: Create Active Day Flag
lookback_df['Active_Day_Flag'] = (lookback_df['Amount'] > 0).astype(int)

# Step 5: Aggregate at Customer_ID + tran_year + tran_month level
episode_summary = lookback_df.groupby(['Customer_ID', 'tran_year', 'tran_month']).agg(
    Total_Episodes=('Episode_Flag', 'sum'),
    Total_Txn_Count=('Amount', 'count'),
    Total_Txn_Amount=('Amount', 'sum'),
    Active_Days=('Active_Day_Flag', 'sum'),
    Total_Days=('Transaction_Date', 'nunique')
).reset_index()

# Step 6: Calculate Percent Active Days
# Note: Instead of dividing by fixed `lookback_days`, divide by actual Total_Days in that month
episode_summary['Percent_Active_Days'] = (episode_summary['Active_Days'] / episode_summary['Total_Days']) * 100

# Step 7: Final Output
episode_summary.head()

,Customer_ID,tran_year,tran_month,Total_Episodes,Total_Txn_Count,Total_Txn_Amount,Active_Days,Total_Days,Percent_Active_Days
0,1000408,2024,August,3,3,29951.40,3,1,300.0
1,1000408,2024,July,3,3,29951.40,3,1,300.0
2,1000408,2024,June,1,1,9983.80,1,1,100.0
3,1000408,2024,September,1,1,9983.80,1,1,100.0
4,1000408,2025,March,1,1,9925.45,1,1,100.0

In [54]:
episode_summary_1 = episode_summary.merge(segmented_df[['Customer_ID', 'Segment']], on=['Customer_ID'], how = 'inner')

In [55]:
episode_summary[episode_summary['Total_Episodes'] == 4]

,Customer_ID,tran_year,tran_month,Total_Episodes,Total_Txn_Count,Total_Txn_Amount,Active_Days,Total_Days,Percent_Active_Days
47,10040358,2024,August,4,4,2217.31,4,2,200.0
51,10040358,2024,May,4,4,1796.83,4,2,200.0
55,10040457,2024,August,4,4,1915.48,4,1,400.0
59,10048968,2024,July,4,4,581082.70,4,2,200.0
60,10048968,2024,June,4,4,1737453.46,4,2,200.0
...,...,...,...,...,...,...,...,...,...
84585,99931243,2024,May,4,4,33156.82,4,2,200.0
84607,99963383,2024,July,4,4,2805169.22,4,2,200.0
84609,99963383,2024,May,4,4,3437566.86,4,2,200.0
84625,99977671,2024,August,4,4,792936.51,4,2,200.0
84628,99977671,2024,October,4,4,2375322.81,4,2,200.0

In [56]:
percentiles = episode_summary_1.drop(columns=['Customer_ID', 'tran_year', 'tran_month', 'Total_Episodes', 'Total_Days', 'Percent_Active_Days'])\
                        .groupby('Segment')\
                        .quantile([0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99, 1])\
                        .reset_index()
percentiles

,Segment,level_1,Total_Txn_Count,Total_Txn_Amount,Active_Days
0,Business_High_High_High,0.10,1.00,5.493650e+02,1.00
1,Business_High_High_High,0.25,1.00,1.710267e+03,1.00
2,Business_High_High_High,0.50,3.00,9.993395e+03,3.00
3,Business_High_High_High,0.75,4.00,4.797974e+05,4.00
4,Business_High_High_High,0.90,7.00,1.749880e+06,7.00
5,Business_High_High_High,0.95,12.00,2.824535e+06,12.00
6,Business_High_High_High,0.99,16.00,7.240022e+06,16.00
7,Business_High_High_High,1.00,36.00,1.131375e+07,36.00
8,Business_High_Low_High,0.10,1.00,5.955100e+02,1.00
9,Business_High_Low_High,0.25,1.00,2.227290e+03,1.00
10,Business_High_Low_High,0.50,1.00,1.487713e+05,1.00
11,Business_High_Low_High,0.75,3.00,4.974860e+05,3.00
12,Business_High_Low_High,0.90,3.00,1.023518e+06,3.00
13,Business_High_Low_High,0.95,4.00,2.341470e+06,4.00
14,Business_High_Low_High,0.99,5.36,2.664658e+06,5.36
15,Business_High_Low_High,1.00,6.00,2.816747e+06,6.00
16,Business_High_Medium_High,0.10,1.00,4.323500e+02,1.00
17,Business_High_Medium_High,0.25,1.00,9.725300e+02,1.00
18,Business_High_Medium_High,0.50,2.00,9.908200e+03,2.00
19,Business_High_Medium_High,0.75,3.00,4.039603e+05,3.00
20,Business_High_Medium_High,0.90,4.00,1.394139e+06,4.00
21,Business_High_Medium_High,0.95,5.00,2.344093e+06,5.00
22,Business_High_Medium_High,0.99,6.00,2.912678e+06,6.00
23,Business_High_Medium_High,1.00,12.00,4.436844e+06,12.00
24,Business_Low_High_High,0.10,1.00,5.687820e+02,1.00
25,Business_Low_High_High,0.25,1.00,1.870455e+03,1.00
26,Business_Low_High_High,0.50,3.00,1.376432e+04,3.00
27,Business_Low_High_High,0.75,4.00,5.396494e+05,4.00
28,Business_Low_High_High,0.90,12.00,2.003664e+06,12.00
29,Business_Low_High_High,0.95,12.00,2.844984e+06,12.00
30,Business_Low_High_High,0.99,24.00,8.746364e+06,24.00
31,Business_Low_High_High,1.00,36.00,1.457246e+07,36.00
32,Business_Low_Low_High,0.10,1.00,4.182500e+02,1.00
33,Business_Low_Low_High,0.25,1.00,7.698350e+02,1.00
34,Business_Low_Low_High,0.50,1.00,3.955050e+03,1.00
35,Business_Low_Low_High,0.75,3.00,3.198296e+05,3.00
36,Business_Low_Low_High,0.90,3.00,9.449985e+05,3.00
37,Business_Low_Low_High,0.95,4.00,1.926239e+06,4.00
38,Business_Low_Low_High,0.99,6.00,2.863986e+06,6.00
39,Business_Low_Low_High,1.00,6.00,2.920260e+06,6.00
40,Business_Low_Medium_High,0.10,1.00,4.215060e+02,1.00
41,Business_Low_Medium_High,0.25,1.00,9.268550e+02,1.00
42,Business_Low_Medium_High,0.50,2.00,9.904350e+03,2.00
43,Business_Low_Medium_High,0.75,3.00,4.051307e+05,3.00
44,Business_Low_Medium_High,0.90,4.00,1.197524e+06,4.00
45,Business_Low_Medium_High,0.95,4.00,2.146988e+06,4.00
46,Business_Low_Medium_High,0.99,6.00,2.908725e+06,6.00
47,Business_Low_Medium_High,1.00,12.00,5.655774e+06,12.00
48,Business_Medium_High_High,0.10,1.00,5.654970e+02,1.00
49,Business_Medium_High_High,0.25,1.00,1.699753e+03,1.00
50,Business_Medium_High_High,0.50,3.00,2.109608e+04,3.00
51,Business_Medium_High_High,0.75,4.00,6.057933e+05,4.00
52,Business_Medium_High_High,0.90,12.00,1.985148e+06,12.00
53,Business_Medium_High_High,0.95,12.00,2.784112e+06,12.00
54,Business_Medium_High_High,0.99,27.19,8.986226e+06,27.19
55,Business_Medium_High_High,1.00,54.00,1.183861e+07,54.00
56,Business_Medium_Low_High,0.10,1.00,5.476540e+02,1.00
57,Business_Medium_Low_High,0.25,1.00,1.275615e+03,1.00
58,Business_Medium_Low_High,0.50,1.00,7.581090e+03,1.00
59,Business_Medium_Low_High,0.75,3.00,3.886365e+05,3.00
60,Business_Medium_Low_High,0.90,3.00,1.173613e+06,3.00
61,Business_Medium_Low_High,0.95,3.00,2.211429e+06,3.00
62,Business_Medium_Low_High,0.99,3.00,2.561928e+06,3.00
63,Business_Medium_Low_High,1.00,3.00,2.561928e+06,3.00
64,Business_Medium_Medium_High,0.10,1.00,4.154400e+02,1.00
65,Business_Medium_Medium_High,0.25,1.00,9.320000e+02,1.00
66,Business_Medium_Medium_High,0.50,2.00,9.469650e+03,2.00
67,Business_Medium_Medium_High,0.75,3.00,3.331440e+05,3.00
68,Business_Medium_Medium_High,0.90,4.00,1.086142e+06,4.00
69,Business_Medium_Medium_High,0.95,4.00,2.042134e+06,4.00
70,Business_Medium_Medium_High,0.99,7.00,2.805684e+06,7.00
71,Business_Medium_Medium_High,1.00,12.00,3.515812e+06,12.00
72,Individual_High_High_High,0.10,1.00,6.029400e+02,1.00
73,Individual_High_High_High,0.25,1.00,1.805910e+03,1.00
74,Individual_High_High_High,0.50,3.00,1.290708e+04,3.00
75,Individual_High_High_High,0.75,4.00,4.504980e+05,4.00
76,Individual_High_High_High,0.90,9.00,1.769916e+06,9.00
77,Individual_High_High_High,0.95,12.00,2.876394e+06,12.00
78,Individual_High_High_High,0.99,24.00,8.028186e+06,24.00
79,Individual_High_High_High,1.00,45.00,1.673808e+07,45.00
80,Individual_High_Low_High,0.10,1.00,3.436900e+02,1.00
81,Individual_High_Low_High,0.25,1.00,9.270750e+02,1.00
82,Individual_High_Low_High,0.50,1.00,8.509400e+03,1.00
83,Individual_High_Low_High,0.75,3.00,1.205979e+05,3.00
84,Individual_High_Low_High,0.90,3.00,7.791118e+05,3.00
85,Individual_High_Low_High,0.95,3.00,1.018461e+06,3.00
86,Individual_High_Low_High,0.99,3.00,1.891599e+06,3.00
87,Individual_High_Low_High,1.00,3.00,1.891599e+06,3.00
88,Individual_High_Medium_High,0.10,1.00,4.018610e+02,1.00
89,Individual_High_Medium_High,0.25,1.00,9.013275e+02,1.00
90,Individual_High_Medium_High,0.50,2.00,8.683890e+03,2.00
91,Individual_High_Medium_High,0.75,3.00,3.133067e+05,3.00
92,Individual_High_Medium_High,0.90,3.00,1.141697e+06,3.00
93,Individual_High_Medium_High,0.95,4.00,2.067984e+06,4.00
94,Individual_High_Medium_High,0.99,6.00,2.867618e+06,6.00
95,Individual_High_Medium_High,1.00,10.00,5.560007e+06,10.00
96,Individual_Low_High_High,0.10,1.00,5.858850e+02,1.00
97,Individual_Low_High_High,0.25,1.00,1.855868e+03,1.00
98,Individual_Low_High_High,0.50,3.00,1.538326e+04,3.00
99,Individual_Low_High_High,0.75,4.00,5.868133e+05,4.00
100,Individual_Low_High_High,0.90,12.00,2.080179e+06,12.00
101,Individual_Low_High_High,0.95,12.00,2.898692e+06,12.00
102,Individual_Low_High_High,0.99,24.00,9.165188e+06,24.00
103,Individual_Low_High_High,1.00,56.00,2.111426e+07,56.00
104,Individual_Low_Low_High,0.10,1.00,3.432600e+02,1.00
105,Individual_Low_Low_High,0.25,1.00,8.935100e+02,1.00
106,Individual_Low_Low_High,0.50,1.00,9.903500e+03,1.00
107,Individual_Low_Low_High,0.75,3.00,2.828676e+05,3.00
108,Individual_Low_Low_High,0.90,3.00,9.193048e+05,3.00
109,Individual_Low_Low_High,0.95,3.00,1.676624e+06,3.00
110,Individual_Low_Low_High,0.99,4.00,2.656150e+06,4.00
111,Individual_Low_Low_High,1.00,6.00,2.904751e+06,6.00
112,Individual_Low_Medium_High,0.10,1.00,4.171920e+02,1.00
113,Individual_Low_Medium_High,0.25,1.00,9.459650e+02,1.00
114,Individual_Low_Medium_High,0.50,2.00,9.913960e+03,2.00
115,Individual_Low_Medium_High,0.75,3.00,3.720611e+05,3.00
116,Individual_Low_Medium_High,0.90,4.00,1.160340e+06,4.00
117,Individual_Low_Medium_High,0.95,4.00,2.140700e+06,4.00
118,Individual_Low_Medium_High,0.99,6.00,2.870088e+06,6.00
119,Individual_Low_Medium_High,1.00,12.00,5.575046e+06,12.00
120,Individual_Medium_High_High,0.10,1.00,4.961500e+02,1.00
121,Individual_Medium_High_High,0.25,1.00,1.515450e+03,1.00
122,Individual_Medium_High_High,0.50,3.00,1.183306e+04,3.00
123,Individual_Medium_High_High,0.75,4.00,5.062042e+05,4.00
124,Individual_Medium_High_High,0.90,9.00,1.848712e+06,9.00
125,Individual_Medium_High_High,0.95,12.00,2.798645e+06,12.00
126,Individual_Medium_High_High,0.99,24.00,7.240022e+06,24.00
127,Individual_Medium_High_High,1.00,54.00,1.233260e+07,54.00
128,Individual_Medium_Low_High,0.10,1.00,3.837320e+02,1.00
129,Individual_Medium_Low_High,0.25,1.00,9.848500e+02,1.00
130,Individual_Medium_Low_High,0.50,1.00,8.399730e+03,1.00
131,Individual_Medium_Low_High,0.75,3.00,2.996965e+04,3.00
132,Individual_Medium_Low_High,0.90,3.00,6.806807e+05,3.00
133,Individual_Medium_Low_High,0.95,3.00,9.942835e+05,3.00
134,Individual_Medium_Low_High,0.99,4.36,2.576198e+06,4.36
135,Individual_Medium_Low_High,1.00,6.00,2.845595e+06,6.00
136,Individual_Medium_Medium_High,0.10,1.00,4.420140e+02,1.00
137,Individual_Medium_Medium_High,0.25,1.00,9.270500e+02,1.00
138,Individual_Medium_Medium_High,0.50,2.00,9.485050e+03,2.00
139,Individual_Medium_Medium_High,0.75,3.00,3.060151e+05,3.00
140,Individual_Medium_Medium_High,0.90,4.00,9.801476e+05,4.00
141,Individual_Medium_Medium_High,0.95,4.00,1.981050e+06,4.00
142,Individual_Medium_Medium_High,0.99,6.00,2.829609e+06,6.00
143,Individual_Medium_Medium_High,1.00,10.00,5.438313e+06,10.00

In [57]:
# Define segment-wise percentile thresholds
percentile_mapping = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Function to get the correct percentile based on segment name
def get_percentile(segment):
    for key in percentile_mapping:
        if segment.startswith(key):  # Match segment category
            return percentile_mapping[key]
    return None  # Default case (if segment doesn't match)

# Compute percentiles for each segment
results = []
for segment in final_df_1['Segment'].unique():
    threshold = get_percentile(segment)
    if threshold is not None:
        segment_data = episode_summary_1[episode_summary_1['Segment'] == segment].drop(
            columns=['Segment','Customer_ID', 'tran_year', 'tran_month', 'Total_Txn_Count', 'Total_Txn_Amount', 'Active_Days']
        ).quantile(threshold)
        segment_data['Segment'] = segment  # Add segment for clarity
        segment_data['Percentile'] = threshold  # Store applied percentile
        results.append(segment_data)

# Convert list to DataFrame
percentiles_df = pd.DataFrame(results).reset_index()

# Display results
# print(percentiles_df)

In [58]:
percentiles_df.head()

,index,Total_Episodes,Total_Days,Percent_Active_Days,Segment,Percentile
0,0.95,4.0,2.0,300.0,Individual_Low_Medium_High,0.95
1,0.90,4.0,2.0,300.0,Individual_Medium_Medium_High,0.90
2,0.80,3.0,1.0,300.0,Individual_High_Medium_High,0.80
3,0.90,4.0,2.0,300.0,Business_Medium_Medium_High,0.90
4,0.95,12.0,3.0,1200.0,Individual_Low_High_High,0.95

In [59]:
import pandas as pd

# Define segment-specific percentile thresholds
segment_thresholds = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Compute percentile thresholds for each segment, year, and month
percentile_dfs = []
for segment, threshold in segment_thresholds.items():
    segment_df = episode_summary_1[episode_summary_1['Segment'] == segment]
    percentiles = (
        segment_df
        .groupby(['tran_year', 'tran_month'])
        [['Total_Txn_Count', 'Total_Txn_Amount', 'Active_Days']]
        .quantile(threshold)
        .reset_index()
    )
    percentiles['Segment'] = segment  # Add segment column back
    percentile_dfs.append(percentiles)

# Concatenate all percentiles into a single DataFrame
percentile_df = pd.concat(percentile_dfs, ignore_index=True)

# Merge percentile thresholds back into the main DataFrame
episode_summary_1 = episode_summary_1.merge(percentile_df, on=['tran_year', 'tran_month', 'Segment'], how='left', suffixes=('', '_threshold'))

# Generate alerts for customers exceeding segment-specific thresholds
episode_summary_1['Alert_Flag_Structuring'] = (
    (episode_summary_1['Total_Txn_Count'] > episode_summary_1['Total_Txn_Count_threshold']) |
    (episode_summary_1['Total_Txn_Amount'] > episode_summary_1['Total_Txn_Amount_threshold']) |
    (episode_summary_1['Active_Days'] > episode_summary_1['Active_Days_threshold'])
).astype(int)

# Filter only alerted customers
alert_customers_structuring = episode_summary_1[episode_summary_1['Alert_Flag_Structuring'] == 1]
# -----------------------------  Changed_ ADDED  ----------------------------#

alert_customers_structuring = alert_customers_structuring.copy()
alert_customers_structuring['Violation_ID'] = (
    "Structuring_" +
    alert_customers_structuring['Customer_ID'].astype(str) + "-" +
    alert_customers_structuring['tran_year'].astype(str) + "-" +
    alert_customers_structuring['tran_month'].astype(str)
)
# Display the alerted customers
alert_customers_structuring[['Violation_ID','Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Total_Txn_Count', 'Total_Txn_Amount', 'Active_Days', 'Alert_Flag_Structuring']]

,Violation_ID,Customer_ID,tran_year,tran_month,Segment,Total_Txn_Count,Total_Txn_Amount,Active_Days,Alert_Flag_Structuring
10,Structuring_10006034-2025-February,10006034,2025,February,Individual_Medium_Medium_High,2,358718.09,2,1
49,Structuring_10040358-2024-July,10040358,2024,July,Individual_Low_Medium_High,6,4035.99,6,1
50,Structuring_10040358-2024-June,10040358,2024,June,Individual_Low_Medium_High,5,3459.84,5,1
67,Structuring_10049173-2024-June,10049173,2024,June,Individual_Low_High_High,7,3735051.46,7,1
87,Structuring_10056481-2024-December,10056481,2024,December,Individual_Medium_High_High,5,2852721.47,5,1
...,...,...,...,...,...,...,...,...,...
84645,Structuring_99963383-2024-July,99963383,2024,July,Individual_Low_Medium_High,4,2805169.22,4,1
84646,Structuring_99963383-2024-June,99963383,2024,June,Individual_Low_Medium_High,6,4682052.06,6,1
84647,Structuring_99963383-2024-May,99963383,2024,May,Individual_Low_Medium_High,4,3437566.86,4,1
84666,Structuring_99977671-2024-October,99977671,2024,October,Individual_Low_Medium_High,4,2375322.81,4,1
84667,Structuring_99977671-2024-September,99977671,2024,September,Individual_Low_Medium_High,6,2376194.49,6,1

In [60]:
alert_customers_structuring['Customer_ID'].nunique()

4799

In [7]:
senarios_triggered_df = alert_customers.merge(alert_customers_structuring[['Customer_ID', 'Alert_Flag_Structuring']], on=['Customer_ID'], how = 'left')

In [13]:
senarios_triggered_df.head(1)

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT_x,event_IDs,Alert_Flag_LRT_y
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,[RMF_10006034-2023-10],NaN

In [63]:
account_df.head()

  Account_ID Customer_ID       Account_Type   Status Opened_Date  Close_Date
0     154901    57904456  Business Checking   Active  2024-03-31  2027-04-21
1     451447     7598428  Business Checking   Active  2024-03-12  2024-12-04
2     460459    30756756              Joint  Dormant  2023-09-04  2023-11-05
3     509040    51146042            Savings   Active  2024-11-29  2027-03-19
4     612995    55095131             Salary  Dormant  2024-11-09  2026-03-04

### 3-High Risk Geography Behavior

In [64]:
transaction_df.head()

,Transaction_ID,Account_ID,Transaction_Date,Amount,Currency,DR_CR_Flag,CB_Flag,Domestic_International_Tran_Flag,Payment_Method,Originator_ID,Originator_Country,Originator_Bank_Country,Originator_Bank,Intermediary_Bank_Country,Intermediary_Bank,Beneficiary_ID,Beneficiary_Country,Beneficiary_Bank_Country,Beneficiary_Bank,tran_month,tran_year
0,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,,,,,,,,,,5,2023
1581,815850_20230509_Debit_1581,815850,2023-05-09,9936.83,CNY,Debit,No,International,Online Bank Transfer,,,,,,,,,,,5,2023
1582,815850_20230509_Debit_1582,815850,2023-05-09,9936.83,CNY,Debit,No,International,Online Bank Transfer,,,,,,,,,,,5,2023
1583,554224_20230509_Debit_1583,554224,2023-05-09,9958.48,CNY,Debit,No,International,Online Bank Transfer,,,,,,,,,,,5,2023
1584,554224_20230509_Debit_1584,554224,2023-05-09,9958.48,CNY,Debit,No,International,Online Bank Transfer,,,,,,,,,,,5,2023

In [65]:
# Step 1: Merge with account_df and customer_df (if not already done)
if 'Customer_ID' in transaction_df.columns:
    transaction_df = transaction_df.drop(columns='Customer_ID')
transaction_df = transaction_df.merge(account_df[['Account_ID', 'Customer_ID']], on='Account_ID', how='left') ## -------------------------- Changed

In [66]:
customer_df.head(1)

,Customer_ID,Customer_Name,Date_of_Birth,Gender,Address,Nationality,Phone_Number,Email,Customer_Type,Risk_Rating,Occupation,Salary,business_registered_country,business_registered_address,PEP_Flag
0,43423488,Bruce Roberts,1939-06-20,Male,"852 Kline Shore\nJustinville, PA 98177",Liberia,6850352171,jensenlinda@example.net,Individual,Medium,Pharmacist,155846,,,Yes

In [67]:
print(transaction_df.columns.tolist())

['Transaction_ID', 'Account_ID', 'Transaction_Date', 'Amount', 'Currency', 'DR_CR_Flag', 'CB_Flag', 'Domestic_International_Tran_Flag', 'Payment_Method', 'Originator_ID', 'Originator_Country', 'Originator_Bank_Country', 'Originator_Bank', 'Intermediary_Bank_Country', 'Intermediary_Bank', 'Beneficiary_ID', 'Beneficiary_Country', 'Beneficiary_Bank_Country', 'Beneficiary_Bank', 'tran_month', 'tran_year', 'Customer_ID']

In [68]:

# Step 2: Ensure Transaction_Date is datetime
transaction_df['Transaction_Date'] = pd.to_datetime(transaction_df['Transaction_Date'])

# Step 3: Create Year and Month Columns
transaction_df['tran_year'] = transaction_df['Transaction_Date'].dt.year
transaction_df['tran_month'] = transaction_df['Transaction_Date'].dt.month_name()

# Step 4: Now continue safely
# Get the high-risk countries list

high_risk_countries = country_risk_df.loc[country_risk_df['Risk_Level'] == 'High', 'Country_Name'].unique()

# Set High_Risk_Flag based on any of the country columns being in high-risk
transaction_df['High_Risk_Flag'] = transaction_df.apply(
    lambda row: 1 if (
        row['Originator_Country'] in high_risk_countries or
        row['Intermediary_Bank_Country'] in high_risk_countries or
        row['Beneficiary_Country'] in high_risk_countries
    ) else 0, axis=1
)
'''
#Assuming
transaction_df['High_Risk_Flag']=1
'''
# Monthly High-Risk Transaction Count
monthly_hr_count = transaction_df[transaction_df['High_Risk_Flag'] == 1].groupby(
    ['Customer_ID', 'tran_year', 'tran_month']
)['Transaction_Date'].count().reset_index().rename(columns={'Transaction_Date': 'Monthly_HR_Tran_Count'})

# Monthly High-Risk Transaction Amount
monthly_hr_amount = transaction_df[transaction_df['High_Risk_Flag'] == 1].groupby(
    ['Customer_ID', 'tran_year', 'tran_month']
)['Amount'].sum().reset_index().rename(columns={'Amount': 'Monthly_HR_Tran_Amount'})

# Monthly Total Transaction Amount
monthly_total_amount = transaction_df.groupby(
    ['Customer_ID', 'tran_year', 'tran_month']
)['Amount'].sum().reset_index().rename(columns={'Amount': 'Monthly_Total_Amount'})

# Merge everything
monthly_summary = monthly_hr_count.merge(monthly_hr_amount, on=['Customer_ID', 'tran_year', 'tran_month'], how='outer')\
                                  .merge(monthly_total_amount, on=['Customer_ID', 'tran_year', 'tran_month'], how='outer')\
                                  .fillna(0)

# Calculate % High Risk Amount
monthly_summary['Percent_HR_Amount'] = (monthly_summary['Monthly_HR_Tran_Amount'] / monthly_summary['Monthly_Total_Amount']) * 100
monthly_summary['Percent_HR_Amount'] = monthly_summary['Percent_HR_Amount'].fillna(0)

# Done
monthly_summary.head()

,Customer_ID,tran_year,tran_month,Monthly_HR_Tran_Count,Monthly_HR_Tran_Amount,Monthly_Total_Amount,Percent_HR_Amount
0,10006034,2023,August,4.0,3505.96,3505.96,100.000000
1,10006034,2023,July,3.0,2340372.93,2340372.93,100.000000
2,10006034,2024,April,12.0,756.84,662628.96,0.114218
3,10006034,2024,February,4.0,252.28,220876.32,0.114218
4,10006034,2024,March,12.0,756.84,662628.96,0.114218

In [69]:
monthly_summary_hrg = monthly_summary.merge(segmented_df[['Customer_ID', 'Segment']], on=['Customer_ID'], how = 'inner')

In [70]:
percentiles = monthly_summary_hrg.drop(columns=['Customer_ID', 'tran_year', 'tran_month', 'Monthly_Total_Amount'])\
                        .groupby('Segment')\
                        .quantile([0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99, 1])\
                        .reset_index()
percentiles

,Segment,level_1,Monthly_HR_Tran_Count,Monthly_HR_Tran_Amount,Percent_HR_Amount
0,Business_High_High_High,0.10,0.00,0.000000e+00,0.000000
1,Business_High_High_High,0.25,0.00,0.000000e+00,0.000000
2,Business_High_High_High,0.50,0.00,0.000000e+00,0.000000
3,Business_High_High_High,0.75,0.00,0.000000e+00,0.000000
4,Business_High_High_High,0.90,0.00,0.000000e+00,0.000000
5,Business_High_High_High,0.95,0.00,0.000000e+00,0.000000
6,Business_High_High_High,0.99,12.00,6.621774e+05,55.107469
7,Business_High_High_High,1.00,36.00,1.942112e+07,100.000000
8,Business_High_Low_High,0.10,0.00,0.000000e+00,0.000000
9,Business_High_Low_High,0.25,0.00,0.000000e+00,0.000000
10,Business_High_Low_High,0.50,0.00,0.000000e+00,0.000000
11,Business_High_Low_High,0.75,0.00,0.000000e+00,0.000000
12,Business_High_Low_High,0.90,0.00,0.000000e+00,0.000000
13,Business_High_Low_High,0.95,0.00,0.000000e+00,0.000000
14,Business_High_Low_High,0.99,0.00,0.000000e+00,0.000000
15,Business_High_Low_High,1.00,1.00,8.671233e+05,100.000000
16,Business_High_Medium_High,0.10,0.00,0.000000e+00,0.000000
17,Business_High_Medium_High,0.25,0.00,0.000000e+00,0.000000
18,Business_High_Medium_High,0.50,0.00,0.000000e+00,0.000000
19,Business_High_Medium_High,0.75,0.00,0.000000e+00,0.000000
20,Business_High_Medium_High,0.90,0.00,0.000000e+00,0.000000
21,Business_High_Medium_High,0.95,0.00,0.000000e+00,0.000000
22,Business_High_Medium_High,0.99,4.36,2.978265e+04,91.080493
23,Business_High_Medium_High,1.00,24.00,1.066603e+07,100.000000
24,Business_Low_High_High,0.10,0.00,0.000000e+00,0.000000
25,Business_Low_High_High,0.25,0.00,0.000000e+00,0.000000
26,Business_Low_High_High,0.50,0.00,0.000000e+00,0.000000
27,Business_Low_High_High,0.75,0.00,0.000000e+00,0.000000
28,Business_Low_High_High,0.90,0.00,0.000000e+00,0.000000
29,Business_Low_High_High,0.95,0.00,0.000000e+00,0.000000
30,Business_Low_High_High,0.99,12.00,9.684700e+05,74.198399
31,Business_Low_High_High,1.00,123.00,4.839384e+07,100.000000
32,Business_Low_Low_High,0.10,0.00,0.000000e+00,0.000000
33,Business_Low_Low_High,0.25,0.00,0.000000e+00,0.000000
34,Business_Low_Low_High,0.50,0.00,0.000000e+00,0.000000
35,Business_Low_Low_High,0.75,0.00,0.000000e+00,0.000000
36,Business_Low_Low_High,0.90,0.00,0.000000e+00,0.000000
37,Business_Low_Low_High,0.95,0.00,0.000000e+00,0.000000
38,Business_Low_Low_High,0.99,3.00,2.561310e+03,100.000000
39,Business_Low_Low_High,1.00,12.00,3.370270e+06,100.000000
40,Business_Low_Medium_High,0.10,0.00,0.000000e+00,0.000000
41,Business_Low_Medium_High,0.25,0.00,0.000000e+00,0.000000
42,Business_Low_Medium_High,0.50,0.00,0.000000e+00,0.000000
43,Business_Low_Medium_High,0.75,0.00,0.000000e+00,0.000000
44,Business_Low_Medium_High,0.90,0.00,0.000000e+00,0.000000
45,Business_Low_Medium_High,0.95,0.00,0.000000e+00,0.000000
46,Business_Low_Medium_High,0.99,6.00,6.819396e+04,96.892189
47,Business_Low_Medium_High,1.00,31.00,1.224296e+07,100.000000
48,Business_Medium_High_High,0.10,0.00,0.000000e+00,0.000000
49,Business_Medium_High_High,0.25,0.00,0.000000e+00,0.000000
50,Business_Medium_High_High,0.50,0.00,0.000000e+00,0.000000
51,Business_Medium_High_High,0.75,0.00,0.000000e+00,0.000000
52,Business_Medium_High_High,0.90,0.00,0.000000e+00,0.000000
53,Business_Medium_High_High,0.95,0.00,0.000000e+00,0.000000
54,Business_Medium_High_High,0.99,12.00,1.109634e+06,62.509389
55,Business_Medium_High_High,1.00,120.00,4.839200e+07,100.000000
56,Business_Medium_Low_High,0.10,0.00,0.000000e+00,0.000000
57,Business_Medium_Low_High,0.25,0.00,0.000000e+00,0.000000
58,Business_Medium_Low_High,0.50,0.00,0.000000e+00,0.000000
59,Business_Medium_Low_High,0.75,0.00,0.000000e+00,0.000000
60,Business_Medium_Low_High,0.90,0.00,0.000000e+00,0.000000
61,Business_Medium_Low_High,0.95,0.00,0.000000e+00,0.000000
62,Business_Medium_Low_High,0.99,3.00,2.377743e+04,100.000000
63,Business_Medium_Low_High,1.00,9.00,1.911364e+06,100.000000
64,Business_Medium_Medium_High,0.10,0.00,0.000000e+00,0.000000
65,Business_Medium_Medium_High,0.25,0.00,0.000000e+00,0.000000
66,Business_Medium_Medium_High,0.50,0.00,0.000000e+00,0.000000
67,Business_Medium_Medium_High,0.75,0.00,0.000000e+00,0.000000
68,Business_Medium_Medium_High,0.90,0.00,0.000000e+00,0.000000
69,Business_Medium_Medium_High,0.95,0.00,0.000000e+00,0.000000
70,Business_Medium_Medium_High,0.99,6.13,4.808425e+04,84.525200
71,Business_Medium_Medium_High,1.00,27.00,1.173597e+07,100.000000
72,Individual_High_High_High,0.10,0.00,0.000000e+00,0.000000
73,Individual_High_High_High,0.25,0.00,0.000000e+00,0.000000
74,Individual_High_High_High,0.50,0.00,0.000000e+00,0.000000
75,Individual_High_High_High,0.75,0.00,0.000000e+00,0.000000
76,Individual_High_High_High,0.90,0.00,0.000000e+00,0.000000
77,Individual_High_High_High,0.95,0.00,0.000000e+00,0.000000
78,Individual_High_High_High,0.99,12.00,2.213836e+06,82.879159
79,Individual_High_High_High,1.00,96.00,4.386531e+07,100.000000
80,Individual_High_Low_High,0.10,0.00,0.000000e+00,0.000000
81,Individual_High_Low_High,0.25,0.00,0.000000e+00,0.000000
82,Individual_High_Low_High,0.50,0.00,0.000000e+00,0.000000
83,Individual_High_Low_High,0.75,0.00,0.000000e+00,0.000000
84,Individual_High_Low_High,0.90,0.00,0.000000e+00,0.000000
85,Individual_High_Low_High,0.95,0.00,0.000000e+00,0.000000
86,Individual_High_Low_High,0.99,2.14,2.548708e+04,70.311531
87,Individual_High_Low_High,1.00,9.00,8.009560e+06,100.000000
88,Individual_High_Medium_High,0.10,0.00,0.000000e+00,0.000000
89,Individual_High_Medium_High,0.25,0.00,0.000000e+00,0.000000
90,Individual_High_Medium_High,0.50,0.00,0.000000e+00,0.000000
91,Individual_High_Medium_High,0.75,0.00,0.000000e+00,0.000000
92,Individual_High_Medium_High,0.90,0.00,0.000000e+00,0.000000
93,Individual_High_Medium_High,0.95,0.00,0.000000e+00,0.000000
94,Individual_High_Medium_High,0.99,6.00,9.958672e+04,92.225874
95,Individual_High_Medium_High,1.00,27.00,1.120455e+07,100.000000
96,Individual_Low_High_High,0.10,0.00,0.000000e+00,0.000000
97,Individual_Low_High_High,0.25,0.00,0.000000e+00,0.000000
98,Individual_Low_High_High,0.50,0.00,0.000000e+00,0.000000
99,Individual_Low_High_High,0.75,0.00,0.000000e+00,0.000000
100,Individual_Low_High_High,0.90,0.00,0.000000e+00,0.000000
101,Individual_Low_High_High,0.95,0.00,0.000000e+00,0.000000
102,Individual_Low_High_High,0.99,12.00,1.951767e+06,76.487510
103,Individual_Low_High_High,1.00,144.00,7.418317e+07,100.000000
104,Individual_Low_Low_High,0.10,0.00,0.000000e+00,0.000000
105,Individual_Low_Low_High,0.25,0.00,0.000000e+00,0.000000
106,Individual_Low_Low_High,0.50,0.00,0.000000e+00,0.000000
107,Individual_Low_Low_High,0.75,0.00,0.000000e+00,0.000000
108,Individual_Low_Low_High,0.90,0.00,0.000000e+00,0.000000
109,Individual_Low_Low_High,0.95,0.00,0.000000e+00,0.000000
110,Individual_Low_Low_High,0.99,3.00,2.118837e+04,100.000000
111,Individual_Low_Low_High,1.00,12.00,1.143352e+07,100.000000
112,Individual_Low_Medium_High,0.10,0.00,0.000000e+00,0.000000
113,Individual_Low_Medium_High,0.25,0.00,0.000000e+00,0.000000
114,Individual_Low_Medium_High,0.50,0.00,0.000000e+00,0.000000
115,Individual_Low_Medium_High,0.75,0.00,0.000000e+00,0.000000
116,Individual_Low_Medium_High,0.90,0.00,0.000000e+00,0.000000
117,Individual_Low_Medium_High,0.95,0.00,0.000000e+00,0.000000
118,Individual_Low_Medium_High,0.99,8.00,9.957200e+04,98.328769
119,Individual_Low_Medium_High,1.00,39.00,1.809871e+07,100.000000
120,Individual_Medium_High_High,0.10,0.00,0.000000e+00,0.000000
121,Individual_Medium_High_High,0.25,0.00,0.000000e+00,0.000000
122,Individual_Medium_High_High,0.50,0.00,0.000000e+00,0.000000
123,Individual_Medium_High_High,0.75,0.00,0.000000e+00,0.000000
124,Individual_Medium_High_High,0.90,0.00,0.000000e+00,0.000000
125,Individual_Medium_High_High,0.95,0.00,0.000000e+00,0.000000
126,Individual_Medium_High_High,0.99,12.00,1.905990e+06,78.019015
127,Individual_Medium_High_High,1.00,144.00,4.648034e+07,100.000000
128,Individual_Medium_Low_High,0.10,0.00,0.000000e+00,0.000000
129,Individual_Medium_Low_High,0.25,0.00,0.000000e+00,0.000000
130,Individual_Medium_Low_High,0.50,0.00,0.000000e+00,0.000000
131,Individual_Medium_Low_High,0.75,0.00,0.000000e+00,0.000000
132,Individual_Medium_Low_High,0.90,0.00,0.000000e+00,0.000000
133,Individual_Medium_Low_High,0.95,0.00,0.000000e+00,0.000000
134,Individual_Medium_Low_High,0.99,6.00,1.473591e+05,100.000000
135,Individual_Medium_Low_High,1.00,12.00,8.643121e+06,100.000000
136,Individual_Medium_Low_Medium,0.10,0.00,0.000000e+00,0.000000
137,Individual_Medium_Low_Medium,0.25,0.00,0.000000e+00,0.000000
138,Individual_Medium_Low_Medium,0.50,0.00,0.000000e+00,0.000000
139,Individual_Medium_Low_Medium,0.75,0.00,0.000000e+00,0.000000
140,Individual_Medium_Low_Medium,0.90,0.00,0.000000e+00,0.000000
141,Individual_Medium_Low_Medium,0.95,0.00,0.000000e+00,0.000000
142,Individual_Medium_Low_Medium,0.99,0.00,0.000000e+00,0.000000
143,Individual_Medium_Low_Medium,1.00,0.00,0.000000e+00,0.000000
144,Individual_Medium_Medium_High,0.10,0.00,0.000000e+00,0.000000
145,Individual_Medium_Medium_High,0.25,0.00,0.000000e+00,0.000000
146,Individual_Medium_Medium_High,0.50,0.00,0.000000e+00,0.000000
147,Individual_Medium_Medium_High,0.75,0.00,0.000000e+00,0.000000
148,Individual_Medium_Medium_High,0.90,0.00,0.000000e+00,0.000000
149,Individual_Medium_Medium_High,0.95,0.00,0.000000e+00,0.000000
150,Individual_Medium_Medium_High,0.99,7.00,7.828955e+04,98.349285
151,Individual_Medium_Medium_High,1.00,36.00,1.199624e+07,100.000000

In [71]:
# Define segment-wise percentile thresholds
percentile_mapping = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Function to get the correct percentile based on segment name
def get_percentile(segment):
    for key in percentile_mapping:
        if segment.startswith(key):  # Match segment category
            return percentile_mapping[key]
    return None  # Default case (if segment doesn't match)

# Compute percentiles for each segment
results = []
for segment in monthly_summary_hrg['Segment'].unique():
    threshold = get_percentile(segment)
    if threshold is not None:
        segment_data = monthly_summary_hrg[monthly_summary_hrg['Segment'] == segment].drop(
            columns=['Segment','Customer_ID', 'tran_year', 'tran_month', 'Monthly_HR_Tran_Count', 'Monthly_HR_Tran_Amount', 'Percent_HR_Amount']
        ).quantile(threshold)
        segment_data['Segment'] = segment  # Add segment for clarity
        segment_data['Percentile'] = threshold  # Store applied percentile
        results.append(segment_data)

# Convert list to DataFrame
percentiles_df = pd.DataFrame(results).reset_index()

# Display results
# print(percentiles_df)

In [72]:
percentiles_df.head()

   index  Monthly_Total_Amount                        Segment  Percentile
0   0.90          5.794387e+06  Individual_Medium_Medium_High        0.90
1   0.95          2.240073e+07       Individual_Low_High_High        0.95
2   0.80          2.980107e+06      Business_High_Medium_High        0.80
3   0.95          8.680904e+06       Business_Low_Medium_High        0.95
4   0.95          2.156836e+07         Business_Low_High_High        0.95

In [73]:
import pandas as pd

# Define segment-specific percentile thresholds
segment_thresholds = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Compute percentile thresholds for each segment, year, and month
percentile_dfs = []
for segment, threshold in segment_thresholds.items():
    segment_df = monthly_summary_hrg[monthly_summary_hrg['Segment'] == segment]
    percentiles = (
        segment_df
        .groupby(['tran_year', 'tran_month'])
        [['Monthly_HR_Tran_Count', 'Monthly_HR_Tran_Amount', 'Percent_HR_Amount']]
        .quantile(threshold)
        .reset_index()
    )
    percentiles['Segment'] = segment  # Add segment column back
    percentile_dfs.append(percentiles)

# Concatenate all percentiles into a single DataFrame
percentile_df = pd.concat(percentile_dfs, ignore_index=True)

# Merge percentile thresholds back into the main DataFrame
monthly_summary_hrg = monthly_summary_hrg.merge(percentile_df, on=['tran_year', 'tran_month', 'Segment'], how='left', suffixes=('', '_threshold'))

# Generate alerts for customers exceeding segment-specific thresholds
monthly_summary_hrg['Alert_Flag_HRG'] = (
    (monthly_summary_hrg['Monthly_HR_Tran_Count'] > monthly_summary_hrg['Monthly_HR_Tran_Count_threshold']) |
    (monthly_summary_hrg['Monthly_HR_Tran_Amount'] > monthly_summary_hrg['Monthly_HR_Tran_Amount_threshold']) |
    (monthly_summary_hrg['Percent_HR_Amount'] > monthly_summary_hrg['Percent_HR_Amount_threshold'])
).astype(int)

# Filter only alerted customers
alert_customers_hrg = monthly_summary_hrg[monthly_summary_hrg['Alert_Flag_HRG'] == 1]

# -----------------------------  Changed_ ADDED  ----------------------------#

alert_customers_hrg = alert_customers_hrg.copy()
alert_customers_hrg['Violation_ID'] = (
    "HRG_" +
    alert_customers_hrg['Customer_ID'].astype(str) + "-" +
    alert_customers_hrg['tran_year'].astype(str) + "-" +
    alert_customers_hrg['tran_month'].astype(str)
)
# Display the alerted customers
alert_customers_hrg[['Violation_ID','Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Monthly_HR_Tran_Count', 'Monthly_HR_Tran_Amount', 'Percent_HR_Amount', 'Alert_Flag_HRG']]

,Violation_ID,Customer_ID,tran_year,tran_month,Segment,Monthly_HR_Tran_Count,Monthly_HR_Tran_Amount,Percent_HR_Amount,Alert_Flag_HRG
0,HRG_10006034-2023-August,10006034,2023,August,Individual_Medium_Medium_High,4.0,3505.96,100.000000,1
1,HRG_10006034-2023-July,10006034,2023,July,Individual_Medium_Medium_High,3.0,2340372.93,100.000000,1
2,HRG_10006034-2024-April,10006034,2024,April,Individual_Medium_Medium_High,12.0,756.84,0.114218,1
3,HRG_10006034-2024-February,10006034,2024,February,Individual_Medium_Medium_High,4.0,252.28,0.114218,1
4,HRG_10006034-2024-March,10006034,2024,March,Individual_Medium_Medium_High,12.0,756.84,0.114218,1
...,...,...,...,...,...,...,...,...,...
34866,HRG_9977863-2025-January,9977863,2025,January,Individual_Low_Medium_High,12.0,10670.64,51.387524,1
34879,HRG_99973528-2024-December,99973528,2024,December,Individual_Low_High_High,36.0,20018.88,4.031860,1
34880,HRG_99973528-2024-November,99973528,2024,November,Individual_Low_High_High,12.0,6672.96,4.031860,1
34881,HRG_99973528-2025-January,99973528,2025,January,Individual_Low_High_High,36.0,20018.88,4.031860,1
34882,HRG_99973528-2025-March,99973528,2025,March,Individual_Low_High_High,16.0,8276.32,70.155428,1

In [74]:
alert_customers_hrg['Customer_ID'].nunique()

1906

### 4-Change in Behavior (CIB) Activity - Average & Peak

In [75]:
# Assuming transaction_df is already available and 'Transaction_Date' is datetime

# Step 1: Preprocessing
transaction_df['Transaction_Date'] = pd.to_datetime(transaction_df['Transaction_Date'])
transaction_df['tran_year'] = transaction_df['Transaction_Date'].dt.year
transaction_df['tran_month'] = transaction_df['Transaction_Date'].dt.month

# Step 2: Filter only Credit transactions
credit_txn = transaction_df[transaction_df['DR_CR_Flag'] == 'Credit']

# Step 3: Aggregate monthly credit amount
monthly_credit = credit_txn.groupby(['Customer_ID', 'tran_year', 'tran_month']).agg(
    Monthly_Credit_Amount=('Amount', 'sum')
).reset_index()

# Step 4: Create YearMonth for easier handling
monthly_credit['YearMonth'] = pd.to_datetime(monthly_credit['tran_year'].astype(str) + '-' + monthly_credit['tran_month'].astype(str) + '-01')

# Step 5: Sort by Customer_ID and YearMonth
monthly_credit = monthly_credit.sort_values(['Customer_ID', 'YearMonth'])

# Step 6: Rolling 12-month calculations
def rolling_calculations(df):
    df = df.set_index('YearMonth')  # Set datetime index
    df = df.sort_index()

    # Rolling 12M Sum
    df['Volume_Credit_12M'] = df['Monthly_Credit_Amount'].rolling(window='365D', min_periods=1).sum()

    # Rolling 12M Active Months
    df['Active_Months_12M'] = df['Monthly_Credit_Amount'].rolling(window='365D', min_periods=1).apply(lambda x: (x > 0).sum())

    # Avg = Total Amount / Active Months
    df['Avg_Credit_12M'] = df['Volume_Credit_12M'] / df['Active_Months_12M']
    
    # Maximum credit amount in last 12 months 
    df['Max_Credit_12M'] = df['Monthly_Credit_Amount'].rolling(window='365D', min_periods=1).max()

    # Rolling Std Dev
    df['Std_Credit_12M'] = df['Monthly_Credit_Amount'].rolling(window='365D', min_periods=1).std()

    # Percent Increase
    df['Percent_Increase_vs_Avg'] = ((df['Monthly_Credit_Amount'] - df['Avg_Credit_12M']) / df['Avg_Credit_12M']) * 100
    
    # Percent Increase
    df['Percent_Increase_vs_Peak'] = ((df['Monthly_Credit_Amount'] - df['Max_Credit_12M']) / df['Max_Credit_12M']) * 100

    # Z-Score
    df['Z_Score_Avg'] = (df['Monthly_Credit_Amount'] - df['Avg_Credit_12M']) / df['Std_Credit_12M']
    
    # Z-Score
    df['Z_Score_Peak'] = (df['Monthly_Credit_Amount'] - df['Max_Credit_12M']) / df['Std_Credit_12M']

    return df.reset_index()

# Step 7: Apply per Customer
final_detection_table = monthly_credit.groupby('Customer_ID').apply(rolling_calculations).reset_index(drop=True)

# Step 8: Final columns
final_detection_table = final_detection_table[['Customer_ID', 'YearMonth', 'Monthly_Credit_Amount',
                                                'Volume_Credit_12M', 'Active_Months_12M', 'Avg_Credit_12M', 
                                                'Max_Credit_12M', 'Std_Credit_12M', 'Percent_Increase_vs_Avg', 
                                                'Percent_Increase_vs_Peak', 'Z_Score_Avg', 'Z_Score_Peak']]

# View sample
final_detection_table.head()

,Customer_ID,YearMonth,Monthly_Credit_Amount,Volume_Credit_12M,Active_Months_12M,Avg_Credit_12M,Max_Credit_12M,Std_Credit_12M,Percent_Increase_vs_Avg,Percent_Increase_vs_Peak,Z_Score_Avg,Z_Score_Peak
0,1000408,2023-09-01,1185547.78,1185547.78,1.0,1.185548e+06,1185547.78,NaN,0.000000,0.000000,NaN,NaN
1,1000408,2023-11-01,967735.68,2153283.46,2.0,1.076642e+06,1185547.78,154016.412934,-10.115347,-18.372275,-0.707107,-1.414214
2,1000408,2023-12-01,484899.33,2638182.79,3.0,8.793943e+05,1185547.78,358580.837533,-44.859848,-59.099132,-1.100156,-1.953948
3,1000408,2024-06-01,9983.80,2648166.59,4.0,6.620416e+05,1185547.78,524107.606447,-98.491968,-99.157875,-1.244130,-2.242982
4,1000408,2024-07-01,29951.40,2678117.99,5.0,5.356236e+05,1185547.78,534718.807925,-94.408125,-97.473624,-0.945679,-2.161129

In [76]:
sample_df = merged_df[
    (merged_df['Customer_ID'] == '10000279') &
    (merged_df['DR_CR_Flag'] == 'Credit')
]

sample_df

Empty DataFrame
Columns: [Transaction_ID, Account_ID, Transaction_Date, Amount, Currency, DR_CR_Flag, CB_Flag, Domestic_International_Tran_Flag, Payment_Method, Originator_ID, Originator_Country, Originator_Bank_Country, Originator_Bank, Intermediary_Bank_Country, Intermediary_Bank, Beneficiary_ID, Beneficiary_Country, Beneficiary_Bank_Country, Beneficiary_Bank, tran_month, tran_year, Customer_ID, Account_Type, Status, Opened_Date, Close_Date, Customer_Name, Date_of_Birth, Gender, Address, Nationality, Phone_Number, Email, Customer_Type, Risk_Rating, Occupation, Salary, business_registered_country, business_registered_address, PEP_Flag]
Index: []

In [77]:
summary_table_cib = final_detection_table.merge(segmented_df[['Customer_ID', 'Segment']], on=['Customer_ID'], how = 'inner')

In [78]:
summary_table_cib = summary_table_cib[
    (summary_table_cib['Percent_Increase_vs_Avg'] >= 0) &
    (summary_table_cib['Percent_Increase_vs_Peak'] >= 0) &
    (summary_table_cib['Z_Score_Avg'].notna()) &
    (summary_table_cib['Z_Score_Peak'].notna())
]

In [79]:
percentiles = summary_table_cib.drop(columns=['Customer_ID', 'YearMonth', 'Active_Months_12M', 'Avg_Credit_12M', 'Std_Credit_12M'])\
                        .groupby('Segment')\
                        .quantile([0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99, 1])\
                        .reset_index()
percentiles

,Segment,level_1,Monthly_Credit_Amount,Volume_Credit_12M,Max_Credit_12M,Percent_Increase_vs_Avg,Percent_Increase_vs_Peak,Z_Score_Avg,Z_Score_Peak
0,Business_High_High_High,0.10,4.511185e+04,6.620361e+04,4.511185e+04,90.648361,0.0,0.707107,0.0
1,Business_High_High_High,0.25,6.150173e+05,7.968802e+05,6.150173e+05,125.039114,0.0,1.154700,0.0
2,Business_High_High_High,0.50,1.530021e+06,2.752962e+06,1.530021e+06,203.258178,0.0,1.663569,0.0
3,Business_High_High_High,0.75,2.936637e+06,7.099886e+06,2.936637e+06,334.804753,0.0,2.082020,0.0
4,Business_High_High_High,0.90,5.741252e+06,1.482652e+07,5.741252e+06,488.454179,0.0,2.470142,0.0
5,Business_High_High_High,0.95,9.454551e+06,2.155463e+07,9.454551e+06,593.177383,0.0,2.720427,0.0
6,Business_High_High_High,0.99,1.584643e+07,4.822527e+07,1.584643e+07,829.538693,0.0,3.012325,0.0
7,Business_High_High_High,1.00,2.647769e+07,7.530552e+07,2.647769e+07,1060.391043,0.0,3.175247,0.0
8,Business_High_Low_High,0.10,1.711731e+03,3.658171e+03,1.711731e+03,28.571429,0.0,0.577350,0.0
9,Business_High_Low_High,0.25,1.040934e+04,2.088208e+04,1.040934e+04,49.769515,0.0,0.707107,0.0
10,Business_High_Low_High,0.50,2.144399e+05,4.043553e+05,2.144399e+05,53.289932,0.0,0.766353,0.0
11,Business_High_Low_High,0.75,1.002472e+06,1.621918e+06,1.002472e+06,124.430705,0.0,1.091189,0.0
12,Business_High_Low_High,0.90,1.660641e+06,3.247111e+06,1.660641e+06,298.981882,0.0,1.715553,0.0
13,Business_High_Low_High,0.95,2.341470e+06,3.799907e+06,2.341470e+06,338.967217,0.0,1.867197,0.0
14,Business_High_Low_High,0.99,2.659905e+06,4.939521e+06,2.659905e+06,472.978033,0.0,2.180162,0.0
15,Business_High_Low_High,1.00,2.816747e+06,5.463430e+06,2.816747e+06,531.328453,0.0,2.260849,0.0
16,Business_High_Medium_High,0.10,2.703300e+03,5.459640e+03,2.703300e+03,49.292789,0.0,0.707107,0.0
17,Business_High_Medium_High,0.25,2.095101e+04,3.981764e+04,2.095101e+04,81.853197,0.0,0.769810,0.0
18,Business_High_Medium_High,0.50,5.373746e+05,6.463333e+05,5.373746e+05,146.565371,0.0,1.268870,0.0
19,Business_High_Medium_High,0.75,1.471070e+06,2.609069e+06,1.471070e+06,270.362760,0.0,1.788204,0.0
20,Business_High_Medium_High,0.90,2.570643e+06,5.069046e+06,2.570643e+06,402.872797,0.0,2.166562,0.0
21,Business_High_Medium_High,0.95,2.939840e+06,6.813310e+06,2.939840e+06,550.371317,0.0,2.516944,0.0
22,Business_High_Medium_High,0.99,4.271169e+06,1.130627e+07,4.271169e+06,772.872892,0.0,2.853146,0.0
23,Business_High_Medium_High,1.00,8.331995e+06,2.272749e+07,8.331995e+06,967.447559,0.0,3.158230,0.0
24,Business_Low_High_High,0.10,2.380868e+04,3.896536e+04,2.380868e+04,81.036366,0.0,0.707107,0.0
25,Business_Low_High_High,0.25,4.786093e+05,6.084805e+05,4.786093e+05,123.578698,0.0,1.154700,0.0
26,Business_Low_High_High,0.50,1.371900e+06,2.534659e+06,1.371900e+06,214.781815,0.0,1.677222,0.0
27,Business_Low_High_High,0.75,2.909851e+06,6.552457e+06,2.909851e+06,338.475163,0.0,2.113003,0.0
28,Business_Low_High_High,0.90,5.526371e+06,1.333764e+07,5.526371e+06,491.872601,0.0,2.510941,0.0
29,Business_Low_High_High,0.95,9.539728e+06,2.082188e+07,9.539728e+06,599.736299,0.0,2.693934,0.0
30,Business_Low_High_High,0.99,1.620551e+07,4.113668e+07,1.620551e+07,773.428182,0.0,3.009095,0.0
31,Business_Low_High_High,1.00,3.113492e+07,1.165872e+08,3.113492e+07,1067.225159,0.0,3.175362,0.0
32,Business_Low_Low_High,0.10,1.106160e+03,2.057104e+03,1.106160e+03,28.571429,0.0,0.577350,0.0
33,Business_Low_Low_High,0.25,6.740595e+03,8.912110e+03,6.740595e+03,50.000000,0.0,0.707107,0.0
34,Business_Low_Low_High,0.50,4.911540e+04,1.068292e+05,4.911540e+04,80.874801,0.0,0.707107,0.0
35,Business_Low_Low_High,0.75,8.321980e+05,1.004393e+06,8.321980e+05,152.943988,0.0,1.154700,0.0
36,Business_Low_Low_High,0.90,2.166525e+06,3.407942e+06,2.166525e+06,272.975745,0.0,1.681759,0.0
37,Business_Low_Low_High,0.95,2.624836e+06,5.419355e+06,2.624836e+06,348.933160,0.0,1.788852,0.0
38,Business_Low_Low_High,0.99,2.920260e+06,6.727467e+06,2.920260e+06,396.597732,0.0,2.142543,0.0
39,Business_Low_Low_High,1.00,3.562117e+06,8.164496e+06,3.562117e+06,691.598435,0.0,2.474865,0.0
40,Business_Low_Medium_High,0.10,2.881650e+03,6.029613e+03,2.881650e+03,49.129994,0.0,0.707107,0.0
41,Business_Low_Medium_High,0.25,2.830610e+04,4.262502e+04,2.830610e+04,81.504678,0.0,0.833366,0.0
42,Business_Low_Medium_High,0.50,5.943940e+05,7.404811e+05,5.943940e+05,141.227550,0.0,1.248431,0.0
43,Business_Low_Medium_High,0.75,1.513557e+06,2.781564e+06,1.513557e+06,266.740001,0.0,1.784089,0.0
44,Business_Low_Medium_High,0.90,2.582529e+06,5.338130e+06,2.582529e+06,418.015591,0.0,2.244430,0.0
45,Business_Low_Medium_High,0.95,2.912794e+06,6.941227e+06,2.912794e+06,532.925118,0.0,2.474868,0.0
46,Business_Low_Medium_High,0.99,4.410075e+06,1.165484e+07,4.410075e+06,756.660323,0.0,2.849883,0.0
47,Business_Low_Medium_High,1.00,8.850858e+06,2.186935e+07,8.850858e+06,1072.680767,0.0,3.175398,0.0
48,Business_Medium_High_High,0.10,2.080112e+04,3.541486e+04,2.080112e+04,79.516538,0.0,0.707107,0.0
49,Business_Medium_High_High,0.25,4.278278e+05,5.437923e+05,4.278278e+05,118.624733,0.0,1.154687,0.0
50,Business_Medium_High_High,0.50,1.278866e+06,2.493846e+06,1.278866e+06,202.951902,0.0,1.682910,0.0
51,Business_Medium_High_High,0.75,2.800416e+06,6.356231e+06,2.800416e+06,326.821626,0.0,2.124085,0.0
52,Business_Medium_High_High,0.90,5.897131e+06,1.409064e+07,5.897131e+06,490.762565,0.0,2.517613,0.0
53,Business_Medium_High_High,0.95,1.019781e+07,2.183886e+07,1.019781e+07,586.200646,0.0,2.680088,0.0
54,Business_Medium_High_High,0.99,1.658717e+07,4.838097e+07,1.658717e+07,819.447845,0.0,3.005063,0.0
55,Business_Medium_High_High,1.00,3.113800e+07,8.256459e+07,3.113800e+07,1042.400883,0.0,3.175286,0.0
56,Business_Medium_Low_High,0.10,2.199630e+03,3.085480e+03,2.199630e+03,28.571429,0.0,0.577350,0.0
57,Business_Medium_Low_High,0.25,9.944860e+03,1.188094e+04,9.944860e+03,50.000000,0.0,0.707107,0.0
58,Business_Medium_Low_High,0.50,4.767991e+04,8.992578e+04,4.767991e+04,56.625273,0.0,0.707107,0.0
59,Business_Medium_Low_High,0.75,9.946368e+05,1.373500e+06,9.946368e+05,124.189083,0.0,1.153975,0.0
60,Business_Medium_Low_High,0.90,1.781209e+06,2.948572e+06,1.781209e+06,300.552525,0.0,1.788301,0.0
61,Business_Medium_Low_High,0.95,2.211429e+06,4.163444e+06,2.211429e+06,363.331851,0.0,1.943075,0.0
62,Business_Medium_Low_High,0.99,2.983911e+06,6.211736e+06,2.983911e+06,431.383420,0.0,2.132117,0.0
63,Business_Medium_Low_High,1.00,2.983911e+06,7.147354e+06,2.983911e+06,477.330961,0.0,2.143068,0.0
64,Business_Medium_Medium_High,0.10,2.840961e+03,5.697418e+03,2.840961e+03,47.078182,0.0,0.707107,0.0
65,Business_Medium_Medium_High,0.25,2.259971e+04,3.806767e+04,2.259971e+04,76.051789,0.0,0.789410,0.0
66,Business_Medium_Medium_High,0.50,5.324954e+05,6.462025e+05,5.324954e+05,140.559039,0.0,1.281246,0.0
67,Business_Medium_Medium_High,0.75,1.432072e+06,2.564459e+06,1.432072e+06,268.286762,0.0,1.788773,0.0
68,Business_Medium_Medium_High,0.90,2.523224e+06,5.252342e+06,2.523224e+06,418.574201,0.0,2.266616,0.0
69,Business_Medium_Medium_High,0.95,2.887553e+06,6.878365e+06,2.887553e+06,528.883965,0.0,2.505099,0.0
70,Business_Medium_Medium_High,0.99,4.174506e+06,1.137980e+07,4.174506e+06,749.410971,0.0,2.846384,0.0
71,Business_Medium_Medium_High,1.00,7.822089e+06,1.879831e+07,7.822089e+06,976.726398,0.0,3.166016,0.0
72,Individual_High_High_High,0.10,2.677714e+04,4.330150e+04,2.677714e+04,80.420755,0.0,0.707107,0.0
73,Individual_High_High_High,0.25,4.280141e+05,5.740242e+05,4.280141e+05,125.845936,0.0,1.156898,0.0
74,Individual_High_High_High,0.50,1.216152e+06,2.323386e+06,1.216152e+06,219.613824,0.0,1.704784,0.0
75,Individual_High_High_High,0.75,2.829580e+06,5.791885e+06,2.829580e+06,344.796916,0.0,2.141338,0.0
76,Individual_High_High_High,0.90,5.248859e+06,1.293392e+07,5.248859e+06,491.046749,0.0,2.536542,0.0
77,Individual_High_High_High,0.95,9.085556e+06,1.987395e+07,9.085556e+06,611.698059,0.0,2.767791,0.0
78,Individual_High_High_High,0.99,1.488284e+07,4.436162e+07,1.488284e+07,767.677233,0.0,3.002586,0.0
79,Individual_High_High_High,1.00,3.113492e+07,1.018064e+08,3.113492e+07,1016.207490,0.0,3.175074,0.0
80,Individual_High_Low_High,0.10,9.570300e+02,1.880823e+03,9.570300e+02,28.571429,0.0,0.577350,0.0
81,Individual_High_Low_High,0.25,4.609025e+03,6.683050e+03,4.609025e+03,50.000000,0.0,0.707107,0.0
82,Individual_High_Low_High,0.50,2.993535e+04,6.962459e+04,2.993535e+04,85.064347,0.0,0.836806,0.0
83,Individual_High_Low_High,0.75,6.770493e+05,9.379120e+05,6.770493e+05,187.904573,0.0,1.405742,0.0
84,Individual_High_Low_High,0.90,1.544362e+06,2.932388e+06,1.544362e+06,330.625094,0.0,1.788753,0.0
85,Individual_High_Low_High,0.95,2.244999e+06,3.785263e+06,2.244999e+06,390.033437,0.0,1.934278,0.0
86,Individual_High_Low_High,0.99,2.829506e+06,6.136134e+06,2.829506e+06,486.079880,0.0,2.263981,0.0
87,Individual_High_Low_High,1.00,2.889480e+06,6.760873e+06,2.889480e+06,969.049941,0.0,3.015009,0.0
88,Individual_High_Medium_High,0.10,2.542233e+03,5.017934e+03,2.542233e+03,46.957994,0.0,0.707107,0.0
89,Individual_High_Medium_High,0.25,2.117598e+04,3.908485e+04,2.117598e+04,78.009255,0.0,0.787842,0.0
90,Individual_High_Medium_High,0.50,5.157434e+05,6.412609e+05,5.157434e+05,141.106074,0.0,1.270591,0.0
91,Individual_High_Medium_High,0.75,1.389043e+06,2.504823e+06,1.389043e+06,263.390071,0.0,1.788593,0.0
92,Individual_High_Medium_High,0.90,2.523756e+06,4.903011e+06,2.523756e+06,421.256570,0.0,2.262177,0.0
93,Individual_High_Medium_High,0.95,2.894923e+06,6.695911e+06,2.894923e+06,553.678093,0.0,2.474860,0.0
94,Individual_High_Medium_High,0.99,4.253148e+06,1.046538e+07,4.253148e+06,763.656452,0.0,2.854914,0.0
95,Individual_High_Medium_High,1.00,7.645139e+06,1.947556e+07,7.645139e+06,1072.635876,0.0,3.175399,0.0
96,Individual_Low_High_High,0.10,3.024689e+04,4.871710e+04,3.024689e+04,82.831102,0.0,0.707107,0.0
97,Individual_Low_High_High,0.25,5.065608e+05,6.435640e+05,5.065608e+05,123.537327,0.0,1.154699,0.0
98,Individual_Low_High_High,0.50,1.462652e+06,2.669854e+06,1.462652e+06,205.984600,0.0,1.666768,0.0
99,Individual_Low_High_High,0.75,2.966769e+06,6.687037e+06,2.966769e+06,336.851019,0.0,2.122027,0.0
100,Individual_Low_High_High,0.90,5.742475e+06,1.395433e+07,5.742475e+06,492.781786,0.0,2.520922,0.0
101,Individual_Low_High_High,0.95,9.943687e+06,2.114507e+07,9.943687e+06,601.307422,0.0,2.735872,0.0
102,Individual_Low_High_High,0.99,1.593030e+07,4.487408e+07,1.593030e+07,782.010224,0.0,3.008125,0.0
103,Individual_Low_High_High,1.00,4.660521e+07,1.078873e+08,4.660521e+07,1075.013487,0.0,3.175356,0.0
104,Individual_Low_Low_High,0.10,1.077213e+03,1.934821e+03,1.077213e+03,28.571429,0.0,0.577350,0.0
105,Individual_Low_Low_High,0.25,3.222367e+03,6.857832e+03,3.222367e+03,50.000000,0.0,0.707107,0.0
106,Individual_Low_Low_High,0.50,3.397718e+04,7.034884e+04,3.397718e+04,78.780390,0.0,0.707107,0.0
107,Individual_Low_Low_High,0.75,8.868606e+05,1.160228e+06,8.868606e+05,124.965208,0.0,1.154627,0.0
108,Individual_Low_Low_High,0.90,2.132798e+06,3.672228e+06,2.132798e+06,243.176501,0.0,1.686902,0.0
109,Individual_Low_Low_High,0.95,2.537574e+06,5.124013e+06,2.537574e+06,344.277671,0.0,1.877230,0.0
110,Individual_Low_Low_High,0.99,2.876781e+06,6.517513e+06,2.876781e+06,479.509369,0.0,2.237747,0.0
111,Individual_Low_Low_High,1.00,3.791599e+06,7.617565e+06,3.791599e+06,794.876415,0.0,2.713809,0.0
112,Individual_Low_Medium_High,0.10,2.726160e+03,5.570040e+03,2.726160e+03,48.565302,0.0,0.707107,0.0
113,Individual_Low_Medium_High,0.25,2.604354e+04,4.074992e+04,2.604354e+04,81.268357,0.0,0.833349,0.0
114,Individual_Low_Medium_High,0.50,5.768290e+05,7.119331e+05,5.768290e+05,144.862543,0.0,1.259117,0.0
115,Individual_Low_Medium_High,0.75,1.479840e+06,2.716943e+06,1.479840e+06,271.688625,0.0,1.788765,0.0
116,Individual_Low_Medium_High,0.90,2.566835e+06,5.249477e+06,2.566835e+06,422.967324,0.0,2.264289,0.0
117,Individual_Low_Medium_High,0.95,2.892551e+06,6.864985e+06,2.892551e+06,545.472986,0.0,2.504301,0.0
118,Individual_Low_Medium_High,0.99,4.236733e+06,1.128783e+07,4.236733e+06,752.143988,0.0,2.846001,0.0
119,Individual_Low_Medium_High,1.00,9.885735e+06,2.845373e+07,9.885735e+06,1080.587081,0.0,3.175414,0.0
120,Individual_Medium_High_High,0.10,3.117041e+04,4.988782e+04,3.117041e+04,83.677472,0.0,0.707107,0.0
121,Individual_Medium_High_High,0.25,5.317173e+05,6.417083e+05,5.317173e+05,123.570274,0.0,1.154693,0.0
122,Individual_Medium_High_High,0.50,1.420800e+06,2.618299e+06,1.420800e+06,210.415915,0.0,1.667796,0.0
123,Individual_Medium_High_High,0.75,2.942864e+06,6.648154e+06,2.942864e+06,343.807417,0.0,2.117557,0.0
124,Individual_Medium_High_High,0.90,5.426967e+06,1.369033e+07,5.426967e+06,495.159763,0.0,2.520357,0.0
125,Individual_Medium_High_High,0.95,9.629122e+06,2.078955e+07,9.629122e+06,610.162461,0.0,2.696204,0.0
126,Individual_Medium_High_High,0.99,1.491238e+07,4.256669e+07,1.491238e+07,775.287841,0.0,3.005799,0.0
127,Individual_Medium_High_High,1.00,2.725347e+07,9.035188e+07,2.725347e+07,1010.540123,0.0,3.173943,0.0
128,Individual_Medium_Low_High,0.10,1.074030e+03,1.785280e+03,1.074030e+03,28.571429,0.0,0.577350,0.0
129,Individual_Medium_Low_High,0.25,4.901220e+03,8.125740e+03,4.901220e+03,50.000000,0.0,0.707107,0.0
130,Individual_Medium_Low_High,0.50,4.743531e+04,8.018186e+04,4.743531e+04,79.207688,0.0,0.707107,0.0
131,Individual_Medium_Low_High,0.75,8.728102e+05,1.129268e+06,8.728102e+05,157.086887,0.0,1.154700,0.0
132,Individual_Medium_Low_High,0.90,2.052240e+06,3.357178e+06,2.052240e+06,240.945452,0.0,1.705240,0.0
133,Individual_Medium_Low_High,0.95,2.517104e+06,4.788560e+06,2.517104e+06,346.153519,0.0,1.788854,0.0
134,Individual_Medium_Low_High,0.99,2.743351e+06,6.560559e+06,2.743351e+06,450.478680,0.0,2.040742,0.0
135,Individual_Medium_Low_High,1.00,2.970895e+06,7.025347e+06,2.970895e+06,684.949143,0.0,2.474815,0.0
136,Individual_Medium_Medium_High,0.10,2.539890e+03,5.031560e+03,2.539890e+03,45.873190,0.0,0.707107,0.0
137,Individual_Medium_Medium_High,0.25,2.265703e+04,3.950717e+04,2.265703e+04,76.870316,0.0,0.759833,0.0
138,Individual_Medium_Medium_High,0.50,5.112082e+05,6.239433e+05,5.112082e+05,140.405037,0.0,1.254867,0.0
139,Individual_Medium_Medium_High,0.75,1.355567e+06,2.467375e+06,1.355567e+06,270.878167,0.0,1.788687,0.0
140,Individual_Medium_Medium_High,0.90,2.539793e+06,4.991383e+06,2.539793e+06,423.993667,0.0,2.265308,0.0
141,Individual_Medium_Medium_High,0.95,2.888518e+06,6.702003e+06,2.888518e+06,558.664993,0.0,2.520803,0.0
142,Individual_Medium_Medium_High,0.99,4.073437e+06,1.086089e+07,4.073437e+06,755.253552,0.0,2.845991,0.0
143,Individual_Medium_Medium_High,1.00,8.214530e+06,2.676243e+07,8.214530e+06,1076.823920,0.0,3.175400,0.0

In [80]:
# Define segment-wise percentile thresholds
percentile_mapping = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Function to get the correct percentile based on segment name
def get_percentile(segment):
    for key in percentile_mapping:
        if segment.startswith(key):  # Match segment category
            return percentile_mapping[key]
    return None  # Default case (if segment doesn't match)

# Compute percentiles for each segment
results = []
for segment in summary_table_cib['Segment'].unique():
    threshold = get_percentile(segment)
    if threshold is not None:
        segment_data = summary_table_cib[summary_table_cib['Segment'] == segment].drop(
            columns=['Segment','Customer_ID', 'YearMonth', 'Monthly_Credit_Amount', 'Volume_Credit_12M', 'Percent_Increase_vs_Avg', 'Percent_Increase_vs_Peak', 'Z_Score_Avg', 'Z_Score_Peak']
        ).quantile(threshold)
        segment_data['Segment'] = segment  # Add segment for clarity
        segment_data['Percentile'] = threshold  # Store applied percentile
        results.append(segment_data)

# Convert list to DataFrame
percentiles_df = pd.DataFrame(results).reset_index()

# Display results
# print(percentiles_df)

In [81]:
percentiles_df.head()

,index,Active_Months_12M,Avg_Credit_12M,Max_Credit_12M,Std_Credit_12M,Segment,Percentile
0,0.90,9.0,9.346116e+05,2539793.265,1.036715e+06,Individual_Medium_Medium_High,0.90
1,0.80,7.0,5.947808e+05,1765855.110,7.203964e+05,Individual_High_Medium_High,0.80
2,0.90,9.0,9.219436e+05,2523224.363,9.984764e+05,Business_Medium_Medium_High,0.90
3,0.95,12.0,2.805747e+06,9943686.840,3.674069e+06,Individual_Low_High_High,0.95
4,0.95,10.0,1.290575e+06,2892550.740,1.255060e+06,Individual_Low_Medium_High,0.95

In [82]:
# Define segment-specific percentile thresholds
segment_thresholds = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Compute percentile thresholds for each segment, year, and month
percentile_dfs = []
for segment, threshold in segment_thresholds.items():
    segment_df = summary_table_cib[summary_table_cib['Segment'] == segment]
    percentiles = (
        segment_df
        .groupby(['YearMonth'])
        [['Monthly_Credit_Amount', 'Volume_Credit_12M', 'Percent_Increase_vs_Avg', 'Percent_Increase_vs_Peak', 'Z_Score_Avg', 'Z_Score_Peak']]
        .quantile(threshold)
        .reset_index()
    )
    percentiles['Segment'] = segment  # Add segment column back
    percentile_dfs.append(percentiles)

# Concatenate all percentiles into a single DataFrame
percentile_df = pd.concat(percentile_dfs, ignore_index=True)

# Merge percentile thresholds back into the main DataFrame
summary_table_cib = summary_table_cib.merge(percentile_df, on=['YearMonth', 'Segment'], how='left', suffixes=('', '_threshold'))

# Generate alerts for customers exceeding segment-specific thresholds
summary_table_cib['Alert_Flag_CIB_Avg'] = (
    (summary_table_cib['Monthly_Credit_Amount'] > summary_table_cib['Monthly_Credit_Amount_threshold']) |
    (summary_table_cib['Volume_Credit_12M'] > summary_table_cib['Volume_Credit_12M_threshold']) |
    (summary_table_cib['Percent_Increase_vs_Avg'] > summary_table_cib['Percent_Increase_vs_Avg_threshold']) |
    (summary_table_cib['Z_Score_Avg'] > summary_table_cib['Z_Score_Avg_threshold'])
).astype(int)

# Generate alerts for customers exceeding segment-specific thresholds
summary_table_cib['Alert_Flag_CIB_Peak'] = (
    (summary_table_cib['Monthly_Credit_Amount'] > summary_table_cib['Monthly_Credit_Amount_threshold']) |
    (summary_table_cib['Volume_Credit_12M'] > summary_table_cib['Volume_Credit_12M_threshold']) |
    (summary_table_cib['Percent_Increase_vs_Peak'] > summary_table_cib['Percent_Increase_vs_Peak_threshold']) |
    (summary_table_cib['Z_Score_Peak'] > summary_table_cib['Z_Score_Peak_threshold'])
).astype(int)

# Filter only alerted customers
alert_customers_cib_avg = summary_table_cib[summary_table_cib['Alert_Flag_CIB_Avg'] == 1].copy()

# -----------------------------  Changed_ ADDED  ----------------------------#

alert_customers_cib_avg = alert_customers_cib_avg.copy()
alert_customers_cib_avg['Violation_ID'] = (
    "CIB_avg_" +
    alert_customers_cib_avg['Customer_ID'].astype(str) + "-" +
    alert_customers_cib_avg['YearMonth'].astype(str) 
)

# Display the alerted customers
print(alert_customers_cib_avg[['Violation_ID','Customer_ID', 'YearMonth', 'Segment', 'Monthly_Credit_Amount', 'Volume_Credit_12M', 'Percent_Increase_vs_Avg', 'Z_Score_Avg', 'Alert_Flag_CIB_Avg']].head())

# Filter only alerted customers
alert_customers_cib = summary_table_cib[summary_table_cib['Alert_Flag_CIB_Peak'] == 1]

# -----------------------------  Changed_ ADDED  ----------------------------#

alert_customers_cib_peak = alert_customers_cib.copy()
alert_customers_cib_peak['Violation_ID'] = (
    "CIB_Peak_" +
    alert_customers_cib_peak['Customer_ID'].astype(str) + "-" +
    alert_customers_cib_peak['YearMonth'].astype(str) 
)
# Display the alerted customers
alert_customers_cib_peak[['Violation_ID','Customer_ID', 'YearMonth', 'Segment', 'Monthly_Credit_Amount', 'Volume_Credit_12M', 'Percent_Increase_vs_Avg', 'Percent_Increase_vs_Peak', 'Z_Score_Avg', 'Z_Score_Peak', 'Alert_Flag_CIB_Avg', 'Alert_Flag_CIB_Peak']]

                  Violation_ID Customer_ID  YearMonth  \
3  CIB_avg_10006084-2024-02-01    10006084 2024-02-01
4  CIB_avg_10006084-2024-03-01    10006084 2024-03-01
6  CIB_avg_10006084-2024-08-01    10006084 2024-08-01
7  CIB_avg_10006084-2024-09-01    10006084 2024-09-01
9  CIB_avg_10011832-2024-04-01    10011832 2024-04-01

                         Segment  Monthly_Credit_Amount  Volume_Credit_12M  \
3    Individual_High_Medium_High              100737.28          106349.53
4    Individual_High_Medium_High              302211.84          408561.37
6    Individual_High_Medium_High              752944.08         1749777.22
7    Individual_High_Medium_High             1173641.52         2923203.85
9  Individual_Medium_Medium_High               33339.58           38102.24

   Percent_Increase_vs_Avg  Z_Score_Avg  Alert_Flag_CIB_Avg
3               278.891303     1.498956                   1
4               269.848770     1.689711                   1
6               287.277686     2.320405                   1
7               261.342357     2.163342                   1
9               337.501575     1.786603                   1

,Violation_ID,Customer_ID,YearMonth,Segment,Monthly_Credit_Amount,Volume_Credit_12M,Percent_Increase_vs_Avg,Percent_Increase_vs_Peak,Z_Score_Avg,Z_Score_Peak,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak
22,CIB_Peak_10015181-2024-04-01,10015181,2024-04-01,Business_Medium_Medium_High,2327766.83,5540921.13,236.083734,0.0,1.571490,0.0,1,1
78,CIB_Peak_1006789-2023-06-01,1006789,2023-06-01,Individual_Medium_Medium_High,958172.26,1078238.17,77.729241,0.0,0.707107,0.0,1,1
81,CIB_Peak_10074742-2023-11-01,10074742,2023-11-01,Individual_Low_Medium_High,663383.20,1776755.06,86.683920,0.0,1.041388,0.0,1,1
85,CIB_Peak_10081079-2024-02-01,10081079,2024-02-01,Individual_Medium_Medium_High,2396826.00,3230735.48,122.564739,0.0,1.095169,0.0,1,1
86,CIB_Peak_10081079-2024-03-01,10081079,2024-03-01,Individual_Medium_Medium_High,2404868.18,5635603.66,70.691079,0.0,0.838985,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
95740,CIB_Peak_99963383-2024-06-01,99963383,2024-06-01,Individual_Low_Medium_High,9885735.45,18720993.05,322.444917,0.0,1.939620,0.0,1,1
95743,CIB_Peak_99966168-2024-11-01,99966168,2024-11-01,Individual_Low_Low_High,2524381.65,5898405.84,71.190774,0.0,0.833813,0.0,1,1
95746,CIB_Peak_99971505-2023-08-01,99971505,2023-08-01,Individual_High_Medium_High,879722.68,880121.76,99.909313,0.0,0.707107,0.0,1,1
95747,CIB_Peak_99971505-2023-12-01,99971505,2023-12-01,Individual_High_Medium_High,1458341.00,2342423.80,211.288888,0.0,1.474244,0.0,1,1
95760,CIB_Peak_99977671-2024-09-01,99977671,2024-09-01,Individual_Low_Medium_High,3097996.83,8955441.55,107.560743,0.0,1.123483,0.0,1,1

In [24]:
alert_customers_cib['Customer_ID'].nunique()

5864

In [86]:
alert_customers_cib.head(2)

,Customer_ID,YearMonth,Monthly_Credit_Amount,Volume_Credit_12M,Active_Months_12M,Avg_Credit_12M,Max_Credit_12M,Std_Credit_12M,Percent_Increase_vs_Avg,Percent_Increase_vs_Peak,Z_Score_Avg,Z_Score_Peak,Segment,Monthly_Credit_Amount_threshold,Volume_Credit_12M_threshold,Percent_Increase_vs_Avg_threshold,Percent_Increase_vs_Peak_threshold,Z_Score_Avg_threshold,Z_Score_Peak_threshold,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak
22,10015181,2024-04-01,2327766.83,5540921.13,8.0,692615.14125,2327766.83,1.040511e+06,236.083734,0.0,1.571490,0.0,Business_Medium_Medium_High,2385933.853,5058377.941,264.817823,0.0,1.745166,0.0,1,1
78,1006789,2023-06-01,958172.26,1078238.17,2.0,539119.08500,958172.26,5.926307e+05,77.729241,0.0,0.707107,0.0,Individual_Medium_Medium_High,905216.470,1118121.430,99.814646,0.0,0.707107,0.0,1,1

# 5-Large Reportable Transactions

### All Customers

In [87]:
# Assume your main transaction DataFrame is named transaction_df
# and it has columns: Customer_ID, Transaction_Date, Payment_Method, Amount

# Step 2: CASH Transactions (ATM / Bank Branch ATM / Bank Branch Cash)
cash_txn = merged_df[
    merged_df['Payment_Method'].isin(['ATM', 'Bank Branch ATM', 'Bank Branch Cash'])
].groupby(['Customer_ID', 'tran_year', 'tran_month'])['Amount'].sum().reset_index()
cash_txn.rename(columns={'Amount': 'Cash_Tran_Amt'}, inplace=True)

# Step 3: CHEQUE Transactions
cheque_txn = merged_df[
    merged_df['Payment_Method'] == 'CHEQUE'
].groupby(['Customer_ID', 'tran_year', 'tran_month'])['Amount'].sum().reset_index()
cheque_txn.rename(columns={'Amount': 'Cheque_Tran_Amt'}, inplace=True)

# Step 4: EFT Transactions (Wire Transfer / Online Bank Transfer / ACH Transfer)
eft_txn = merged_df[
    merged_df['Payment_Method'].isin(['Wire Transfer', 'Online Bank Transfer', 'ACH Transfer'])
].groupby(['Customer_ID', 'tran_year', 'tran_month'])['Amount'].sum().reset_index()
eft_txn.rename(columns={'Amount': 'EFT_Tran_Amt'}, inplace=True)

# Step 5: Merge all three transaction types
monthly_transactions = cash_txn.merge(cheque_txn, on=['Customer_ID', 'tran_year', 'tran_month'], how='outer')\
                               .merge(eft_txn, on=['Customer_ID', 'tran_year', 'tran_month'], how='outer')

# Fill NaN with 0 (in case some months have no transactions of one type)
monthly_transactions.fillna(0, inplace=True)

# Final Output
monthly_transactions.head()

,Customer_ID,tran_year,tran_month,Cash_Tran_Amt,Cheque_Tran_Amt,EFT_Tran_Amt
0,1000408,2023,9,9968.62,0.0,3240110.80
1,1000408,2023,12,3840.31,0.0,1943568.65
2,1000408,2024,6,9983.80,0.0,19967.60
3,1000408,2024,7,29951.40,0.0,59902.80
4,1000408,2024,8,36496.71,0.0,66636.33

In [88]:
monthly_transactions['Customer_Status'] = "All_Customers"

### New Customers

In [89]:
required_columns = [
'Transaction_ID',
'Account_ID',
'Transaction_Date',
'Amount',
'Currency',
'DR_CR_Flag',
'CB_Flag',
'Domestic_International_Tran_Flag',
'Payment_Method',
'Originator_ID',
'Originator_Country',
'Originator_Bank_Country',
'Originator_Bank',
'Intermediary_Bank_Country',
'Intermediary_Bank',
'Beneficiary_ID',
'Beneficiary_Country',
'Beneficiary_Bank_Country',
'Beneficiary_Bank'
]

transaction_df = transaction_df[required_columns]

In [91]:
account_df.head(1)

  Account_ID Customer_ID       Account_Type  Status Opened_Date  Close_Date
0     154901    57904456  Business Checking  Active  2024-03-31  2027-04-21

In [92]:
customer_df.head(1)

,Customer_ID,Customer_Name,Date_of_Birth,Gender,Address,Nationality,Phone_Number,Email,Customer_Type,Risk_Rating,Occupation,Salary,business_registered_country,business_registered_address,PEP_Flag
0,43423488,Bruce Roberts,1939-06-20,Male,"852 Kline Shore\nJustinville, PA 98177",Liberia,6850352171,jensenlinda@example.net,Individual,Medium,Pharmacist,155846,,,Yes

In [94]:
transaction_df.head(1)

,Transaction_ID,Account_ID,Transaction_Date,Amount,Currency,DR_CR_Flag,CB_Flag,Domestic_International_Tran_Flag,Payment_Method,Originator_ID,Originator_Country,Originator_Bank_Country,Originator_Bank,Intermediary_Bank_Country,Intermediary_Bank,Beneficiary_ID,Beneficiary_Country,Beneficiary_Bank_Country,Beneficiary_Bank
0,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,,,,,,,,,

In [96]:
print("Account Unique Customer_ID:", account_df['Customer_ID'].nunique())
print("Unique Account_ID in transaction_df:", transaction_df['Account_ID'].nunique())
print("Unique Customer_IDs in customer_df:", customer_df['Customer_ID'].nunique())

Transaction Account_IDs: 39175
Account Customer_ID: 27583
Customer_IDs in transaction_df: 39175
Customer_IDs in customer_df: 49987

In [101]:
merged_df

,Transaction_ID,Account_ID,Transaction_Date,Amount,Currency,DR_CR_Flag,CB_Flag,Domestic_International_Tran_Flag,Payment_Method,Originator_ID,Originator_Country,Originator_Bank_Country,Originator_Bank,Intermediary_Bank_Country,Intermediary_Bank,Beneficiary_ID,Beneficiary_Country,Beneficiary_Bank_Country,Beneficiary_Bank,tran_month,tran_year,Customer_ID,Account_Type,Status,Opened_Date,Close_Date,Customer_Name,Date_of_Birth,Gender,Address,Nationality,Phone_Number,Email,Customer_Type,Risk_Rating,Occupation,Salary,business_registered_country,business_registered_address,PEP_Flag
0,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,,,,,,,,,,5,2023,5348281,Business Savings,Closed,2024-09-07,2026-04-25,Laura Sullivan,1981-04-19,Female,"93995 Tyler Walks\nCameronside, IN 50227",Guatemala,9271672585,jonescole@example.com,Individual,Low,Software Engineer,112886,,,Yes
1,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,,,,,,,,,,5,2023,76747747,Savings,Dormant,2024-05-05,2028-02-27,Mary Cooper,1994-03-01,Male,"1255 Wong Dale Suite 137\nBlankenshipborough, VI 65445",Senegal,7784432460,sellerskevin@example.com,Business,High,Lawyer,,Tokelau,"3530 Bradley Expressway Suite 468\nMariahshire, WV 13680",No
2,815850_20230509_Debit_1581,815850,2023-05-09,9936.83,CNY,Debit,No,International,Online Bank Transfer,,,,,,,,,,,5,2023,75920089,Checking,Active,2024-01-08,2025-11-10,Lisa Hart,1953-05-28,Male,"93253 Kim Hollow Apt. 049\nEast Amy, IA 84827",Korea South,6563161909,williamsmark@example.org,Individual,Low,Financial Analyst,334902,,,Yes
3,815850_20230509_Debit_1582,815850,2023-05-09,9936.83,CNY,Debit,No,International,Online Bank Transfer,,,,,,,,,,,5,2023,75920089,Checking,Active,2024-01-08,2025-11-10,Lisa Hart,1953-05-28,Male,"93253 Kim Hollow Apt. 049\nEast Amy, IA 84827",Korea South,6563161909,williamsmark@example.org,Individual,Low,Financial Analyst,334902,,,Yes
4,554224_20230509_Debit_1583,554224,2023-05-09,9958.48,CNY,Debit,No,International,Online Bank Transfer,,,,,,,,,,,5,2023,48842942,Checking,Dormant,2024-10-02,2027-03-24,Matthew White DDS,2003-10-16,Male,"521 Ruiz Passage Apt. 737\nSchmidtton, PW 18751",Montenegro,7523745009,john40@example.org,Individual,Low,Marketing Manager,134888,,,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8708396,683646_20250507_Debit_4304450,683646,2025-05-07,41370.50,GBP,Debit,No,International,Wire Transfer,,,,,,,,,,,5,2025,18366864,Checking,Active,2023-11-08,2026-06-11,Angela Parks DDS,1948-12-18,Male,"364 Jennifer Tunnel Apt. 965\nGreenfort, NJ 22634",Sweden,8263664246,annelarson@example.net,Business,Medium,Lawyer,,Guam,"PSC 7755, Box 7763\nAPO AP 49212",Yes
8708397,550043_20250507_Debit_4304451,550043,2025-05-07,156.98,CNY,Debit,No,International,ACH Transfer,,,,,,,,,,,5,2025,66955695,Business Checking,Active,2023-08-01,2025-07-26,Emily Johnson,1955-08-27,Female,"89603 Christopher Motorway\nPort Julie, TX 22733",Haiti,7458025930,austinlee@example.net,Individual,Low,Sales Representative,292852,,,Yes
8708398,77816_20250507_Debit_4304452,77816,2025-05-07,2777.22,GBP,Debit,No,International,ACH Transfer,,,,,,,,,,,5,2025,48462996,Business Checking,Active,2023-12-13,2026-08-16,Julia Ramirez,1964-12-13,Female,"5876 Forbes Village\nNorth Caitlin, WA 43283",Sudan,9872597937,robertduncan@example.net,Individual,High,Electrician,116865,,,Yes
8708399,679705_20250507_Debit_4304436,679705,2025-05-07,276.29,USD,Debit,No,International,Online Bank Transfer,,,,,,,,,,,5,2025,99962515,Business Checking,Closed,2023-12-23,2025-03-07,Jordan Carpenter,1984-03-15,Male,"30970 Christopher Fort Suite 843\nEast William, WI 50838",Botswana,5854653522,petersjames@example.net,Individual,Low,Chef,31548,,,Yes
8708400,815367_20250507_Debit_4306004,815367,2025-05-07,929388.71,JPY,Debit,No,International,Online Bank Transfer,,,,,,,,,,,5,2025,24749837,Business Checking,Active,2023-05-28,2026-06-08,Jessica Stokes,1940-09-01,Female,"7035 Camacho Hill Apt. 376\nWolfmouth, HI 95023",Sudan,9849569983,aaron30@example.org,Business,Low,Software Engineer,,Uzbekistan,"209 Pedro Throughway Apt. 966\nWest Eric, VA 38725",Yes

In [105]:
'''    merged_df has already saved and leaded in the env we don't need to do it again 
        this line should be executed if we also want to synthtic generation block to create merged_df datafram.
# ---------------------------------------------------------------------------------------------------------------

# Drop unneeded columns from account_df customer_df  For Memory Management ------------ added
account_df_reduced = account_df.drop(columns=['Status', 'Opened_Date', 'Close_Date'])
customer_df_reduced = customer_df.drop(columns=['Date_of_Birth','Gender', 'Address','Occupation',	'Salary' ,	'Nationality',	'Phone_Number',	'Email'])

# ---------------------------------------------------------------------------------------------------------------
merged_df = transaction_df.merge(account_df_reduced, on='Account_ID', how='left')\
                          .merge(customer_df_reduced, on='Customer_ID', how='left')
'''
# Step 1: Ensure datetime columns
merged_df['Transaction_Date'] = pd.to_datetime(merged_df['Transaction_Date'])
merged_df['Opened_Date'] = pd.to_datetime(merged_df['Opened_Date'])

# Step 2: Extract transaction and opened year/month
merged_df['tran_year'] = merged_df['Transaction_Date'].dt.year
merged_df['tran_month'] = merged_df['Transaction_Date'].dt.month
merged_df['opened_year'] = merged_df['Opened_Date'].dt.year
merged_df['opened_month'] = merged_df['Opened_Date'].dt.month

# Step 3: Filter customers onboarded and transacted same month
merged_df_same_month = merged_df[
    (merged_df['tran_year'] == merged_df['opened_year']) &
    (merged_df['tran_month'] == merged_df['opened_month'])
].copy()


# Step 4: Filter CASH, CHEQUE, EFT separately
cash_df = merged_df_same_month[merged_df_same_month['Payment_Method'].isin(['ATM', 'Bank Branch ATM', 'Bank Branch Cash'])].copy()
cheque_df = merged_df_same_month[merged_df_same_month['Payment_Method'] == 'CHEQUE'].copy()
eft_df = merged_df_same_month[merged_df_same_month['Payment_Method'].isin(['Wire Transfer', 'Online Bank Transfer', 'ACH Transfer'])].copy()

# Step 5: Function to compute rolling sums within each customer
def compute_rolling(df, label):
    df = df.sort_values(['Customer_ID', 'Transaction_Date'])
    
    # Keep Customer_ID after rolling
    rolling = df.groupby('Customer_ID').apply(
        lambda x: x.set_index('Transaction_Date')
                  .rolling('14D', min_periods=1)['Amount']
                  .sum()
                  .reset_index()
                  .assign(Customer_ID=x['Customer_ID'].iloc[0])  # Assign back Customer_ID
    ).reset_index(drop=True)
    
    rolling.rename(columns={'Amount': f'{label}_Tran_Amt'}, inplace=True)
    
    # Add back tran_year and tran_month
    rolling['tran_year'] = rolling['Transaction_Date'].dt.year
    rolling['tran_month'] = rolling['Transaction_Date'].dt.month
    
    return rolling

# Step 6: Compute rolling sums
rolling_cash = compute_rolling(cash_df, 'Cash')
rolling_cheque = compute_rolling(cheque_df, 'Cheque')
rolling_eft = compute_rolling(eft_df, 'EFT')

# Step 7: Aggregate maximum rolling sum per month
agg_cash = rolling_cash.groupby(['Customer_ID', 'tran_year', 'tran_month'])['Cash_Tran_Amt'].max().reset_index()
agg_cheque = rolling_cheque.groupby(['Customer_ID', 'tran_year', 'tran_month'])['Cheque_Tran_Amt'].max().reset_index()
agg_eft = rolling_eft.groupby(['Customer_ID', 'tran_year', 'tran_month'])['EFT_Tran_Amt'].max().reset_index()

# Step 8: Merge all together
final_rolling_view = agg_cash.merge(agg_cheque, on=['Customer_ID', 'tran_year', 'tran_month'], how='outer')\
                             .merge(agg_eft, on=['Customer_ID', 'tran_year', 'tran_month'], how='outer')\
                             .fillna(0)

# Step 9: Final Output
final_rolling_view.head()

,Customer_ID,tran_year,tran_month,Cash_Tran_Amt,Cheque_Tran_Amt,EFT_Tran_Amt
0,10006084,2023,9,954936.82,0.0,2864810.46
1,10013207,2025,3,653.30,0.0,21787.52
2,10021391,2024,10,799.35,0.0,2398.05
3,10048968,2024,9,724.33,0.0,4182.39
4,10049173,2024,8,512.70,0.0,1025.40

In [106]:
final_rolling_view['Customer_Status'] = 'New_Customer'

In [107]:
monthly_tran_lrt = pd.concat([monthly_transactions, final_rolling_view], ignore_index=True)

In [108]:
monthly_tran_lrt = monthly_tran_lrt.merge(segmented_df[['Customer_ID', 'Segment']], on=['Customer_ID'], how = 'inner')

In [109]:
percentiles = monthly_tran_lrt.drop(columns=['Customer_ID', 'tran_year', 'tran_month'])\
                        .groupby(['Segment', 'Customer_Status'])\
                        .quantile([0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99, 1])\
                        .reset_index()
percentiles

,Segment,Customer_Status,level_2,Cash_Tran_Amt,Cheque_Tran_Amt,EFT_Tran_Amt
0,Business_High_High_High,All_Customers,0.10,0.000000e+00,0.000000e+00,2.575890e+03
1,Business_High_High_High,All_Customers,0.25,0.000000e+00,0.000000e+00,2.994274e+04
2,Business_High_High_High,All_Customers,0.50,1.250435e+03,0.000000e+00,1.244143e+06
3,Business_High_High_High,All_Customers,0.75,4.993926e+04,0.000000e+00,4.610670e+06
4,Business_High_High_High,All_Customers,0.90,1.036316e+06,5.766840e+03,1.092803e+07
5,Business_High_High_High,All_Customers,0.95,2.514195e+06,2.235271e+05,1.675019e+07
6,Business_High_High_High,All_Customers,0.99,5.833015e+06,2.295976e+06,4.090544e+07
7,Business_High_High_High,All_Customers,1.00,1.533994e+07,1.038291e+07,1.034071e+08
8,Business_High_High_High,New_Customer,0.10,0.000000e+00,0.000000e+00,1.521080e+03
9,Business_High_High_High,New_Customer,0.25,0.000000e+00,0.000000e+00,1.085574e+04
10,Business_High_High_High,New_Customer,0.50,0.000000e+00,0.000000e+00,4.768611e+05
11,Business_High_High_High,New_Customer,0.75,4.836050e+03,0.000000e+00,2.795385e+06
12,Business_High_High_High,New_Customer,0.90,6.961187e+05,1.159280e+03,6.849953e+06
13,Business_High_High_High,New_Customer,0.95,1.895648e+06,1.580888e+05,1.143020e+07
14,Business_High_High_High,New_Customer,0.99,4.749321e+06,1.320015e+06,4.649247e+07
15,Business_High_High_High,New_Customer,1.00,1.244624e+07,2.747074e+06,5.053120e+07
16,Business_High_Low_High,All_Customers,0.10,0.000000e+00,0.000000e+00,9.223200e+02
17,Business_High_Low_High,All_Customers,0.25,0.000000e+00,0.000000e+00,2.476950e+03
18,Business_High_Low_High,All_Customers,0.50,0.000000e+00,0.000000e+00,2.576628e+04
19,Business_High_Low_High,All_Customers,0.75,2.227290e+03,0.000000e+00,9.542982e+05
20,Business_High_Low_High,All_Customers,0.90,4.974860e+05,0.000000e+00,2.829212e+06
21,Business_High_Low_High,All_Customers,0.95,9.389155e+05,8.256500e+02,5.049118e+06
22,Business_High_Low_High,All_Customers,0.99,2.632121e+06,7.416927e+05,9.061563e+06
23,Business_High_Low_High,All_Customers,1.00,2.816747e+06,1.660641e+06,1.104734e+07
24,Business_High_Low_High,New_Customer,0.10,0.000000e+00,0.000000e+00,1.293044e+03
25,Business_High_Low_High,New_Customer,0.25,0.000000e+00,0.000000e+00,2.543160e+03
26,Business_High_Low_High,New_Customer,0.50,0.000000e+00,0.000000e+00,7.643426e+04
27,Business_High_Low_High,New_Customer,0.75,9.995480e+03,0.000000e+00,1.457130e+06
28,Business_High_Low_High,New_Customer,0.90,2.669046e+06,1.107094e+05,3.232396e+06
29,Business_High_Low_High,New_Customer,0.95,2.742897e+06,3.321281e+05,4.432945e+06
30,Business_High_Low_High,New_Customer,0.99,2.801977e+06,5.092631e+05,5.393383e+06
31,Business_High_Low_High,New_Customer,1.00,2.816747e+06,5.535469e+05,5.633493e+06
32,Business_High_Medium_High,All_Customers,0.10,0.000000e+00,0.000000e+00,1.195281e+03
33,Business_High_Medium_High,All_Customers,0.25,0.000000e+00,0.000000e+00,5.107980e+03
34,Business_High_Medium_High,All_Customers,0.50,0.000000e+00,0.000000e+00,8.103183e+04
35,Business_High_Medium_High,All_Customers,0.75,5.054370e+03,0.000000e+00,1.756671e+06
36,Business_High_Medium_High,All_Customers,0.90,4.800733e+05,1.734390e+02,4.565894e+06
37,Business_High_Medium_High,All_Customers,0.95,9.479848e+05,7.846580e+03,6.645708e+06
38,Business_High_Medium_High,All_Customers,0.99,2.660933e+06,9.298493e+05,1.127873e+07
39,Business_High_Medium_High,All_Customers,1.00,5.362187e+06,4.357259e+06,2.109420e+07
40,Business_High_Medium_High,New_Customer,0.10,0.000000e+00,0.000000e+00,9.174420e+02
41,Business_High_Medium_High,New_Customer,0.25,0.000000e+00,0.000000e+00,2.800050e+03
42,Business_High_Medium_High,New_Customer,0.50,0.000000e+00,0.000000e+00,3.135272e+04
43,Business_High_Medium_High,New_Customer,0.75,5.254520e+03,0.000000e+00,1.735144e+06
44,Business_High_Medium_High,New_Customer,0.90,5.330393e+05,0.000000e+00,4.428601e+06
45,Business_High_Medium_High,New_Customer,0.95,1.265683e+06,3.895874e+03,6.225992e+06
46,Business_High_Medium_High,New_Customer,0.99,2.642572e+06,5.177627e+05,1.075635e+07
47,Business_High_Medium_High,New_Customer,1.00,2.996214e+06,1.694172e+06,1.191663e+07
48,Business_Low_High_High,All_Customers,0.10,0.000000e+00,0.000000e+00,2.676520e+03
49,Business_Low_High_High,All_Customers,0.25,0.000000e+00,0.000000e+00,3.162478e+04
50,Business_Low_High_High,All_Customers,0.50,8.367000e+02,0.000000e+00,1.184319e+06
51,Business_Low_High_High,All_Customers,0.75,4.715202e+04,0.000000e+00,4.829385e+06
52,Business_Low_High_High,All_Customers,0.90,1.151003e+06,5.584890e+03,1.067947e+07
53,Business_Low_High_High,All_Customers,0.95,2.567958e+06,2.893933e+05,1.652364e+07
54,Business_Low_High_High,All_Customers,0.99,7.578156e+06,2.427040e+06,4.017234e+07
55,Business_Low_High_High,All_Customers,1.00,2.318200e+07,1.175944e+07,1.383650e+08
56,Business_Low_High_High,New_Customer,0.10,0.000000e+00,0.000000e+00,1.420248e+03
57,Business_Low_High_High,New_Customer,0.25,0.000000e+00,0.000000e+00,7.230780e+03
58,Business_Low_High_High,New_Customer,0.50,0.000000e+00,0.000000e+00,1.195687e+05
59,Business_Low_High_High,New_Customer,0.75,9.043900e+03,0.000000e+00,2.314066e+06
60,Business_Low_High_High,New_Customer,0.90,6.634413e+05,6.211380e+02,6.447476e+06
61,Business_Low_High_High,New_Customer,0.95,1.586757e+06,9.980710e+03,9.447237e+06
62,Business_Low_High_High,New_Customer,0.99,3.774004e+06,2.008155e+06,2.336478e+07
63,Business_Low_High_High,New_Customer,1.00,1.132096e+07,1.080931e+07,8.130027e+07
64,Business_Low_Low_High,All_Customers,0.10,0.000000e+00,0.000000e+00,8.034050e+02
65,Business_Low_Low_High,All_Customers,0.25,0.000000e+00,0.000000e+00,1.997145e+03
66,Business_Low_Low_High,All_Customers,0.50,0.000000e+00,0.000000e+00,2.095367e+04
67,Business_Low_Low_High,All_Customers,0.75,4.636175e+02,0.000000e+00,8.772167e+05
68,Business_Low_Low_High,All_Customers,0.90,4.407505e+04,0.000000e+00,2.390461e+06
69,Business_Low_Low_High,All_Customers,0.95,7.128596e+05,8.347650e+02,3.734068e+06
70,Business_Low_Low_High,All_Customers,0.99,2.163302e+06,7.380633e+05,7.351258e+06
71,Business_Low_Low_High,All_Customers,1.00,2.920260e+06,2.875503e+06,1.546984e+07
72,Business_Low_Low_High,New_Customer,0.10,0.000000e+00,0.000000e+00,9.872360e+02
73,Business_Low_Low_High,New_Customer,0.25,0.000000e+00,0.000000e+00,3.530655e+03
74,Business_Low_Low_High,New_Customer,0.50,0.000000e+00,0.000000e+00,4.101412e+04
75,Business_Low_Low_High,New_Customer,0.75,1.002285e+03,0.000000e+00,1.574943e+06
76,Business_Low_Low_High,New_Customer,0.90,7.378154e+05,0.000000e+00,3.214649e+06
77,Business_Low_Low_High,New_Customer,0.95,1.206352e+06,6.937278e+03,5.021481e+06
78,Business_Low_Low_High,New_Customer,0.99,1.764286e+06,2.919738e+05,5.579433e+06
79,Business_Low_Low_High,New_Customer,1.00,1.807385e+06,1.576832e+06,6.114371e+06
80,Business_Low_Medium_High,All_Customers,0.10,0.000000e+00,0.000000e+00,1.307652e+03
81,Business_Low_Medium_High,All_Customers,0.25,0.000000e+00,0.000000e+00,6.598070e+03
82,Business_Low_Medium_High,All_Customers,0.50,0.000000e+00,0.000000e+00,9.241902e+04
83,Business_Low_Medium_High,All_Customers,0.75,4.493530e+03,0.000000e+00,1.786604e+06
84,Business_Low_Medium_High,All_Customers,0.90,4.870451e+05,1.622960e+02,4.494579e+06
85,Business_Low_Medium_High,All_Customers,0.95,9.524995e+05,9.242114e+03,6.787453e+06
86,Business_Low_Medium_High,All_Customers,0.99,2.619298e+06,9.507001e+05,1.085715e+07
87,Business_Low_Medium_High,All_Customers,1.00,5.889679e+06,4.357944e+06,2.552339e+07
88,Business_Low_Medium_High,New_Customer,0.10,0.000000e+00,0.000000e+00,1.149600e+03
89,Business_Low_Medium_High,New_Customer,0.25,0.000000e+00,0.000000e+00,4.713360e+03
90,Business_Low_Medium_High,New_Customer,0.50,0.000000e+00,0.000000e+00,5.979168e+04
91,Business_Low_Medium_High,New_Customer,0.75,2.769150e+03,0.000000e+00,1.447433e+06
92,Business_Low_Medium_High,New_Customer,0.90,3.845773e+05,0.000000e+00,3.756010e+06
93,Business_Low_Medium_High,New_Customer,0.95,8.673690e+05,2.560560e+03,5.798367e+06
94,Business_Low_Medium_High,New_Customer,0.99,2.539292e+06,8.618787e+05,9.064874e+06
95,Business_Low_Medium_High,New_Customer,1.00,3.740940e+06,2.677677e+06,1.786376e+07
96,Business_Medium_High_High,All_Customers,0.10,0.000000e+00,0.000000e+00,2.666188e+03
97,Business_Medium_High_High,All_Customers,0.25,0.000000e+00,0.000000e+00,3.170441e+04
98,Business_Medium_High_High,All_Customers,0.50,9.194400e+02,0.000000e+00,1.295708e+06
99,Business_Medium_High_High,All_Customers,0.75,1.192735e+05,0.000000e+00,4.741174e+06
100,Business_Medium_High_High,All_Customers,0.90,1.315912e+06,4.433757e+03,1.083451e+07
101,Business_Medium_High_High,All_Customers,0.95,2.477366e+06,1.189512e+05,1.729427e+07
102,Business_Medium_High_High,All_Customers,0.99,6.639262e+06,2.235005e+06,4.846036e+07
103,Business_Medium_High_High,All_Customers,1.00,2.318200e+07,1.804749e+07,1.383753e+08
104,Business_Medium_High_High,New_Customer,0.10,0.000000e+00,0.000000e+00,1.622168e+03
105,Business_Medium_High_High,New_Customer,0.25,0.000000e+00,0.000000e+00,8.543385e+03
106,Business_Medium_High_High,New_Customer,0.50,0.000000e+00,0.000000e+00,1.688896e+05
107,Business_Medium_High_High,New_Customer,0.75,2.336525e+03,0.000000e+00,2.102355e+06
108,Business_Medium_High_High,New_Customer,0.90,5.122742e+05,0.000000e+00,5.497250e+06
109,Business_Medium_High_High,New_Customer,0.95,1.394498e+06,6.210878e+03,9.053258e+06
110,Business_Medium_High_High,New_Customer,0.99,2.829640e+06,5.984803e+05,2.135922e+07
111,Business_Medium_High_High,New_Customer,1.00,8.604211e+06,2.952320e+06,6.470477e+07
112,Business_Medium_Low_High,All_Customers,0.10,0.000000e+00,0.000000e+00,9.059700e+02
113,Business_Medium_Low_High,All_Customers,0.25,0.000000e+00,0.000000e+00,2.223460e+03
114,Business_Medium_Low_High,All_Customers,0.50,0.000000e+00,0.000000e+00,2.004607e+04
115,Business_Medium_Low_High,All_Customers,0.75,1.556190e+03,0.000000e+00,8.040735e+05
116,Business_Medium_Low_High,All_Customers,0.90,4.504205e+05,0.000000e+00,2.216844e+06
117,Business_Medium_Low_High,All_Customers,0.95,8.277688e+05,9.709825e+02,3.294345e+06
118,Business_Medium_Low_High,All_Customers,0.99,2.111196e+06,4.555413e+05,5.649483e+06
119,Business_Medium_Low_High,All_Customers,1.00,2.561928e+06,9.041941e+05,6.333588e+06
120,Business_Medium_Low_High,New_Customer,0.10,0.000000e+00,0.000000e+00,3.676640e+02
121,Business_Medium_Low_High,New_Customer,0.25,0.000000e+00,0.000000e+00,1.566810e+03
122,Business_Medium_Low_High,New_Customer,0.50,0.000000e+00,0.000000e+00,7.888330e+03
123,Business_Medium_Low_High,New_Customer,0.75,2.985120e+03,0.000000e+00,3.086241e+04
124,Business_Medium_Low_High,New_Customer,0.90,8.709698e+03,1.081240e+02,1.168149e+06
125,Business_Medium_Low_High,New_Customer,0.95,1.090426e+04,4.138620e+02,2.212207e+06
126,Business_Medium_Low_High,New_Customer,0.99,1.398431e+04,8.732284e+02,3.130449e+06
127,Business_Medium_Low_High,New_Customer,1.00,1.475432e+04,9.880700e+02,3.360010e+06
128,Business_Medium_Medium_High,All_Customers,0.10,0.000000e+00,0.000000e+00,1.236976e+03
129,Business_Medium_Medium_High,All_Customers,0.25,0.000000e+00,0.000000e+00,6.184392e+03
130,Business_Medium_Medium_High,All_Customers,0.50,0.000000e+00,0.000000e+00,8.913836e+04
131,Business_Medium_Medium_High,All_Customers,0.75,5.068740e+03,0.000000e+00,1.809918e+06
132,Business_Medium_Medium_High,All_Customers,0.90,4.681939e+05,0.000000e+00,4.628884e+06
133,Business_Medium_Medium_High,All_Customers,0.95,9.359577e+05,5.274104e+03,6.909662e+06
134,Business_Medium_Medium_High,All_Customers,0.99,2.567030e+06,8.486407e+05,1.079003e+07
135,Business_Medium_Medium_High,All_Customers,1.00,5.861325e+06,3.216474e+06,2.727809e+07
136,Business_Medium_Medium_High,New_Customer,0.10,0.000000e+00,0.000000e+00,1.036368e+03
137,Business_Medium_Medium_High,New_Customer,0.25,0.000000e+00,0.000000e+00,4.868325e+03
138,Business_Medium_Medium_High,New_Customer,0.50,0.000000e+00,0.000000e+00,5.907804e+04
139,Business_Medium_Medium_High,New_Customer,0.75,2.560838e+03,0.000000e+00,1.685165e+06
140,Business_Medium_Medium_High,New_Customer,0.90,3.452621e+05,0.000000e+00,4.144889e+06
141,Business_Medium_Medium_High,New_Customer,0.95,9.497731e+05,2.557204e+03,5.678464e+06
142,Business_Medium_Medium_High,New_Customer,0.99,2.690204e+06,7.692518e+05,9.311706e+06
143,Business_Medium_Medium_High,New_Customer,1.00,5.555051e+06,2.586570e+06,1.651613e+07
144,Individual_High_High_High,All_Customers,0.10,0.000000e+00,0.000000e+00,2.745960e+03
145,Individual_High_High_High,All_Customers,0.25,0.000000e+00,0.000000e+00,3.302379e+04
146,Individual_High_High_High,All_Customers,0.50,8.598450e+02,0.000000e+00,1.246862e+06
147,Individual_High_High_High,All_Customers,0.75,5.112962e+04,0.000000e+00,4.814977e+06
148,Individual_High_High_High,All_Customers,0.90,1.165555e+06,8.163567e+03,1.044533e+07
149,Individual_High_High_High,All_Customers,0.95,2.549031e+06,3.074460e+05,1.579171e+07
150,Individual_High_High_High,All_Customers,0.99,7.056677e+06,2.550815e+06,3.895371e+07
151,Individual_High_High_High,All_Customers,1.00,2.318200e+07,9.085556e+06,1.398664e+08
152,Individual_High_High_High,New_Customer,0.10,0.000000e+00,0.000000e+00,1.713312e+03
153,Individual_High_High_High,New_Customer,0.25,0.000000e+00,0.000000e+00,8.299568e+03
154,Individual_High_High_High,New_Customer,0.50,0.000000e+00,0.000000e+00,9.591024e+04
155,Individual_High_High_High,New_Customer,0.75,4.818680e+03,0.000000e+00,2.230815e+06
156,Individual_High_High_High,New_Customer,0.90,6.272825e+05,6.993710e+02,6.034044e+06
157,Individual_High_High_High,New_Customer,0.95,1.274920e+06,1.959885e+04,8.698766e+06
158,Individual_High_High_High,New_Customer,0.99,2.899565e+06,2.298498e+06,2.253481e+07
159,Individual_High_High_High,New_Customer,1.00,2.318200e+07,2.736831e+06,9.668295e+07
160,Individual_High_Low_High,All_Customers,0.10,0.000000e+00,0.000000e+00,8.075500e+02
161,Individual_High_Low_High,All_Customers,0.25,0.000000e+00,0.000000e+00,2.031060e+03
162,Individual_High_Low_High,All_Customers,0.50,0.000000e+00,0.000000e+00,1.961401e+04
163,Individual_High_Low_High,All_Customers,0.75,4.029500e+02,0.000000e+00,5.194078e+05
164,Individual_High_Low_High,All_Customers,0.90,9.991600e+03,0.000000e+00,1.896850e+06
165,Individual_High_Low_High,All_Customers,0.95,3.500242e+05,0.000000e+00,2.923771e+06
166,Individual_High_Low_High,All_Customers,0.99,1.346808e+06,1.849342e+04,6.424962e+06
167,Individual_High_Low_High,All_Customers,1.00,2.986104e+06,7.816568e+05,9.092739e+06
168,Individual_High_Low_High,New_Customer,0.10,0.000000e+00,0.000000e+00,9.802800e+02
169,Individual_High_Low_High,New_Customer,0.25,0.000000e+00,0.000000e+00,2.865825e+03
170,Individual_High_Low_High,New_Customer,0.50,0.000000e+00,0.000000e+00,9.694620e+03
171,Individual_High_Low_High,New_Customer,0.75,1.451550e+02,0.000000e+00,6.621373e+04
172,Individual_High_Low_High,New_Customer,0.90,6.052100e+03,5.555000e+01,2.074583e+06
173,Individual_High_Low_High,New_Customer,0.95,4.445850e+05,1.653475e+03,2.726230e+06
174,Individual_High_Low_High,New_Customer,0.99,8.792638e+05,2.908713e+04,3.097763e+06
175,Individual_High_Low_High,New_Customer,1.00,8.899511e+05,4.051476e+04,3.187028e+06
176,Individual_High_Medium_High,All_Customers,0.10,0.000000e+00,0.000000e+00,1.292072e+03
177,Individual_High_Medium_High,All_Customers,0.25,0.000000e+00,0.000000e+00,5.628630e+03
178,Individual_High_Medium_High,All_Customers,0.50,0.000000e+00,0.000000e+00,8.025252e+04
179,Individual_High_Medium_High,All_Customers,0.75,3.355320e+03,0.000000e+00,1.700507e+06
180,Individual_High_Medium_High,All_Customers,0.90,4.460322e+05,1.543780e+02,4.201231e+06
181,Individual_High_Medium_High,All_Customers,0.95,9.353815e+05,6.664722e+03,6.530358e+06
182,Individual_High_Medium_High,All_Customers,0.99,2.570396e+06,1.041201e+06,1.081467e+07
183,Individual_High_Medium_High,All_Customers,1.00,6.381987e+06,4.906467e+06,3.116331e+07
184,Individual_High_Medium_High,New_Customer,0.10,0.000000e+00,0.000000e+00,1.028574e+03
185,Individual_High_Medium_High,New_Customer,0.25,0.000000e+00,0.000000e+00,4.843905e+03
186,Individual_High_Medium_High,New_Customer,0.50,0.000000e+00,0.000000e+00,5.989170e+04
187,Individual_High_Medium_High,New_Customer,0.75,2.847295e+03,0.000000e+00,1.386919e+06
188,Individual_High_Medium_High,New_Customer,0.90,3.997903e+05,0.000000e+00,3.256664e+06
189,Individual_High_Medium_High,New_Customer,0.95,8.505105e+05,2.071341e+03,5.403209e+06
190,Individual_High_Medium_High,New_Customer,0.99,2.236564e+06,9.678762e+05,8.876766e+06
191,Individual_High_Medium_High,New_Customer,1.00,2.932288e+06,2.996594e+06,1.517195e+07
192,Individual_Low_High_High,All_Customers,0.10,0.000000e+00,0.000000e+00,2.800452e+03
193,Individual_Low_High_High,All_Customers,0.25,0.000000e+00,0.000000e+00,3.320181e+04
194,Individual_Low_High_High,All_Customers,0.50,9.008700e+02,0.000000e+00,1.225438e+06
195,Individual_Low_High_High,All_Customers,0.75,7.121625e+04,0.000000e+00,4.916935e+06
196,Individual_Low_High_High,All_Customers,0.90,1.301812e+06,4.532028e+03,1.086775e+07
197,Individual_Low_High_High,All_Customers,0.95,2.594782e+06,1.774283e+05,1.700168e+07
198,Individual_Low_High_High,All_Customers,0.99,7.482903e+06,2.395451e+06,4.024652e+07
199,Individual_Low_High_High,All_Customers,1.00,2.402395e+07,1.804749e+07,1.274689e+08
200,Individual_Low_High_High,New_Customer,0.10,0.000000e+00,0.000000e+00,1.455415e+03
201,Individual_Low_High_High,New_Customer,0.25,0.000000e+00,0.000000e+00,8.476470e+03
202,Individual_Low_High_High,New_Customer,0.50,0.000000e+00,0.000000e+00,1.468108e+05
203,Individual_Low_High_High,New_Customer,0.75,7.317965e+03,0.000000e+00,2.278181e+06
204,Individual_Low_High_High,New_Customer,0.90,6.331485e+05,3.163840e+02,6.096369e+06
205,Individual_Low_High_High,New_Customer,0.95,1.495133e+06,1.221167e+04,9.751027e+06
206,Individual_Low_High_High,New_Customer,0.99,3.927406e+06,1.782920e+06,2.902011e+07
207,Individual_Low_High_High,New_Customer,1.00,1.402750e+07,9.852175e+06,6.867191e+07
208,Individual_Low_Low_High,All_Customers,0.10,0.000000e+00,0.000000e+00,7.224050e+02
209,Individual_Low_Low_High,All_Customers,0.25,0.000000e+00,0.000000e+00,1.935740e+03
210,Individual_Low_Low_High,All_Customers,0.50,0.000000e+00,0.000000e+00,1.984567e+04
211,Individual_Low_Low_High,All_Customers,0.75,3.907950e+02,0.000000e+00,7.180992e+05
212,Individual_Low_Low_High,All_Customers,0.90,2.971050e+04,0.000000e+00,2.379695e+06
213,Individual_Low_Low_High,All_Customers,0.95,5.488547e+05,9.015700e+02,3.778884e+06
214,Individual_Low_Low_High,All_Customers,0.99,1.843258e+06,7.438886e+05,7.706110e+06
215,Individual_Low_Low_High,All_Customers,1.00,2.933143e+06,2.876795e+06,1.390698e+07
216,Individual_Low_Low_High,New_Customer,0.10,0.000000e+00,0.000000e+00,8.191280e+02
217,Individual_Low_Low_High,New_Customer,0.25,0.000000e+00,0.000000e+00,2.017180e+03
218,Individual_Low_Low_High,New_Customer,0.50,0.000000e+00,0.000000e+00,1.735820e+04
219,Individual_Low_Low_High,New_Customer,0.75,4.813000e+02,0.000000e+00,8.401471e+05
220,Individual_Low_Low_High,New_Customer,0.90,3.092701e+04,0.000000e+00,2.279217e+06
221,Individual_Low_Low_High,New_Customer,0.95,5.970250e+05,6.834780e+02,3.340327e+06
222,Individual_Low_Low_High,New_Customer,0.99,8.537023e+05,4.880799e+05,6.646879e+06
223,Individual_Low_Low_High,New_Customer,1.00,1.969446e+06,8.451800e+05,9.919869e+06
224,Individual_Low_Medium_High,All_Customers,0.10,0.000000e+00,0.000000e+00,1.277799e+03
225,Individual_Low_Medium_High,All_Customers,0.25,0.000000e+00,0.000000e+00,6.031980e+03
226,Individual_Low_Medium_High,All_Customers,0.50,0.000000e+00,0.000000e+00,9.025286e+04
227,Individual_Low_Medium_High,All_Customers,0.75,3.903495e+03,0.000000e+00,1.793616e+06
228,Individual_Low_Medium_High,All_Customers,0.90,4.752727e+05,1.297560e+02,4.539997e+06
229,Individual_Low_Medium_High,All_Customers,0.95,9.501029e+05,8.072310e+03,6.853053e+06
230,Individual_Low_Medium_High,All_Customers,0.99,2.646317e+06,9.378362e+05,1.109470e+07

In [110]:
# Define segment-wise percentile thresholds
percentile_mapping = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Function to get the correct percentile threshold based on segment
def get_percentile(segment):
    for key in percentile_mapping:
        if segment.startswith(key):
            return percentile_mapping[key]
    return None

# --- Updated: Compute percentiles by Segment and Customer_Status ---
results = []

# Loop over unique combinations of Segment and Customer_Status
for segment in monthly_tran_lrt['Segment'].unique():
    for status in monthly_tran_lrt['Customer_Status'].unique():
        
        data_subset = monthly_tran_lrt[(monthly_tran_lrt['Segment'] == segment) & 
                                       (monthly_tran_lrt['Customer_Status'] == status)]
        
        if not data_subset.empty:
            threshold = get_percentile(segment)
            
            if threshold is not None:
                # Drop unnecessary columns
                percentile_values = data_subset.drop(
                    columns=['Customer_Status','Segment','Customer_ID', 'tran_year', 'tran_month', 'Cash_Tran_Amt', 'Cheque_Tran_Amt', 'EFT_Tran_Amt']
                ).quantile(threshold)
    
                #-------------changed
                
                percentile_values['Segment'] = segment
                percentile_values['Customer_Status'] = status
                percentile_values['Percentile_Threshold'] = threshold
                
                results.append(percentile_values)

# Convert the list to DataFrame
percentiles_df = pd.DataFrame(results).reset_index()

# View results
percentiles_df.head()

   index                        Segment Customer_Status  Percentile_Threshold
0   0.95     Individual_Low_Medium_High   All_Customers                  0.95
1   0.95     Individual_Low_Medium_High    New_Customer                  0.95
2   0.90  Individual_Medium_Medium_High   All_Customers                  0.90
3   0.90  Individual_Medium_Medium_High    New_Customer                  0.90
4   0.80    Individual_High_Medium_High   All_Customers                  0.80

In [111]:
data_subset.head()

Empty DataFrame
Columns: [Customer_ID, tran_year, tran_month, Cash_Tran_Amt, Cheque_Tran_Amt, EFT_Tran_Amt, Customer_Status, Segment]
Index: []

In [112]:
percentiles_df

    index                        Segment Customer_Status  Percentile_Threshold
0    0.95     Individual_Low_Medium_High   All_Customers                  0.95
1    0.95     Individual_Low_Medium_High    New_Customer                  0.95
2    0.90  Individual_Medium_Medium_High   All_Customers                  0.90
3    0.90  Individual_Medium_Medium_High    New_Customer                  0.90
4    0.80    Individual_High_Medium_High   All_Customers                  0.80
5    0.80    Individual_High_Medium_High    New_Customer                  0.80
6    0.90    Business_Medium_Medium_High   All_Customers                  0.90
7    0.90    Business_Medium_Medium_High    New_Customer                  0.90
8    0.95       Individual_Low_High_High   All_Customers                  0.95
9    0.95       Individual_Low_High_High    New_Customer                  0.95
10   0.95       Business_Low_Medium_High   All_Customers                  0.95
11   0.95       Business_Low_Medium_High    New_Customer                  0.95
12   0.95         Business_Low_High_High   All_Customers                  0.95
13   0.95         Business_Low_High_High    New_Customer                  0.95
14   0.95          Business_Low_Low_High   All_Customers                  0.95
15   0.95          Business_Low_Low_High    New_Customer                  0.95
16   0.90    Individual_Medium_High_High   All_Customers                  0.90
17   0.90    Individual_Medium_High_High    New_Customer                  0.90
18   0.80      Business_High_Medium_High   All_Customers                  0.80
19   0.80      Business_High_Medium_High    New_Customer                  0.80
20   0.95        Individual_Low_Low_High   All_Customers                  0.95
21   0.95        Individual_Low_Low_High    New_Customer                  0.95
22   0.80      Individual_High_High_High   All_Customers                  0.80
23   0.80      Individual_High_High_High    New_Customer                  0.80
24   0.90     Individual_Medium_Low_High   All_Customers                  0.90
25   0.90     Individual_Medium_Low_High    New_Customer                  0.90
26   0.80       Individual_High_Low_High   All_Customers                  0.80
27   0.80       Individual_High_Low_High    New_Customer                  0.80
28   0.90      Business_Medium_High_High   All_Customers                  0.90
29   0.90      Business_Medium_High_High    New_Customer                  0.90
30   0.90       Business_Medium_Low_High   All_Customers                  0.90
31   0.90       Business_Medium_Low_High    New_Customer                  0.90
32   0.80         Business_High_Low_High   All_Customers                  0.80
33   0.80         Business_High_Low_High    New_Customer                  0.80
34   0.90   Individual_Medium_Low_Medium   All_Customers                  0.90

In [113]:
# Define segment-specific percentile thresholds
segment_thresholds = {
    'Business_High_Low_High': 0.80,
    'Business_High_Medium_High': 0.80,
    'Individual_High_High_High': 0.80,
    'Individual_High_Low_High': 0.80,
    'Individual_High_Low_Medium': 0.80,
    'Individual_High_Medium_High': 0.80,
    'Business_Medium_High_High': 0.90,
    'Business_Medium_Low_High': 0.90,
    'Business_Medium_Low_Medium': 0.90,
    'Business_Medium_Medium_High': 0.90,
    'Individual_Medium_High_High': 0.90,
    'Individual_Medium_Low_High': 0.90,
    'Individual_Medium_Low_Medium': 0.90,
    'Individual_Medium_Medium_High': 0.90,
    'Business_Low_High_High': 0.95,
    'Business_Low_Low_High': 0.95,
    'Business_Low_Low_Medium': 0.95,
    'Business_Low_Medium_High': 0.95,
    'Individual_Low_High_High': 0.95,
    'Individual_Low_Low_High': 0.95,
    'Individual_Low_Low_Medium': 0.95,
    'Individual_Low_Medium_High': 0.95
}

# Step 1: Compute percentile thresholds for each (Segment, Customer_Status, tran_year, tran_month)
percentile_dfs = []

for segment, threshold in segment_thresholds.items():
    segment_df = monthly_tran_lrt[monthly_tran_lrt['Segment'] == segment]
    
    # Loop over each customer status (e.g., 'New', 'Existing')
    for status in segment_df['Customer_Status'].unique():
        status_df = segment_df[segment_df['Customer_Status'] == status]
        
        if not status_df.empty:
            percentiles = (
                status_df
                .groupby(['tran_year', 'tran_month'])
                [['Cash_Tran_Amt', 'Cheque_Tran_Amt', 'EFT_Tran_Amt']]
                .quantile(threshold)
                .reset_index()
            )
            percentiles['Segment'] = segment
            percentiles['Customer_Status'] = status
            percentile_dfs.append(percentiles)

# Step 2: Concatenate all percentiles into a single DataFrame
percentile_df = pd.concat(percentile_dfs, ignore_index=True)

# Step 3: Merge percentile thresholds back into the main table
monthly_tran_lrt = monthly_tran_lrt.merge(
    percentile_df,
    on=['tran_year', 'tran_month', 'Segment', 'Customer_Status'],
    how='left',
    suffixes=('', '_threshold')
)

# Step 4: Generate alerts for customers exceeding thresholds
monthly_tran_lrt['Alert_Flag_LRT'] = (
    (monthly_tran_lrt['Cash_Tran_Amt'] > monthly_tran_lrt['Cash_Tran_Amt_threshold']) |
    (monthly_tran_lrt['Cheque_Tran_Amt'] > monthly_tran_lrt['Cheque_Tran_Amt_threshold']) |
    (monthly_tran_lrt['EFT_Tran_Amt'] > monthly_tran_lrt['EFT_Tran_Amt_threshold'])
).astype(int)

# Step 5: Filter only alerted customers
alert_customers_lrt = monthly_tran_lrt[monthly_tran_lrt['Alert_Flag_LRT'] == 1]

# -----------------------------  Changed_ ADDED  ----------------------------#

alert_customers_lrt = alert_customers_lrt.copy()
alert_customers_lrt['Violation_ID'] = (
    "LRT_" +
    alert_customers_lrt['Customer_ID'].astype(str) + "-" +
    alert_customers_lrt['tran_year'].astype(str) + "-" +
    alert_customers_lrt['tran_month'].astype(str)
)
# Step 6: Display final alert customers
alert_customers_lrt[['Violation_ID','Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Customer_Status',
                     'Cash_Tran_Amt', 'Cheque_Tran_Amt', 'EFT_Tran_Amt', 'Alert_Flag_LRT']]

,Violation_ID,Customer_ID,tran_year,tran_month,Segment,Customer_Status,Cash_Tran_Amt,Cheque_Tran_Amt,EFT_Tran_Amt,Alert_Flag_LRT
0,LRT_1000408-2023-9,1000408,2023,9,Individual_Low_Medium_High,All_Customers,9968.62,0.0,3240110.80,1
10,LRT_1000408-2023-11,1000408,2023,11,Individual_Low_Medium_High,All_Customers,0.00,0.0,2903207.04,1
32,LRT_10006034-2025-2,10006034,2025,2,Individual_Medium_Medium_High,All_Customers,358718.09,0.0,717886.46,1
40,LRT_10006084-2023-9,10006084,2023,9,Individual_High_Medium_High,All_Customers,955151.71,0.0,2865240.24,1
41,LRT_10006084-2023-10,10006084,2023,10,Individual_High_Medium_High,All_Customers,835376.10,0.0,1670752.20,1
...,...,...,...,...,...,...,...,...,...,...
492713,LRT_99948777-2024-11,99948777,2024,11,Business_Low_Medium_High,All_Customers,0.00,0.0,8852721.09,1
492714,LRT_99948777-2024-12,99948777,2024,12,Business_Low_Medium_High,All_Customers,0.00,0.0,8813104.17,1
492720,LRT_99966168-2024-10,99966168,2024,10,Individual_Low_Low_High,All_Customers,0.00,0.0,7573144.95,1
492721,LRT_99966168-2024-11,99966168,2024,11,Individual_Low_Low_High,All_Customers,0.00,0.0,7573144.95,1
492724,LRT_99966168-2025-3,99966168,2025,3,Individual_Low_Low_High,All_Customers,0.00,0.0,3344152.32,1

In [114]:
alert_customers_lrt[alert_customers_lrt['Customer_Status'] == 'New_Customer']['Customer_ID'].nunique()

4403

### Checking Alert Overlap

In [115]:
required_columns = ['Customer_ID', 'tran_year', 'tran_month', 'Segment']

alert_customers_hrg_1 = alert_customers_hrg[['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_HRG']]

alert_customers_hrg_1

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_HRG
0,10006034,2023,August,Individual_Medium_Medium_High,1
1,10006034,2023,July,Individual_Medium_Medium_High,1
2,10006034,2024,April,Individual_Medium_Medium_High,1
3,10006034,2024,February,Individual_Medium_Medium_High,1
4,10006034,2024,March,Individual_Medium_Medium_High,1
...,...,...,...,...,...
34866,9977863,2025,January,Individual_Low_Medium_High,1
34879,99973528,2024,December,Individual_Low_High_High,1
34880,99973528,2024,November,Individual_Low_High_High,1
34881,99973528,2025,January,Individual_Low_High_High,1
34882,99973528,2025,March,Individual_Low_High_High,1

# Alert Enrichment / Rollup  -

### Adding high_risk_flag to merged_df

In [116]:
# Set High_Risk_Flag based on any of the country columns being in high-risk
merged_df['High_Risk_Flag'] = merged_df.apply(
    lambda row: 1 if (
        row['Originator_Country'] in high_risk_countries or
        row['Intermediary_Bank_Country'] in high_risk_countries or
        row['Beneficiary_Country'] in high_risk_countries
    ) else 0, axis=1
)

In [25]:
merged_df.head(1)

,Transaction_ID,Account_ID,Transaction_Date,Amount,Currency,DR_CR_Flag,CB_Flag,Domestic_International_Tran_Flag,Payment_Method,Originator_ID,...,Customer_Type,Risk_Rating,Occupation,Salary,business_registered_country,business_registered_address,PEP_Flag,opened_year,opened_month,High_Risk_Flag
0,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,...,Individual,Low,Software Engineer,112886,,,Yes,2024,9,0

In [26]:
transaction_df.head(1)

,Transaction_ID,Account_ID,Transaction_Date,Amount,Currency,DR_CR_Flag,CB_Flag,Domestic_International_Tran_Flag,Payment_Method,Originator_ID,Originator_Country,Originator_Bank_Country,Originator_Bank,Intermediary_Bank_Country,Intermediary_Bank,Beneficiary_ID,Beneficiary_Country,Beneficiary_Bank_Country,Beneficiary_Bank
0,46676_20230509_Debit_0000,46676,2023-05-09,881.96,GBP,Debit,No,Domestic,Credit Card,,,,,,,,,,

In [119]:
# Create a dataframe having unique customer_ID based on month/  year
customer_ID_monthly = merged_df[['Customer_ID','tran_year','tran_month']]
customer_ID_monthly = customer_ID_monthly.drop_duplicates(subset=['Customer_ID', 'tran_year', 'tran_month'])

customer_ID_monthly

        Customer_ID  tran_year  tran_month
0           5348281       2023           5
1          76747747       2023           5
2          75920089       2023           5
4          48842942       2023           5
6          99564881       2023           5
...             ...        ...         ...
8708324    48462996       2025           5
8708356    90206325       2025           5
8708359    11754560       2025           5
8708372    95273450       2025           5
8708373    76381415       2025           5

[469887 rows x 3 columns]

In [120]:
# Group by Customer_ID, tran_month, and tran_year, and collect Beneficiary_IDs into a list
beneficiary_list_df = merged_df.groupby(
    ['Customer_ID', 'tran_month', 'tran_year'], as_index=False
).agg({
    'Beneficiary_ID': lambda x: list(x.unique())  # collect unique Beneficiary_IDs
}).rename(columns={'Beneficiary_ID': 'Beneficiary_ID_List'})

# Merge this list back to the original or aggregated DataFrame
merged_with_beneficiaries = pd.merge(
    customer_ID_monthly,  # or use your aggregated df like df_all or df_agg_merged
    beneficiary_list_df,
    on=['Customer_ID', 'tran_month', 'tran_year'],
    how='left'
)

In [121]:
merged_with_beneficiaries[merged_with_beneficiaries['Beneficiary_ID_List'].apply(lambda x: len(x) > 1)]

       Customer_ID  tran_year  tran_month                 Beneficiary_ID_List
25        79811826       2023           5                          [740476, ]
56        93057729       2023           5                          [, 282841]
88        90874128       2023           5                  [, 450311, 989768]
92         6861029       2023           5  [, 917733, 947617, 332600, 384699]
104       35936184       2023           5          [, 590574, 111677, 154658]
...            ...        ...         ...                                 ...
468346    21344045       2025           5                    [574727, 818182]
468368    10609051       2025           5                          [, 701715]
469068    46807491       2025           5                          [, 559839]
469346    59120511       2025           5                          [298644, ]
469524    43586456       2025           5                           [87604, ]

[21389 rows x 4 columns]

## one month aggregation

In [122]:
# High-Risk transaction aggregation
df_hr = (
    merged_df[merged_df['High_Risk_Flag'] == 1]
    .groupby(['Customer_ID', 'tran_month', 'tran_year'], as_index=False)
    .agg({
        'Amount': 'sum',
        'Transaction_ID': 'count'
    })
    .rename(columns={
        'Amount': 'Monthly_HR_Tran_Amount',
        'Transaction_ID': 'Monthly_HR_Tran_Count'
    })
)



# debit transaction aggregation
df_Debit = (
    merged_df[merged_df['DR_CR_Flag'] == 'Debit']
    .groupby(['Customer_ID', 'tran_month', 'tran_year'], as_index=False)
    .agg({
        'Amount': 'sum',
        'Transaction_ID': 'count'
    })
    .rename(columns={
        'Amount': 'Monthly_Debit_Tran_Amount',
        'Transaction_ID': 'Monthly_Debit_Tran_Count'
    })
)

# Credit transaction aggregation
df_Credit = (
    merged_df[merged_df['DR_CR_Flag'] == 'Credit']
    .groupby(['Customer_ID', 'tran_month', 'tran_year'], as_index=False)
    .agg({
        'Amount': 'sum',
        'Transaction_ID': 'count'
    })
    .rename(columns={
        'Amount': 'Monthly_Credit_Tran_Amount',
        'Transaction_ID': 'Monthly_Credit_Tran_Count'
    })
)

# All transaction aggregation
df_all = (
    merged_df
    .groupby(['Customer_ID', 'tran_month', 'tran_year'], as_index=False)
    .agg({
        'Amount': 'sum',
        'Transaction_ID': 'count'
    })
    .rename(columns={
        'Amount': 'Monthly_Total_Tran_Amount',
        'Transaction_ID': 'Monthly_Total_Tran_Count'
    })
)

In [123]:
# Start by merging df_all and df_hr
df_agg_merged = pd.merge(
    df_all, df_hr,
    on=['Customer_ID', 'tran_month', 'tran_year'],
    how='left'
)

# Merge with df_Credit
df_agg_merged = pd.merge(
    df_agg_merged, df_Credit,
    on=['Customer_ID', 'tran_month', 'tran_year'],
    how='left'
)

# Merge with df_Debit
df_agg_merged = pd.merge(
    df_agg_merged, df_Debit,
    on=['Customer_ID', 'tran_month', 'tran_year'],
    how='left'
)
df_agg_merged.fillna(0, inplace=True)

df_agg_merged = pd.merge(
    df_agg_merged,
    merged_with_beneficiaries[['Customer_ID', 'tran_month', 'tran_year', 'Beneficiary_ID_List']],
    on=['Customer_ID', 'tran_month', 'tran_year'],
    how='left'
)

df_agg_merged.head()

,Customer_ID,tran_month,tran_year,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List
0,1000408,1,2024,2331.81,3,0.0,0.0,0.00,0.0,2331.81,3.0,[]
1,1000408,1,2025,9276.84,18,0.0,0.0,2345.88,3.0,6930.96,15.0,[]
2,1000408,2,2024,6995.43,9,0.0,0.0,0.00,0.0,6995.43,9.0,[]
3,1000408,2,2025,39953.84,4,0.0,0.0,9988.46,1.0,29965.38,3.0,[]
4,1000408,3,2024,6995.43,9,0.0,0.0,0.00,0.0,6995.43,9.0,[]

## Features for ML model - 6 month lookback

In [31]:
def rolling_unique_count(df, list_col_name, window=6):
    output_col = f'{list_col_name}_{window}_lookback_UniqueCount'
    df['month_date'] = pd.to_datetime(df['month_date'])
    df[output_col] = np.nan

    for cust_id, group in df.groupby('Customer_ID'):
        group = group.sort_values('month_date')
        rolling_values = []

        for i in range(len(group)):
            current_date = group.iloc[i]['month_date']
            window_start = current_date - pd.DateOffset(months=window)
            window_data = group[(group['month_date'] > window_start) & (group['month_date'] <= current_date)]

            # Flatten all Beneficiary_ID_List values and get unique count
            all_beneficiaries = set()
            for lst in window_data[list_col_name]:
                if isinstance(lst, list):
                    all_beneficiaries.update(lst)

            rolling_values.append(len(all_beneficiaries))

        df.loc[group.index, output_col] = rolling_values

    return df
def rolling_sum(df, column_name, window=6, count=False):
    op = 'Count' if count else 'Sum'
    output_col = f'{column_name}_{window}_lookback_{op}'
    df[output_col] = np.nan

    for cust_id, group in df.groupby('Customer_ID'):
        group = group.sort_values('month_date')
        values = []

        for i in range(len(group)):
            current_date = group.iloc[i]['month_date']
            window_start = current_date - pd.DateOffset(months=window)
            window_data = group[(group['month_date'] > window_start) & (group['month_date'] <= current_date)]

            if count:
                values.append(window_data[column_name].count())
            else:
                values.append(window_data[column_name].sum())

        df.loc[group.index, output_col] = values

    return df
def alert_enrichment(df_agg_merged):
    df = df_agg_merged.copy()
    df['tran_year'] = pd.to_numeric(df['tran_year'], errors='coerce')
    df['tran_month'] = pd.to_numeric(df['tran_month'], errors='coerce')
    df = df.dropna(subset=['tran_year', 'tran_month'])

    df['month_date'] = pd.to_datetime(df['tran_year'].astype(int).astype(str) + '-' + df['tran_month'].astype(int).astype(str) + '-01')

    # Unique Beneficiary_IDs per 6-month window
    df = rolling_unique_count(df, 'Beneficiary_ID_List', window=6)

    # Rolling aggregations
    df = df.sort_values(['Customer_ID', 'month_date'])

    df = rolling_sum(df, 'Monthly_Total_Tran_Amount', window=6, count=False)
    df = rolling_sum(df, 'Monthly_Debit_Tran_Amount', window=6, count=False)
    df = rolling_sum(df, 'Monthly_Credit_Tran_Amount', window=6, count=False)
    df = rolling_sum(df, 'Monthly_Total_Tran_Amount', window=6, count=True)
    df = rolling_sum(df, 'Monthly_Debit_Tran_Amount', window=6, count=True)
    df = rolling_sum(df, 'Monthly_Credit_Tran_Amount', window=6, count=True)
    df = rolling_sum(df, 'Monthly_HR_Tran_Amount', window=6, count=False)
    df = rolling_sum(df, 'Monthly_HR_Tran_Count', window=6, count=True)

    # Ratios and derived metrics
    df['%_6M_HRG_Tran_Amoun'] = (
        df['Monthly_HR_Tran_Amount_6_lookback_Sum'] / df['Monthly_Total_Tran_Amount_6_lookback_Sum']
    ).replace([np.inf, -np.inf], np.nan)

    df['%_6M_HRG_Tran_Count'] = (
        df['Monthly_HR_Tran_Count_6_lookback_Count'] / df['Monthly_Total_Tran_Amount_6_lookback_Count']
    ).replace([np.inf, -np.inf], np.nan)

    df['Credit_to_Debit_Amount_Ratio_6M'] = (
        df['Monthly_Credit_Tran_Amount_6_lookback_Sum'] / df['Monthly_Debit_Tran_Amount_6_lookback_Sum']
    ).replace([np.inf, -np.inf], np.nan)

    df['Credit_to_Debit_Count_Ratio_6M'] = (
        df['Monthly_Credit_Tran_Amount_6_lookback_Count'] / df['Monthly_Debit_Tran_Amount_6_lookback_Count']
    ).replace([np.inf, -np.inf], np.nan)

    return df

In [32]:
enriched_df = alert_enrichment(df_agg_merged)

In [126]:
enriched_df.head()

,Customer_ID,tran_month,tran_year,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List,month_date,Beneficiary_ID_List_6_lookback_UniqueCount,Monthly_Total_Tran_Amount_6_lookback_Sum,Monthly_Debit_Tran_Amount_6_lookback_Sum,Monthly_Credit_Tran_Amount_6_lookback_Sum,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M
7,1000408,5,2023,1379429.88,3,0.0,0.0,0.00,0.0,1379429.88,3.0,[],2023-05-01,1.0,1379429.88,1379429.88,0.00,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.000000,1.0
11,1000408,9,2023,3556992.62,13,0.0,0.0,1185547.78,3.0,2371444.84,10.0,[],2023-09-01,1.0,4936422.50,3750874.72,1185547.78,2.0,2.0,2.0,0.0,2.0,0.0,1.0,0.316072,1.0
14,1000408,11,2023,2903207.04,3,0.0,0.0,967735.68,1.0,1935471.36,2.0,[],2023-11-01,1.0,6460199.66,4306916.20,2153283.46,2.0,2.0,2.0,0.0,2.0,0.0,1.0,0.499959,1.0
16,1000408,12,2023,1952824.95,13,0.0,0.0,484899.33,2.0,1467925.62,11.0,[],2023-12-01,1.0,8413024.61,5774841.82,2638182.79,3.0,3.0,3.0,0.0,3.0,0.0,1.0,0.456841,1.0
2,1000408,2,2024,6995.43,9,0.0,0.0,0.00,0.0,6995.43,9.0,[],2024-02-01,1.0,8420020.04,5781837.25,2638182.79,4.0,4.0,4.0,0.0,4.0,0.0,1.0,0.456288,1.0

In [27]:
merged_df.columns

Index(['Transaction_ID', 'Account_ID', 'Transaction_Date', 'Amount',
       'Currency', 'DR_CR_Flag', 'CB_Flag', 'Domestic_International_Tran_Flag',
       'Payment_Method', 'Originator_ID', 'Originator_Country',
       'Originator_Bank_Country', 'Originator_Bank',
       'Intermediary_Bank_Country', 'Intermediary_Bank', 'Beneficiary_ID',
       'Beneficiary_Country', 'Beneficiary_Bank_Country', 'Beneficiary_Bank',
       'tran_month', 'tran_year', 'Customer_ID', 'Account_Type', 'Status',
       'Opened_Date', 'Close_Date', 'Customer_Name', 'Date_of_Birth', 'Gender',
       'Address', 'Nationality', 'Phone_Number', 'Email', 'Customer_Type',
       'Risk_Rating', 'Occupation', 'Salary', 'business_registered_country',
       'business_registered_address', 'PEP_Flag', 'opened_year',
       'opened_month', 'High_Risk_Flag'],
      dtype='object')

In [128]:
df_agg_merged.head()

,Customer_ID,tran_month,tran_year,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List
0,1000408,1,2024,2331.81,3,0.0,0.0,0.00,0.0,2331.81,3.0,[]
1,1000408,1,2025,9276.84,18,0.0,0.0,2345.88,3.0,6930.96,15.0,[]
2,1000408,2,2024,6995.43,9,0.0,0.0,0.00,0.0,6995.43,9.0,[]
3,1000408,2,2025,39953.84,4,0.0,0.0,9988.46,1.0,29965.38,3.0,[]
4,1000408,3,2024,6995.43,9,0.0,0.0,0.00,0.0,6995.43,9.0,[]

## Alerts Consolidation

In [129]:
required_columns = ['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_RMF']

# RMF
alerts_rmf_ac = alert_customers[['Customer_ID', 'Violation_ID','tran_year', 'tran_month', 'Segment', 'Alert_Flag_RMF']]
alerts_rmf_nc = alert_customers_nc[['Customer_ID', 'Violation_ID','tran_year', 'tran_month', 'Segment', 'Alert_Flag_RMF']]
alert_customers_rmf = pd.concat([alerts_rmf_ac, alerts_rmf_nc], ignore_index=True)

# CIB
'''
alert_customers_cib = alert_customers_cib.copy()  # Make an explicit copy first
alert_customers_cib.loc[:, 'tran_year'] = alert_customers_cib['YearMonth'].dt.year
alert_customers_cib.loc[:, 'tran_month'] = alert_customers_cib['YearMonth'].dt.month'''


alert_customers_cib_peak['tran_year'] = alert_customers_cib_peak['YearMonth'].dt.year
alert_customers_cib_peak['tran_month'] = alert_customers_cib_peak['YearMonth'].dt.month
alert_customers_cib_peak_1 = alert_customers_cib_peak[['Customer_ID','Violation_ID', 'tran_year', 'tran_month', 'Segment',  'Alert_Flag_CIB_Peak']]


alert_customers_cib_avg['tran_year'] = alert_customers_cib_avg['YearMonth'].dt.year
alert_customers_cib_avg['tran_month'] = alert_customers_cib_avg['YearMonth'].dt.month
alert_customers_cib_avg_1 = alert_customers_cib_avg[['Customer_ID','Violation_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_CIB_Avg']]

# Structuring, HRG and LRT
alert_customers_structuring_1 = alert_customers_structuring[['Customer_ID','Violation_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_Structuring']]
alert_customers_hrg_1 = alert_customers_hrg[['Customer_ID','Violation_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_HRG']]
alert_customers_lrt_1 = alert_customers_lrt[['Customer_ID','Violation_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_LRT']]

In [130]:
alert_customers_rmf.shape, alert_customers_structuring_1.shape, alert_customers_hrg_1.shape, alert_customers_cib_avg_1.shape,alert_customers_cib_peak_1.shape, alert_customers_lrt_1.shape

((15039, 6), (9512, 6), (13711, 6), (17815, 6), (9690, 6), (88068, 6))

In [131]:
# Drop duplicate records
alert_customers_rmf_1 = alert_customers_rmf.drop_duplicates()
alert_customers_structuring_2 = alert_customers_structuring_1.drop_duplicates()
alert_customers_hrg_2 = alert_customers_hrg_1.drop_duplicates()
alert_customers_cib_peak_2 = alert_customers_cib_peak_1.drop_duplicates()
alert_customers_cib_avg_2 = alert_customers_cib_avg_1.drop_duplicates()
alert_customers_lrt_2 = alert_customers_lrt_1.drop_duplicates()

In [132]:
# First, create a mapping from month name to number
month_mapping = {
    'January': 1, 'Jan': 1,
    'February': 2, 'Feb': 2,
    'March': 3, 'Mar': 3,
    'April': 4, 'Apr': 4,
    'May': 5,
    'June': 6, 'Jun': 6,
    'July': 7, 'Jul': 7,
    'August': 8, 'Aug': 8,
    'September': 9, 'Sep': 9,
    'October': 10, 'Oct': 10,
    'November': 11, 'Nov': 11,
    'December': 12, 'Dec': 12
}

# Apply the mapping to your 'tran_month' field
alert_customers_structuring_2.loc[:, 'tran_month'] = alert_customers_structuring_2['tran_month'].map(month_mapping)
alert_customers_hrg_2['tran_month'] = alert_customers_hrg_2['tran_month'].map(month_mapping)

# (Optional) If you want to check:
alert_customers_structuring_2['tran_month'].unique()

array([2, 7, 6, 12, 11, 5, 8, 9, 1, 4, 10, 3], dtype=object)

In [133]:
alert_customers_structuring_2

,Customer_ID,Violation_ID,tran_year,tran_month,Segment,Alert_Flag_Structuring
10,10006034,Structuring_10006034-2025-February,2025,2,Individual_Medium_Medium_High,1
49,10040358,Structuring_10040358-2024-July,2024,7,Individual_Low_Medium_High,1
50,10040358,Structuring_10040358-2024-June,2024,6,Individual_Low_Medium_High,1
67,10049173,Structuring_10049173-2024-June,2024,6,Individual_Low_High_High,1
87,10056481,Structuring_10056481-2024-December,2024,12,Individual_Medium_High_High,1
...,...,...,...,...,...,...
84645,99963383,Structuring_99963383-2024-July,2024,7,Individual_Low_Medium_High,1
84646,99963383,Structuring_99963383-2024-June,2024,6,Individual_Low_Medium_High,1
84647,99963383,Structuring_99963383-2024-May,2024,5,Individual_Low_Medium_High,1
84666,99977671,Structuring_99977671-2024-October,2024,10,Individual_Low_Medium_High,1
84667,99977671,Structuring_99977671-2024-September,2024,9,Individual_Low_Medium_High,1

### Final_Alert_table Violation_ID

In [134]:
req_col=['Customer_ID','Violation_ID', 'tran_year', 'tran_month', 'Segment']
Final_Alert_table =  pd.concat(
                                [
                                 alert_customers_rmf[req_col], 
                                 alert_customers_hrg_1[req_col],
                                 alert_customers_structuring_1[req_col],
                                 alert_customers_cib_peak_1[req_col],
                                    alert_customers_cib_avg_1[req_col],
                                 alert_customers_lrt_1[req_col]
                                ], 
                                                    ignore_index=True)
Final_Alert_table

,Customer_ID,Violation_ID,tran_year,tran_month,Segment
0,10006034,RMF_10006034-2023-10,2023,10,Individual_Medium_Medium_High
1,10006034,RMF_10006034-2024-2,2024,2,Individual_Medium_Medium_High
2,10006034,RMF_10006034-2024-3,2024,3,Individual_Medium_Medium_High
3,10006084,RMF_10006084-2024-7,2024,7,Individual_High_Medium_High
4,10048137,RMF_10048137-2023-5,2023,5,Business_Low_Low_High
...,...,...,...,...,...
153830,99948777,LRT_99948777-2024-11,2024,11,Business_Low_Medium_High
153831,99948777,LRT_99948777-2024-12,2024,12,Business_Low_Medium_High
153832,99966168,LRT_99966168-2024-10,2024,10,Individual_Low_Low_High
153833,99966168,LRT_99966168-2024-11,2024,11,Individual_Low_Low_High
153834,99966168,LRT_99966168-2025-3,2025,3,Individual_Low_Low_High

In [135]:
alert_customers_hrg_2.head()

,Customer_ID,Violation_ID,tran_year,tran_month,Segment,Alert_Flag_HRG
0,10006034,HRG_10006034-2023-August,2023,8,Individual_Medium_Medium_High,1
1,10006034,HRG_10006034-2023-July,2023,7,Individual_Medium_Medium_High,1
2,10006034,HRG_10006034-2024-April,2024,4,Individual_Medium_Medium_High,1
3,10006034,HRG_10006034-2024-February,2024,2,Individual_Medium_Medium_High,1
4,10006034,HRG_10006034-2024-March,2024,3,Individual_Medium_Medium_High,1

In [136]:
alert_customers_rmf_1.head()

,Customer_ID,Violation_ID,tran_year,tran_month,Segment,Alert_Flag_RMF
0,10006034,RMF_10006034-2023-10,2023,10,Individual_Medium_Medium_High,1
1,10006034,RMF_10006034-2024-2,2024,2,Individual_Medium_Medium_High,1
2,10006034,RMF_10006034-2024-3,2024,3,Individual_Medium_Medium_High,1
3,10006084,RMF_10006084-2024-7,2024,7,Individual_High_Medium_High,1
4,10048137,RMF_10048137-2023-5,2023,5,Business_Low_Low_High,1

In [9]:
senarios_triggered_df = alert_customers_rmf_1.merge(
    alert_customers_structuring_2[['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_Structuring']],
    on=['Customer_ID', 'tran_year', 'tran_month', 'Segment'],
    how='left'
)
# View
senarios_triggered_df.head()

,Customer_ID,Violation_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring
0,10006034,RMF_10006034-2023-10,2023,10,Individual_Medium_Medium_High,1,NaN
1,10006034,RMF_10006034-2024-2,2024,2,Individual_Medium_Medium_High,1,NaN
2,10006034,RMF_10006034-2024-3,2024,3,Individual_Medium_Medium_High,1,NaN
3,10006084,RMF_10006084-2024-7,2024,7,Individual_High_Medium_High,1,NaN
4,10048137,RMF_10048137-2023-5,2023,5,Business_Low_Low_High,1,NaN

# Post TM System

In [139]:
alert_customers_rmf_1.head(1)

,Customer_ID,Violation_ID,tran_year,tran_month,Segment,Alert_Flag_RMF
0,10006034,RMF_10006034-2023-10,2023,10,Individual_Medium_Medium_High,1

In [140]:
alert_customers_structuring_2.head(1)

,Customer_ID,Violation_ID,tran_year,tran_month,Segment,Alert_Flag_Structuring
10,10006034,Structuring_10006034-2025-February,2025,2,Individual_Medium_Medium_High,1

In [141]:
alert_customers_cib_peak_2.head(1)

,Customer_ID,Violation_ID,tran_year,tran_month,Segment,Alert_Flag_CIB_Peak
22,10015181,CIB_Peak_10015181-2024-04-01,2024,4,Business_Medium_Medium_High,1

In [142]:
alert_customers_cib_avg_2.head(1)

,Customer_ID,Violation_ID,tran_year,tran_month,Segment,Alert_Flag_CIB_Avg
3,10006084,CIB_avg_10006084-2024-02-01,2024,2,Individual_High_Medium_High,1

In [143]:
alert_customers_lrt_2.head(1)

,Customer_ID,Violation_ID,tran_year,tran_month,Segment,Alert_Flag_LRT
0,1000408,LRT_1000408-2023-9,2023,9,Individual_Low_Medium_High,1

## Merging Alert Tables

In [14]:
# Step 1: First join alert_customers with alert_customers_structuring
senarios_triggered_df = alert_customers_rmf_1.merge(
    alert_customers_structuring_2[['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_Structuring']],
    on=['Customer_ID', 'tran_year', 'tran_month', 'Segment'],
    how='left'
)

# Step 2: Now join with alert_table_hrg
senarios_triggered_df = senarios_triggered_df.merge(
    alert_customers_hrg_2[['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_HRG']],  # Assuming alert_table_hrg has this flag
    on=['Customer_ID', 'tran_year', 'tran_month', 'Segment'],
    how='left'
)

# Step 3: Now join with alert_table_cib peak
senarios_triggered_df = senarios_triggered_df.merge(
    alert_customers_cib_avg_2[['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_CIB_Avg']],  # Assuming Alert_Flag_CIB_Avg has this flag
    on=['Customer_ID', 'tran_year', 'tran_month', 'Segment'],
    how='left'
)

senarios_triggered_df = senarios_triggered_df.merge(
    alert_customers_cib_peak_2[['Customer_ID', 'tran_year', 'tran_month', 'Segment',  'Alert_Flag_CIB_Peak']],  # Assuming Alert_Flag_CIB_Avg has this flag
    on=['Customer_ID', 'tran_year', 'tran_month', 'Segment'],
    how='left'
)

# Step 4: Now join with alert_table_hrg
senarios_triggered_df = senarios_triggered_df.merge(
    alert_customers_lrt_2[['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_LRT']],  # Assuming Alert_Flag_CIB_Avg has this flag
    on=['Customer_ID', 'tran_year', 'tran_month', 'Segment'],
    how='left'
)

# Step 5: Fill NaNs with 0 if needed (optional)
senarios_triggered_df['Alert_Flag_Structuring'] = senarios_triggered_df['Alert_Flag_Structuring'].fillna(0).astype(int)
senarios_triggered_df['Alert_Flag_HRG'] = senarios_triggered_df['Alert_Flag_HRG'].fillna(0).astype(int)
senarios_triggered_df['Alert_Flag_CIB_Avg'] = senarios_triggered_df['Alert_Flag_CIB_Avg'].fillna(0).astype(int)
senarios_triggered_df['Alert_Flag_CIB_Peak'] = senarios_triggered_df['Alert_Flag_CIB_Peak'].fillna(0).astype(int)
senarios_triggered_df['Alert_Flag_LRT'] = senarios_triggered_df['Alert_Flag_LRT'].fillna(0).astype(int)

### ------------- new add ----------------------###
# Step X: Aggregate Violation_IDs as list


# If the DataFrame is named df
Final_Alert_table['tran_month'] = pd.to_datetime(
    Final_Alert_table['tran_year'].astype(str) + '-' + Final_Alert_table['tran_month'].astype(str),
    format='%Y-%m',
    errors='coerce'
).dt.month

violation_ids = Final_Alert_table.groupby(
    ['Customer_ID', 'tran_year', 'tran_month', 'Segment']
)['Violation_ID'].apply(list).reset_index()

# Rename the column
violation_ids.rename(columns={'Violation_ID': 'event_IDs'}, inplace=True)

# Optional: Drop old Violation_ID if it exists in senarios_triggered_df
senarios_triggered_df = senarios_triggered_df.drop(columns=['Violation_ID'], errors='ignore')

# Merge into senarios_triggered_df
senarios_triggered_df = senarios_triggered_df.merge(
    violation_ids,
    on=['Customer_ID', 'tran_year', 'tran_month', 'Segment'],
    how='left'
)


## ------------- new add ----------------------###
# Step 4: View the output
senarios_triggered_df.head()

C:\Users\sajad\AppData\Local\Temp\ipykernel_17084\2699363921.py:47: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Final_Alert_table['tran_month'] = pd.to_datetime(Final_Alert_table['tran_month'].astype(str) + ' ' + Final_Alert_table['tran_year'].astype(str), errors='coerce').dt.month

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,event_IDs
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,[RMF_10006034-2023-10]
1,10006034,2024,2,Individual_Medium_Medium_High,1,0,1,0,0,0,"[RMF_10006034-2024-2, HRG_10006034-2024-February]"
2,10006034,2024,3,Individual_Medium_Medium_High,1,0,1,0,0,0,"[RMF_10006034-2024-3, HRG_10006034-2024-March]"
3,10006084,2024,7,Individual_High_Medium_High,1,0,0,0,0,1,"[RMF_10006084-2024-7, LRT_10006084-2024-7]"
4,10048137,2023,5,Business_Low_Low_High,1,0,0,0,0,1,"[RMF_10048137-2023-5, LRT_10048137-2023-5]"

In [146]:
Final_Alert_table

,Customer_ID,Violation_ID,tran_year,tran_month,Segment
0,10006034,RMF_10006034-2023-10,2023,10,Individual_Medium_Medium_High
1,10006034,RMF_10006034-2024-2,2024,2,Individual_Medium_Medium_High
2,10006034,RMF_10006034-2024-3,2024,3,Individual_Medium_Medium_High
3,10006084,RMF_10006084-2024-7,2024,7,Individual_High_Medium_High
4,10048137,RMF_10048137-2023-5,2023,5,Business_Low_Low_High
...,...,...,...,...,...
153830,99948777,LRT_99948777-2024-11,2024,11,Business_Low_Medium_High
153831,99948777,LRT_99948777-2024-12,2024,12,Business_Low_Medium_High
153832,99966168,LRT_99966168-2024-10,2024,10,Individual_Low_Low_High
153833,99966168,LRT_99966168-2024-11,2024,11,Individual_Low_Low_High
153834,99966168,LRT_99966168-2025-3,2025,3,Individual_Low_Low_High

In [147]:
violation_ids

,Customer_ID,tran_year,tran_month,Segment,event_IDs
0,1000408,2023,9,Individual_Low_Medium_High,[LRT_1000408-2023-9]
1,1000408,2023,11,Individual_Low_Medium_High,[LRT_1000408-2023-11]
2,10006034,2023,7,Individual_Medium_Medium_High,[HRG_10006034-2023-July]
3,10006034,2023,8,Individual_Medium_Medium_High,[HRG_10006034-2023-August]
4,10006034,2023,10,Individual_Medium_Medium_High,[RMF_10006034-2023-10]
...,...,...,...,...,...
108693,99975289,2024,12,Individual_Low_High_High,[LRT_99975289-2024-12]
108694,99975289,2025,1,Individual_Low_High_High,[LRT_99975289-2025-1]
108695,99975289,2025,4,Individual_Low_High_High,[LRT_99975289-2025-4]
108696,99977671,2024,9,Individual_Low_Medium_High,"[Structuring_99977671-2024-September, CIB_Peak_99977671-2024-09-01, CIB_avg_99977671-2024-09-01, LRT_99977671-2024-9]"
108697,99977671,2024,10,Individual_Low_Medium_High,"[Structuring_99977671-2024-October, LRT_99977671-2024-10]"

In [15]:
count = senarios_triggered_df[
    (senarios_triggered_df['Alert_Flag_RMF'] == 1) & 
    (senarios_triggered_df['Alert_Flag_Structuring'] == 1.0) &
    (senarios_triggered_df['Alert_Flag_HRG'] == 1) &
    (senarios_triggered_df['Alert_Flag_CIB_Avg'] == 1) &
    (senarios_triggered_df['Alert_Flag_CIB_Peak'] == 1) &
    (senarios_triggered_df['Alert_Flag_LRT'] == 1)
]['Customer_ID'].nunique()

count

29

In [17]:
import numpy as np
import pandas as pd
############################################################  last
def Alert_Flag_all_in_one_clipped_with_case_monthly(
    senarios_triggered_df, 
    risk_score_per_flag=15,  
    min_total_risk=45
):
    """
    Processes alerts to calculate total risk score per customer per month,
    generates unique Alert IDs, and assigns Case IDs using a 3-month rolling window logic.
    """
    def month_name_to_number(month_name):
        month_map = {
            'January': 1, 'February': 2, 'March': 3, 'April': 4, 
            'May': 5, 'June': 6, 'July': 7, 'August': 8, 
            'September': 9, 'October': 10, 'November': 11, 'December': 12
        }
        return month_map.get(month_name, month_name)

    # Step 1: Clean and prepare the data
    df = senarios_triggered_df.copy()
    df['tran_month'] = df['tran_month'].apply(month_name_to_number)
    df = df[df['tran_month'].notna()]
    df['tran_month'] = df['tran_month'].astype(int)
    df['tran_year'] = df['tran_year'].astype(int)  # <-- Fix added here
    df['event_IDs'] = df['event_IDs'].astype(str)  # -----------------------   added

    # Step 2: Get alert flags and calculate total risk score
    alert_cols = [col for col in df.columns if col.startswith('Alert_Flag_')]
    df['Total_Risk_Score'] = df[alert_cols].sum(axis=1) * risk_score_per_flag

    # Step 3: Aggregate by customer and month
    agg_df = df.groupby(['Customer_ID', 'tran_year', 'tran_month','event_IDs'], as_index=False)['Total_Risk_Score'].sum()
    agg_df = agg_df[agg_df['Total_Risk_Score'] >= min_total_risk]

    # Step 4: Generate unique Alert IDs
    agg_df['Alert_id'] = agg_df.apply(
        lambda row: f"{str(row['tran_month']).zfill(2)}_{row['tran_year']}_{row['Customer_ID']}_{np.random.randint(10, 100)}",
        axis=1
    )

    # Step 5: Assign Case_ID based on last 3 months logic
    agg_df.sort_values(by=['Customer_ID', 'tran_year', 'tran_month','event_IDs'], inplace=True)
    agg_df['Case_ID'] = None
    case_counter = 1
    customer_cases = {}

    for idx, row in agg_df.iterrows():
        cust = row['Customer_ID']
        year = row['tran_year']
        month = row['tran_month']
        current_period = year * 12 + month  # Convert to a comparable integer

        if cust not in customer_cases:
            # First case for this customer
            case_id = f"CASE_{case_counter:06d}"
            customer_cases[cust] = [(current_period, case_id)]
            agg_df.at[idx, 'Case_ID'] = case_id
            case_counter += 1
        else:
            # Check if any previous alert is within the last 3 months
            found_recent = False
            for prev_period, prev_case_id in reversed(customer_cases[cust]):
                if current_period - prev_period <= 3:
                    agg_df.at[idx, 'Case_ID'] = prev_case_id
                    customer_cases[cust].append((current_period, prev_case_id))
                    found_recent = True
                    break
            if not found_recent:
                case_id = f"CASE_{case_counter:06d}"
                customer_cases[cust].append((current_period, case_id))
                agg_df.at[idx, 'Case_ID'] = case_id
                case_counter += 1

    return agg_df

case_table = Alert_Flag_all_in_one_clipped_with_case_monthly(
    senarios_triggered_df, 
    risk_score_per_flag=15, 
    min_total_risk=45
)

In [55]:
case_table.head()

,Customer_ID,tran_year,tran_month,event_IDs,Total_Risk_Score,Alert_id,Case_ID
0,10015181,2024,4,"['RMF_10015181-2024-4', 'CIB_Peak_10015181-202...",45,04_2024_10015181_62,CASE_000001
1,10103452,2024,9,"['RMF_10103452-2024-9', 'CIB_Peak_10103452-202...",60,09_2024_10103452_53,CASE_000002
2,10112665,2024,5,"['RMF_10112665-2024-5', 'Structuring_10112665-...",45,05_2024_10112665_58,CASE_000003
3,10119498,2024,6,"['RMF_10119498-2024-6', 'Structuring_10119498-...",75,06_2024_10119498_90,CASE_000004
4,10119498,2024,7,"['RMF_10119498-2024-7', 'Structuring_10119498-...",75,07_2024_10119498_46,CASE_000004

In [56]:
case_table.columns

Index(['Customer_ID', 'tran_year', 'tran_month', 'event_IDs',
       'Total_Risk_Score', 'Alert_id', 'Case_ID'],
      dtype='object')

In [155]:
case_table['Alert_id'].nunique()

5148

In [156]:
case_table['Case_ID'].nunique()

3510

In [19]:
case_table.shape

(5148, 7)

In [161]:
duplicate_cases = case_table.groupby('Case_ID').filter(lambda x: len(x) > 1)
duplicate_cases

,Customer_ID,tran_year,tran_month,event_IDs,Total_Risk_Score,Alert_id,Case_ID
15,10119498,2024,6,"['RMF_10119498-2024-6', 'Structuring_10119498-2024-June', 'CIB_Peak_10119498-2024-06-01', 'CIB_avg_10119498-2024-06-01', 'LRT_10119498-2024-6']",75,06_2024_10119498_10,CASE_000004
16,10119498,2024,7,"['RMF_10119498-2024-7', 'Structuring_10119498-2024-July', 'CIB_Peak_10119498-2024-07-01', 'CIB_avg_10119498-2024-07-01', 'LRT_10119498-2024-7']",75,07_2024_10119498_29,CASE_000004
17,10119498,2024,8,"['RMF_10119498-2024-8', 'Structuring_10119498-2024-August', 'LRT_10119498-2024-8']",45,08_2024_10119498_77,CASE_000004
18,10119498,2024,9,"['RMF_10119498-2024-9', 'Structuring_10119498-2024-September', 'LRT_10119498-2024-9']",45,09_2024_10119498_11,CASE_000004
24,10129578,2024,6,"['RMF_10129578-2024-6', 'Structuring_10129578-2024-June', 'LRT_10129578-2024-6']",45,06_2024_10129578_23,CASE_000006
...,...,...,...,...,...,...,...
14632,99735299,2024,6,"['RMF_99735299-2024-6', 'Structuring_99735299-2024-June', 'CIB_Peak_99735299-2024-06-01', 'CIB_avg_99735299-2024-06-01', 'LRT_99735299-2024-6']",75,06_2024_99735299_50,CASE_003505
14633,99735299,2024,7,"['RMF_99735299-2024-7', 'Structuring_99735299-2024-July', 'LRT_99735299-2024-7']",45,07_2024_99735299_23,CASE_003505
14635,99737808,2024,4,"['RMF_99737808-2024-4', 'CIB_Peak_99737808-2024-04-01', 'CIB_avg_99737808-2024-04-01', 'LRT_99737808-2024-4']",60,04_2024_99737808_53,CASE_003506
14636,99737808,2024,5,"['RMF_99737808-2024-5', 'Structuring_99737808-2024-May', 'CIB_Peak_99737808-2024-05-01', 'CIB_avg_99737808-2024-05-01', 'LRT_99737808-2024-5']",75,05_2024_99737808_18,CASE_003506
14637,99737808,2024,6,"['RMF_99737808-2024-6', 'Structuring_99737808-2024-June', 'LRT_99737808-2024-6']",45,06_2024_99737808_74,CASE_003506

In [162]:
# Case Prioritazation 
#adding Customer risk score data to case_table
customer_case_table = pd.merge(case_table,customer_df,on=['Customer_ID'],how='left')
# Example: Deleting multiple columns by names
customer_case_table = customer_case_table.drop(['Date_of_Birth', 'Gender', 'Address','Nationality','Phone_Number','Email','Customer_Type','Occupation','Salary','business_registered_country','business_registered_address'], axis=1)

customer_case_table.sort_values(by='Case_ID')
#customer_case_table= customer_case_table.loc[['Customer_ID','tran_year','tran_month','Total_Risk_Score','Alert_id','Case_ID','Customer_Name','Customer_Type','Risk_Rating','PEP_Flag']]

,Customer_ID,tran_year,tran_month,event_IDs,Total_Risk_Score,Alert_id,Case_ID,Customer_Name,Risk_Rating,PEP_Flag
0,10015181,2024,4,"['RMF_10015181-2024-4', 'CIB_Peak_10015181-2024-04-01', 'CIB_avg_10015181-2024-04-01']",45,04_2024_10015181_66,CASE_000001,Lucas Jones,Medium,No
1,10103452,2024,9,"['RMF_10103452-2024-9', 'CIB_Peak_10103452-2024-09-01', 'CIB_avg_10103452-2024-09-01', 'LRT_10103452-2024-9', 'LRT_10103452-2024-9']",60,09_2024_10103452_86,CASE_000002,Keith Anderson,Low,No
2,10112665,2024,5,"['RMF_10112665-2024-5', 'Structuring_10112665-2024-May', 'LRT_10112665-2024-5']",45,05_2024_10112665_48,CASE_000003,Scott Norris,Low,Yes
3,10119498,2024,6,"['RMF_10119498-2024-6', 'Structuring_10119498-2024-June', 'CIB_Peak_10119498-2024-06-01', 'CIB_avg_10119498-2024-06-01', 'LRT_10119498-2024-6']",75,06_2024_10119498_10,CASE_000004,Patrick Williamson,High,Yes
4,10119498,2024,7,"['RMF_10119498-2024-7', 'Structuring_10119498-2024-July', 'CIB_Peak_10119498-2024-07-01', 'CIB_avg_10119498-2024-07-01', 'LRT_10119498-2024-7']",75,07_2024_10119498_29,CASE_000004,Patrick Williamson,High,Yes
...,...,...,...,...,...,...,...,...,...,...
5148,99737808,2024,6,"['RMF_99737808-2024-6', 'Structuring_99737808-2024-June', 'LRT_99737808-2024-6']",45,06_2024_99737808_74,CASE_003506,Brittany Greene,High,Yes
5149,99796948,2024,11,"['RMF_99796948-2024-11', 'CIB_Peak_99796948-2024-11-01', 'CIB_avg_99796948-2024-11-01', 'LRT_99796948-2024-11', 'LRT_99796948-2024-11']",60,11_2024_99796948_80,CASE_003507,Amber Riley,Medium,No
5150,99834853,2023,12,"['RMF_99834853-2023-12', 'CIB_Peak_99834853-2023-12-01', 'CIB_avg_99834853-2023-12-01', 'LRT_99834853-2023-12']",60,12_2023_99834853_51,CASE_003508,Judy Tran,Low,No
5151,99869342,2024,5,"['RMF_99869342-2024-5', 'CIB_Peak_99869342-2024-05-01', 'CIB_avg_99869342-2024-05-01', 'LRT_99869342-2024-5']",60,05_2024_99869342_80,CASE_003509,Melissa Powell,Medium,Yes
5152,99918724,2024,8,"['RMF_99918724-2024-8', 'CIB_avg_99918724-2024-08-01', 'LRT_99918724-2024-8']",45,08_2024_99918724_29,CASE_003510,Krystal Boyd MD,Medium,No

In [54]:
customer_case_table.columns

Index(['Customer_ID', 'tran_year', 'tran_month', 'event_IDs',
       'Total_Risk_Score', 'Alert_id', 'Case_ID', 'Customer_Name',
       'Risk_Rating', 'PEP_Flag'],
      dtype='object')

In [163]:
# Merge the two DataFrames on different column names
df = pd.merge(customer_case_table, watchlist_df, left_on='Customer_Name', right_on='Entity_Name', how='left')
# df is the complete  customer_case_table case_table+customer_df+watchlist_df
df=df.drop(['Entity_Date_Added','Entity_List_Type','Entity_Sanctioning_body','Entity_Country','Entity_Type'], axis=1)
df=df.drop_duplicates()
# df is used for case priority table
df

,Customer_ID,tran_year,tran_month,event_IDs,Total_Risk_Score,Alert_id,Case_ID,Customer_Name,Risk_Rating,PEP_Flag,Entity_Name,Entity_PEP_Flag
0,10015181,2024,4,"['RMF_10015181-2024-4', 'CIB_Peak_10015181-2024-04-01', 'CIB_avg_10015181-2024-04-01']",45,04_2024_10015181_66,CASE_000001,Lucas Jones,Medium,No,Lucas Jones,Yes
1,10103452,2024,9,"['RMF_10103452-2024-9', 'CIB_Peak_10103452-2024-09-01', 'CIB_avg_10103452-2024-09-01', 'LRT_10103452-2024-9', 'LRT_10103452-2024-9']",60,09_2024_10103452_86,CASE_000002,Keith Anderson,Low,No,Keith Anderson,No
3,10112665,2024,5,"['RMF_10112665-2024-5', 'Structuring_10112665-2024-May', 'LRT_10112665-2024-5']",45,05_2024_10112665_48,CASE_000003,Scott Norris,Low,Yes,Scott Norris,Yes
4,10119498,2024,6,"['RMF_10119498-2024-6', 'Structuring_10119498-2024-June', 'CIB_Peak_10119498-2024-06-01', 'CIB_avg_10119498-2024-06-01', 'LRT_10119498-2024-6']",75,06_2024_10119498_10,CASE_000004,Patrick Williamson,High,Yes,Patrick Williamson,Yes
5,10119498,2024,7,"['RMF_10119498-2024-7', 'Structuring_10119498-2024-July', 'CIB_Peak_10119498-2024-07-01', 'CIB_avg_10119498-2024-07-01', 'LRT_10119498-2024-7']",75,07_2024_10119498_29,CASE_000004,Patrick Williamson,High,Yes,Patrick Williamson,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
9441,99796948,2024,11,"['RMF_99796948-2024-11', 'CIB_Peak_99796948-2024-11-01', 'CIB_avg_99796948-2024-11-01', 'LRT_99796948-2024-11', 'LRT_99796948-2024-11']",60,11_2024_99796948_80,CASE_003507,Amber Riley,Medium,No,Amber Riley,No
9442,99834853,2023,12,"['RMF_99834853-2023-12', 'CIB_Peak_99834853-2023-12-01', 'CIB_avg_99834853-2023-12-01', 'LRT_99834853-2023-12']",60,12_2023_99834853_51,CASE_003508,Judy Tran,Low,No,Judy Tran,No
9443,99869342,2024,5,"['RMF_99869342-2024-5', 'CIB_Peak_99869342-2024-05-01', 'CIB_avg_99869342-2024-05-01', 'LRT_99869342-2024-5']",60,05_2024_99869342_80,CASE_003509,Melissa Powell,Medium,Yes,Melissa Powell,Yes
9444,99869342,2024,5,"['RMF_99869342-2024-5', 'CIB_Peak_99869342-2024-05-01', 'CIB_avg_99869342-2024-05-01', 'LRT_99869342-2024-5']",60,05_2024_99869342_80,CASE_003509,Melissa Powell,Medium,Yes,Melissa Powell,No
9446,99918724,2024,8,"['RMF_99918724-2024-8', 'CIB_avg_99918724-2024-08-01', 'LRT_99918724-2024-8']",45,08_2024_99918724_29,CASE_003510,Krystal Boyd MD,Medium,No,Krystal Boyd MD,No

In [53]:
df.head(2)

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,event_IDs
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,[RMF_10006034-2023-10]
1,10006034,2024,2,Individual_Medium_Medium_High,1,0,1,0,0,0,"[RMF_10006034-2024-2, HRG_10006034-2024-February]"

In [164]:
df[df['Case_ID']== 'CASE_002829']

,Customer_ID,tran_year,tran_month,event_IDs,Total_Risk_Score,Alert_id,Case_ID,Customer_Name,Risk_Rating,PEP_Flag,Entity_Name,Entity_PEP_Flag
7650,82384747,2025,5,"['RMF_82384747-2025-5', 'Structuring_82384747-2025-May', 'LRT_82384747-2025-5']",45,05_2025_82384747_66,CASE_002829,Angela Lewis,Low,Yes,Angela Lewis,Yes
7651,82384747,2025,5,"['RMF_82384747-2025-5', 'Structuring_82384747-2025-May', 'LRT_82384747-2025-5']",45,05_2025_82384747_66,CASE_002829,Angela Lewis,Low,Yes,Angela Lewis,No

### Case Priority Logic

In [165]:
# --- Step 1: Define scoring logic ---
def score_risk(row):
    score = 0

    # Risk Rating
    if row['Risk_Rating'] == 'High':
        score += 3
    elif row['Risk_Rating'] == 'Medium':
        score += 2
    elif row['Risk_Rating'] == 'Low':
        score += 1

    # PEP flag
    if row['PEP_Flag'] == 'Yes' or row['Entity_PEP_Flag'] == 'Yes':
        score += 2
    # Total Alert Total_Risk_Score
    
    if row['Total_Risk_Score'] == 5*15:
        score += 3
    elif row['Total_Risk_Score'] == 4*15:
        score += 2
    elif row['Total_Risk_Score'] == 3*15:
        score += 1

    # Sanction body weight
    '''
    if row['Entity_Sanctioning_body'] == 'OFAC':
        score += 3
    elif row['Entity_Sanctioning_body'] == 'FATF':
        score += 2
    elif row['Entity_Sanctioning_body'] == 'EU':
        score += 1
    elif row['Entity_Sanctioning_body'] == 'UN':
        score += 2
    

    # List type weight
    if row['Entity_List_Type'] in ['Terrorist', 'Arms Dealing']:
        score += 3
    elif row['Entity_List_Type'] in ['Money Laundering', 'Fraud']:
        score += 2
    elif row['Entity_List_Type'] == 'PEP':
        score += 1
    '''
    return score

# --- Step 2: Apply scoring to each row ---
df['row_score'] = df.apply(score_risk, axis=1)

# --- Step 3: Aggregate to Case_ID level ---
case_scores = df.groupby(['Customer_ID','Case_ID']).agg(
    total_score=('row_score', 'sum'),
    alerts=('Alert_id', 'nunique'),#Counts unique Alert_ids per case.
    case_count = ('Case_ID','count'), #Counts total rows in each (Customer_ID, Case_ID) group.
  
    risk_rating=('Risk_Rating', 'first')  # Optional
).reset_index()

# --- Step 4: Assign priority band based on score ---
def assign_priority(score):
    if score >= 8:
        return 'High'
    elif score >= 5:
        return 'Medium'
    else:
        return 'Low'

case_scores['Priority'] = case_scores['total_score'].apply(assign_priority)

# --- Output ---
#print(case_scores[['Case_ID', 'total_score', 'alerts', 'Priority']])
case_scores

,Customer_ID,Case_ID,total_score,alerts,case_count,risk_rating,Priority
0,10015181,CASE_000001,5,1,1,Medium,Medium
1,10103452,CASE_000002,3,1,1,Low,Low
2,10112665,CASE_000003,4,1,1,Low,Low
3,10119498,CASE_000004,28,4,4,High,High
4,10121826,CASE_000005,4,1,1,Low,Low
...,...,...,...,...,...,...,...
3505,99737808,CASE_003506,42,3,6,High,High
3506,99796948,CASE_003507,4,1,1,Medium,Low
3507,99834853,CASE_003508,3,1,1,Low,Low
3508,99869342,CASE_003509,12,1,2,Medium,High
3509,99918724,CASE_003510,3,1,1,Medium,Low

## Randomly flag 10%-15% each month cases as L3 & add a list of transactions contributed in each case

In [166]:
# Step 1: Create a helper DataFrame with the earliest (year, month) per Case_ID
case_earliest_date = (
    df[['Case_ID', 'tran_year', 'tran_month']] #Customer_ID	tran_year	tran_month	
    .copy()
)

# Create a combined date column for easy comparison
case_earliest_date['combined_date'] = pd.to_datetime(
    case_earliest_date['tran_year'].astype(str) + '-' + case_earliest_date['tran_month'].astype(str).str.zfill(2),
    format='%Y-%m'
)

# Step 2: Get the earliest date per Case_ID
case_earliest = (
    case_earliest_date.loc[
        case_earliest_date.groupby('Case_ID')['combined_date'].idxmin()
    ][['Case_ID', 'tran_year', 'tran_month']]
)

# Step 3: Merge with case_scores
case_scores = case_scores.merge(case_earliest, on='Case_ID', how='left')
case_scores

,Customer_ID,Case_ID,total_score,alerts,case_count,risk_rating,Priority,tran_year,tran_month
0,10015181,CASE_000001,5,1,1,Medium,Medium,2024,4
1,10103452,CASE_000002,3,1,1,Low,Low,2024,9
2,10112665,CASE_000003,4,1,1,Low,Low,2024,5
3,10119498,CASE_000004,28,4,4,High,High,2024,6
4,10121826,CASE_000005,4,1,1,Low,Low,2025,2
...,...,...,...,...,...,...,...,...,...
3505,99737808,CASE_003506,42,3,6,High,High,2024,4
3506,99796948,CASE_003507,4,1,1,Medium,Low,2024,11
3507,99834853,CASE_003508,3,1,1,Low,Low,2023,12
3508,99869342,CASE_003509,12,1,2,Medium,High,2024,5
3509,99918724,CASE_003510,3,1,1,Medium,Low,2024,8

### Adding L_3 Flag

In [167]:
# Ensure reproducibility
np.random.seed(42)

# Create a copy to avoid changing the original
case_scores_with_l3 = case_scores.copy()
case_scores_with_l3['L_3_flag'] = '-'  # default 

# Group by year and month
grouped = case_scores_with_l3.groupby(['tran_year', 'tran_month'])

for (year, month), group in grouped:
    n_cases = len(group)
    
    # Randomly choose 10-15% of the cases
    sample_frac = np.random.uniform(0.10, 0.15)
    n_l3 = int(np.ceil(n_cases * sample_frac))
    
    # Apply weighted sampling: 70% High, 20% Medium, 10% Low
    high_cases = group[group['Priority'] == 'High']
    medium_cases = group[group['Priority'] == 'Medium']
    low_cases = group[group['Priority'] == 'Low']
    
    n_high = int(n_l3 * 0.7)
    n_medium = int(n_l3 * 0.2)
    n_low = n_l3 - n_high - n_medium
    
    l3_ids = []

    l3_ids += list(high_cases.sample(min(n_high, len(high_cases)), random_state=42)['Case_ID'])
    l3_ids += list(medium_cases.sample(min(n_medium, len(medium_cases)), random_state=42)['Case_ID'])
    l3_ids += list(low_cases.sample(min(n_low, len(low_cases)), random_state=42)['Case_ID'])

    # Mark selected Case_IDs as 'L3'
    case_scores_with_l3.loc[
        case_scores_with_l3['Case_ID'].isin(l3_ids) &
        (case_scores_with_l3['tran_year'] == year) &
        (case_scores_with_l3['tran_month'] == month),
        'L_3_flag'
    ] = 'L3'    # I keep it as string to add 'L2' or 'L1' label in future if needed
case_scores_with_l3

,Customer_ID,Case_ID,total_score,alerts,case_count,risk_rating,Priority,tran_year,tran_month,L_3_flag
0,10015181,CASE_000001,5,1,1,Medium,Medium,2024,4,L3
1,10103452,CASE_000002,3,1,1,Low,Low,2024,9,L3
2,10112665,CASE_000003,4,1,1,Low,Low,2024,5,-
3,10119498,CASE_000004,28,4,4,High,High,2024,6,L3
4,10121826,CASE_000005,4,1,1,Low,Low,2025,2,-
...,...,...,...,...,...,...,...,...,...,...
3505,99737808,CASE_003506,42,3,6,High,High,2024,4,L3
3506,99796948,CASE_003507,4,1,1,Medium,Low,2024,11,-
3507,99834853,CASE_003508,3,1,1,Low,Low,2023,12,-
3508,99869342,CASE_003509,12,1,2,Medium,High,2024,5,-
3509,99918724,CASE_003510,3,1,1,Medium,Low,2024,8,-

In [168]:
case_scores_with_l3.shape

(3510, 10)

In [169]:
case_scores_with_l3[case_scores_with_l3['L_3_flag']=='L3'].shape

(438, 10)

In [170]:
case_scores_with_l3.head(1)

,Customer_ID,Case_ID,total_score,alerts,case_count,risk_rating,Priority,tran_year,tran_month,L_3_flag
0,10015181,CASE_000001,5,1,1,Medium,Medium,2024,4,L3

In [171]:
100*case_scores_with_l3[case_scores_with_l3['L_3_flag']=='L3'].shape[0]/case_scores_with_l3.shape[0]

12.478632478632479

### Adding SAR FLAG (8% to 10% of L3 cases)

In [172]:
# Add SAR_Flag column with default value 0
case_scores_with_l3['SAR_Flag'] = 0

# Filter only L3 cases
l3_cases = case_scores_with_l3[case_scores_with_l3['L_3_flag'] == 'L3']

# Calculate how many to sample (8% to 10% of L3 cases)
n_l3_total = len(l3_cases)
n_sar = int(np.ceil(n_l3_total * np.random.uniform(0.08, 0.1)))

# Randomly sample Case_IDs to flag as SAR
sar_ids = l3_cases.sample(n=n_sar, random_state=42)['Case_ID']

# Assign SAR_Flag = 1 to sampled Case_IDs
case_scores_with_l3.loc[
    case_scores_with_l3['Case_ID'].isin(sar_ids),
    'SAR_Flag'
] = 1

# Final DataFrame
case_scores_with_l3

,Customer_ID,Case_ID,total_score,alerts,case_count,risk_rating,Priority,tran_year,tran_month,L_3_flag,SAR_Flag
0,10015181,CASE_000001,5,1,1,Medium,Medium,2024,4,L3,0
1,10103452,CASE_000002,3,1,1,Low,Low,2024,9,L3,0
2,10112665,CASE_000003,4,1,1,Low,Low,2024,5,-,0
3,10119498,CASE_000004,28,4,4,High,High,2024,6,L3,0
4,10121826,CASE_000005,4,1,1,Low,Low,2025,2,-,0
...,...,...,...,...,...,...,...,...,...,...,...
3505,99737808,CASE_003506,42,3,6,High,High,2024,4,L3,0
3506,99796948,CASE_003507,4,1,1,Medium,Low,2024,11,-,0
3507,99834853,CASE_003508,3,1,1,Low,Low,2023,12,-,0
3508,99869342,CASE_003509,12,1,2,Medium,High,2024,5,-,0
3509,99918724,CASE_003510,3,1,1,Medium,Low,2024,8,-,0

In [173]:
case_scores_with_l3[case_scores_with_l3['SAR_Flag']==1].shape

(42, 11)

In [174]:
# % of SAR flag to total CASEs
100*case_scores_with_l3[case_scores_with_l3['SAR_Flag']==1].shape[0]/case_scores_with_l3.shape[0]

1.1965811965811965

### Monthly summary Table of Transacted_Customers & L3 & SAR Counts

In [175]:
case_scores_with_l3.head(1)

,Customer_ID,Case_ID,total_score,alerts,case_count,risk_rating,Priority,tran_year,tran_month,L_3_flag,SAR_Flag
0,10015181,CASE_000001,5,1,1,Medium,Medium,2024,4,L3,0

In [57]:
#del monthly_summary_count

In [58]:
# Create Dataframe to count transacted customers and L3 and SAR flagged customers count for each month  grouped by tran_year and tran_month

monthly_summary_count = (
    case_scores_with_l3
    .groupby(['tran_year', 'tran_month'])
    .agg(
        Alerted_Customers=('Customer_ID', 'count'),
        l3_customers=('Customer_ID', lambda x: case_scores_with_l3.loc[x.index, 'L_3_flag'].eq('L3').sum()),
        sar_customers=('Customer_ID', lambda x: case_scores_with_l3.loc[x.index, 'SAR_Flag'].eq(1).sum())
       # ,case_count=('Case_ID', 'nunique')  
    )
    .reset_index()
    .sort_values(['tran_year', 'tran_month'])
).rename(columns={
    'Alerted_Customers': 'Alerted_Customers',
    'l3_customers': 'L3_Counts',
    'sar_customers': 'SAR_Flagged_Counts'
    #,'case_count': 'Case_Counts'  # the count of unique cases is equal to the caount of alerts for each month.#
    #monthly_summary[monthly_summary['Alerted_Customers'] != monthly_summary['Case_Counts']]

})

monthly_summary_count

    tran_year  tran_month  Alerted_Customers  L3_Counts  SAR_Flagged_Counts
0        2023           5                  6          1                   0
1        2023           6                 38          6                   0
2        2023           7                 60          9                   1
3        2023           8                 83         11                   0
4        2023           9                 88         10                   3
5        2023          10                 85         10                   0
6        2023          11                 74          8                   1
7        2023          12                 72         11                   2
8        2024           1                 77         11                   1
9        2024           2                115         16                   0
10       2024           3                148         15                   0
11       2024           4                157         24                   1
12       2024           5                268         38                   2
13       2024           6                236         27                   5
14       2024           7                221         25                   4
15       2024           8                204         23                   2
16       2024           9                207         24                   2
17       2024          10                231         30                   4
18       2024          11                217         27                   3
19       2024          12                215         25                   3
20       2025           1                220         29                   1
21       2025           2                143         16                   2
22       2025           3                153         18                   4
23       2025           4                142         17                   0
24       2025           5                 50          7                   1

In [51]:
senarios_triggered_df.head(1)

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,event_IDs
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,[RMF_10006034-2023-10]

In [59]:
# Step 1: Count unique Customer_IDs grouped by tran_year and tran_month
alert_counts = (
    senarios_triggered_df.groupby(['tran_year', 'tran_month'])['Customer_ID']
    .nunique()
    .reset_index(name='Transacted_Customers_Count')
)
alert_counts.head(1)

   tran_year  tran_month  Transacted_Customers_Count
0       2023           5                         270

In [60]:
# Step 2: Merge this count into your monthly_summary_count DataFrame
monthly_summary_count = monthly_summary_count.merge(
    alert_counts,
    on=['tran_year', 'tran_month'],
    how='left'
)
monthly_summary_count.head(1)

,tran_year,tran_month,Alerted_Customers,L3_Counts,SAR_Flagged_Counts,Transacted_Customers_Count
0,2023,5,6,1,0,270

In [61]:
# Select alert flag columns to add number of generate senario alerts
alert_flag_cols = [
    'Alert_Flag_RMF', 
    'Alert_Flag_Structuring', 
    'Alert_Flag_HRG', 
    'Alert_Flag_CIB_Avg', 
    'Alert_Flag_CIB_Peak', 
    'Alert_Flag_LRT'
]

# Compute sum of all alert flags grouped by year and month
# Sum the alert flags across all six alert columns, per (year, month)
alert_flag_sum = (
    senarios_triggered_df.groupby(['tran_year', 'tran_month'])[alert_flag_cols]
    .sum()
    .reset_index()
)

# Now compute total alerts across all flags
alert_flag_sum['Total_Alert_Flags'] = alert_flag_sum[alert_flag_cols].sum(axis=1)

# Keep only necessary columns
alert_flag_sum = alert_flag_sum[['tran_year', 'tran_month', 'Total_Alert_Flags']]
alert_flag_sum.head(1)

   tran_year  tran_month  Total_Alert_Flags
0       2023           5                488

In [62]:
monthly_summary_count = monthly_summary_count.merge(
    alert_flag_sum,
    on=['tran_year', 'tran_month'],
    how='left'
)
monthly_summary_count.head(1)

,tran_year,tran_month,Alerted_Customers,L3_Counts,SAR_Flagged_Counts,Transacted_Customers_Count,Total_Alert_Flags
0,2023,5,6,1,0,270,488

In [63]:
# Optional: fill NaNs (if any months had no alerts at all)
monthly_summary_count['Total_Alert_Flags'] = monthly_summary_count['Total_Alert_Flags'].fillna(0).astype(int)

# Step 3: Fill NaN counts with 0 (if there were no alerts in some months)
monthly_summary_count['Transacted_Customers_Count'] = monthly_summary_count['Transacted_Customers_Count'].fillna(0).astype(int)

,tran_year,tran_month,Alerted_Customers,L3_Counts,SAR_Flagged_Counts,Transacted_Customers_Count,Total_Alert_Flags
0,2023,5,6,1,0,270,488

In [65]:
monthly_summary_count

,tran_year,tran_month,Alerted_Customers,L3_Counts,SAR_Flagged_Counts,Transacted_Customers_Count,Total_Alert_Flags
0,2023,5,6,1,0,270,488
1,2023,6,38,6,0,353,683
2,2023,7,60,9,1,349,721
3,2023,8,83,11,0,345,759
4,2023,9,88,10,3,336,735
5,2023,10,85,10,0,349,758
6,2023,11,74,8,1,335,726
7,2023,12,72,11,2,348,740
8,2024,1,77,11,1,357,753
9,2024,2,115,16,0,589,1311
10,2024,3,148,15,0,831,1833
11,2024,4,157,24,1,947,1972
12,2024,5,268,38,2,918,2133
13,2024,6,236,27,5,894,2116
14,2024,7,221,25,4,870,2069
15,2024,8,204,23,2,878,2073
16,2024,9,207,24,2,916,2114
17,2024,10,231,30,4,952,2197
18,2024,11,217,27,3,905,2158
19,2024,12,215,25,3,924,2172
20,2025,1,220,29,1,923,2125
21,2025,2,143,16,2,296,748
22,2025,3,153,18,4,367,867
23,2025,4,142,17,0,324,789
24,2025,5,50,7,1,92,240

## Adding feature table [ enriched_df ] with alerted flag for ML

In [181]:
enriched_df.head(1) ## 6_month aggregation of features for each customer

,Customer_ID,tran_month,tran_year,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List,month_date,Beneficiary_ID_List_6_lookback_UniqueCount,Monthly_Total_Tran_Amount_6_lookback_Sum,Monthly_Debit_Tran_Amount_6_lookback_Sum,Monthly_Credit_Tran_Amount_6_lookback_Sum,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M
7,1000408,5,2023,1379429.88,3,0.0,0.0,0.0,0.0,1379429.88,3.0,[],2023-05-01,1.0,1379429.88,1379429.88,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0

In [22]:
# Step 1: Create a set of tuples from senarios_triggered_df for fast lookup
alerted_keys = set(zip(
    senarios_triggered_df['Customer_ID'],
    senarios_triggered_df['tran_month'],
    senarios_triggered_df['tran_year']
))

# Step 2: Define a function to check if a row is in alerted_keys
def is_alerted(row):
    return int((row['Customer_ID'], row['tran_month'], row['tran_year']) in alerted_keys)

# Step 3: Apply the function to enriched_df to create the alerted_flag column
enriched_df['alerted_flag'] = enriched_df.apply(is_alerted, axis=1)  # this line could be modified to assign 1 to 3 or more alerted senarios for each customer
# I will part it as it is because the different approach is implemented in the following
enriched_df.head()

,Customer_ID,tran_month,tran_year,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,...,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,alerted_flag,period
0,1000408,5,2023,1379429.88,3,0.0,0.0,0.00,0.0,1379429.88,...,1.0,1.0,0.0,1.0,0.0,1.0,0.000000,1.0,0,None
1,1000408,9,2023,3556992.62,13,0.0,0.0,1185547.78,3.0,2371444.84,...,2.0,2.0,0.0,2.0,0.0,1.0,0.316072,1.0,0,None
2,1000408,11,2023,2903207.04,3,0.0,0.0,967735.68,1.0,1935471.36,...,2.0,2.0,0.0,2.0,0.0,1.0,0.499959,1.0,0,None
3,1000408,12,2023,1952824.95,13,0.0,0.0,484899.33,2.0,1467925.62,...,3.0,3.0,0.0,3.0,0.0,1.0,0.456841,1.0,0,Dev
4,1000408,2,2024,6995.43,9,0.0,0.0,0.00,0.0,6995.43,...,4.0,4.0,0.0,4.0,0.0,1.0,0.456288,1.0,0,Dev

In [183]:
enriched_df[enriched_df['alerted_flag'] == 1].head()

,Customer_ID,tran_month,tran_year,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List,month_date,Beneficiary_ID_List_6_lookback_UniqueCount,Monthly_Total_Tran_Amount_6_lookback_Sum,Monthly_Debit_Tran_Amount_6_lookback_Sum,Monthly_Credit_Tran_Amount_6_lookback_Sum,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,alerted_flag
33,10006034,10,2023,1565.94,2,0.00,0.0,782.97,1.0,782.97,1.0,[395789],2023-10-01,4.0,2441772.36,1632938.76,808833.60,5.0,5.0,5.0,2343878.89,5.0,0.959909,1.0,0.495324,1.0,1
19,10006034,2,2024,220876.32,6,252.28,4.0,110312.02,1.0,110564.30,5.0,"[, 440980]",2024-02-01,4.0,1587571.77,1021433.61,566138.16,3.0,3.0,3.0,252.28,3.0,0.000159,1.0,0.554258,1.0,1
21,10006034,3,2024,662628.96,18,756.84,12.0,330936.06,3.0,331692.90,15.0,"[, 440980]",2024-03-01,4.0,2250200.73,1353126.51,897074.22,4.0,4.0,4.0,1009.12,4.0,0.000448,1.0,0.662964,1.0,1
48,10006084,7,2024,3509663.86,35,0.00,0.0,181541.38,4.0,3328122.48,31.0,[],2024-07-01,1.0,8888735.47,7896562.03,992173.44,6.0,6.0,6.0,0.00,6.0,0.000000,1.0,0.125646,1.0,1
94,10015181,4,2024,4664760.44,23,0.00,0.0,2327766.83,8.0,2336993.61,15.0,[],2024-04-01,1.0,11293892.41,5762150.74,5531741.67,5.0,5.0,5.0,0.00,5.0,0.000000,1.0,0.960013,1.0,1

## Assingin OOT , DEV , Holdout Month Periods

In [5]:
print("Whole Transactions Month & Year:\n")
unique_months_years = enriched_df[['tran_month', 'tran_year']].drop_duplicates()
unique_months_years = unique_months_years.sort_values(['tran_year', 'tran_month']).reset_index(drop=True)
unique_months_years

Whole Transactions Month & Year:

    tran_month  tran_year
0            5       2023
1            6       2023
2            7       2023
3            8       2023
4            9       2023
5           10       2023
6           11       2023
7           12       2023
8            1       2024
9            2       2024
10           3       2024
11           4       2024
12           5       2024
13           6       2024
14           7       2024
15           8       2024
16           9       2024
17          10       2024
18          11       2024
19          12       2024
20           1       2025
21           2       2025
22           3       2025
23           4       2025
24           5       2025

In [185]:
# Drop the first 6 months due to 6-month lookback
#unique_months_years = unique_months_years.iloc[6:].copy()

# Initialize period column
unique_months_years['period'] = ''

# Assign last 3 months as Holdout
unique_months_years.loc[unique_months_years.index[-3:], 'period'] = 'holdout'  

# Assign the 3 months before Holdout period  as out of time --> OOT
unique_months_years.loc[unique_months_years.index[-6:-3], 'period'] = 'OOT'

# Assign the 12 months before OOT period as Dev period
unique_months_years.loc[unique_months_years.index[-18:-6], 'period'] = 'Dev'

In [186]:
unique_months_years

    tran_month  tran_year   period
0            5       2023
1            6       2023
2            7       2023
3            8       2023
4            9       2023
5           10       2023
6           11       2023
7           12       2023      Dev
8            1       2024      Dev
9            2       2024      Dev
10           3       2024      Dev
11           4       2024      Dev
12           5       2024      Dev
13           6       2024      Dev
14           7       2024      Dev
15           8       2024      Dev
16           9       2024      Dev
17          10       2024      Dev
18          11       2024      Dev
19          12       2024      OOT
20           1       2025      OOT
21           2       2025      OOT
22           3       2025  holdout
23           4       2025  holdout
24           5       2025  holdout

In [187]:
unique_months_years = unique_months_years.iloc[7:].copy()
unique_months_years

    tran_month  tran_year   period
7           12       2023      Dev
8            1       2024      Dev
9            2       2024      Dev
10           3       2024      Dev
11           4       2024      Dev
12           5       2024      Dev
13           6       2024      Dev
14           7       2024      Dev
15           8       2024      Dev
16           9       2024      Dev
17          10       2024      Dev
18          11       2024      Dev
19          12       2024      OOT
20           1       2025      OOT
21           2       2025      OOT
22           3       2025  holdout
23           4       2025  holdout
24           5       2025  holdout

In [188]:
len(unique_months_years[unique_months_years['period'] =='Dev'])

12

# ML Model Development

In [189]:
enriched_df.head(1)

,Customer_ID,tran_month,tran_year,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List,month_date,Beneficiary_ID_List_6_lookback_UniqueCount,Monthly_Total_Tran_Amount_6_lookback_Sum,Monthly_Debit_Tran_Amount_6_lookback_Sum,Monthly_Credit_Tran_Amount_6_lookback_Sum,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,alerted_flag
7,1000408,5,2023,1379429.88,3,0.0,0.0,0.0,0.0,1379429.88,3.0,[],2023-05-01,1.0,1379429.88,1379429.88,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0

In [190]:
# Merge period info with enriched_df
enriched_df = enriched_df.merge(unique_months_years, on=['tran_month', 'tran_year'], how='left')

# Filter DEV and OOT sets
df_dev = enriched_df[enriched_df['period'] == 'Dev'].copy()
df_oot = enriched_df[enriched_df['period'] == 'OOT'].copy()
enriched_df.head()

,Customer_ID,tran_month,tran_year,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List,month_date,Beneficiary_ID_List_6_lookback_UniqueCount,Monthly_Total_Tran_Amount_6_lookback_Sum,Monthly_Debit_Tran_Amount_6_lookback_Sum,Monthly_Credit_Tran_Amount_6_lookback_Sum,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,alerted_flag,period
0,1000408,5,2023,1379429.88,3,0.0,0.0,0.00,0.0,1379429.88,3.0,[],2023-05-01,1.0,1379429.88,1379429.88,0.00,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.000000,1.0,0,NaN
1,1000408,9,2023,3556992.62,13,0.0,0.0,1185547.78,3.0,2371444.84,10.0,[],2023-09-01,1.0,4936422.50,3750874.72,1185547.78,2.0,2.0,2.0,0.0,2.0,0.0,1.0,0.316072,1.0,0,NaN
2,1000408,11,2023,2903207.04,3,0.0,0.0,967735.68,1.0,1935471.36,2.0,[],2023-11-01,1.0,6460199.66,4306916.20,2153283.46,2.0,2.0,2.0,0.0,2.0,0.0,1.0,0.499959,1.0,0,NaN
3,1000408,12,2023,1952824.95,13,0.0,0.0,484899.33,2.0,1467925.62,11.0,[],2023-12-01,1.0,8413024.61,5774841.82,2638182.79,3.0,3.0,3.0,0.0,3.0,0.0,1.0,0.456841,1.0,0,Dev
4,1000408,2,2024,6995.43,9,0.0,0.0,0.00,0.0,6995.43,9.0,[],2024-02-01,1.0,8420020.04,5781837.25,2638182.79,4.0,4.0,4.0,0.0,4.0,0.0,1.0,0.456288,1.0,0,Dev

In [191]:

enriched_df

,Customer_ID,tran_month,tran_year,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List,month_date,Beneficiary_ID_List_6_lookback_UniqueCount,Monthly_Total_Tran_Amount_6_lookback_Sum,Monthly_Debit_Tran_Amount_6_lookback_Sum,Monthly_Credit_Tran_Amount_6_lookback_Sum,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,alerted_flag,period
0,1000408,5,2023,1379429.88,3,0.0,0.0,0.00,0.0,1379429.88,3.0,[],2023-05-01,1.0,1379429.88,1379429.88,0.00,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.000000,1.0,0,NaN
1,1000408,9,2023,3556992.62,13,0.0,0.0,1185547.78,3.0,2371444.84,10.0,[],2023-09-01,1.0,4936422.50,3750874.72,1185547.78,2.0,2.0,2.0,0.0,2.0,0.0,1.0,0.316072,1.0,0,NaN
2,1000408,11,2023,2903207.04,3,0.0,0.0,967735.68,1.0,1935471.36,2.0,[],2023-11-01,1.0,6460199.66,4306916.20,2153283.46,2.0,2.0,2.0,0.0,2.0,0.0,1.0,0.499959,1.0,0,NaN
3,1000408,12,2023,1952824.95,13,0.0,0.0,484899.33,2.0,1467925.62,11.0,[],2023-12-01,1.0,8413024.61,5774841.82,2638182.79,3.0,3.0,3.0,0.0,3.0,0.0,1.0,0.456841,1.0,0,Dev
4,1000408,2,2024,6995.43,9,0.0,0.0,0.00,0.0,6995.43,9.0,[],2024-02-01,1.0,8420020.04,5781837.25,2638182.79,4.0,4.0,4.0,0.0,4.0,0.0,1.0,0.456288,1.0,0,Dev
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,10915114,1,2024,22636.76,28,0.0,0.0,0.00,0.0,22636.76,28.0,[],2024-01-01,1.0,22636.76,22636.76,0.00,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.000000,1.0,0,Dev
4995,10915114,2,2024,108108.87,119,0.0,0.0,1301.49,5.0,106807.38,114.0,[],2024-02-01,1.0,130745.63,129444.14,1301.49,2.0,2.0,2.0,0.0,2.0,0.0,1.0,0.010054,1.0,0,Dev
4996,10915114,3,2024,6570631.53,213,0.0,0.0,3904.47,15.0,6566727.06,198.0,[],2024-03-01,1.0,6701377.16,6696171.20,5205.96,3.0,3.0,3.0,0.0,3.0,0.0,1.0,0.000777,1.0,0,Dev
4997,10915114,1,2025,94262.01,111,0.0,0.0,12740.67,1.0,81521.34,110.0,[],2025-01-01,1.0,94262.01,81521.34,12740.67,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.156286,1.0,0,OOT
4998,10915114,2,2025,6214186.44,12,0.0,0.0,0.00,0.0,6214186.44,12.0,[],2025-02-01,1.0,6308448.45,6295707.78,12740.67,2.0,2.0,2.0,0.0,2.0,0.0,1.0,0.002024,1.0,0,OOT

In [192]:
# Define features (exclude IDs, dates, target column)
drop_cols = [
    'Customer_ID', 'tran_month', 'tran_year', 'month_date',
    'Beneficiary_ID_List', 'period', 'alerted_flag'  # alerted_flag is the target col
]

# Ensure only numeric columns are used as features
X_dev = df_dev.drop(columns=drop_cols, errors='ignore').select_dtypes(include='number')
y_dev = df_dev['alerted_flag']

X_oot = df_oot[X_dev.columns]  # Ensure same features in X_dev is in the OOT
y_oot = df_oot['alerted_flag']

In [193]:
print(y_dev.value_counts())

alerted_flag
0    2840
1     113
Name: count, dtype: int64

In [194]:
print(y_oot.value_counts())

alerted_flag
0    643
1     24
Name: count, dtype: int64

In [195]:
X_oot.describe()

,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List_6_lookback_UniqueCount,Monthly_Total_Tran_Amount_6_lookback_Sum,Monthly_Debit_Tran_Amount_6_lookback_Sum,Monthly_Credit_Tran_Amount_6_lookback_Sum,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M
count,6.670000e+02,667.000000,6.670000e+02,667.000000,6.670000e+02,667.000000,6.670000e+02,667.000000,667.000000,6.670000e+02,6.670000e+02,6.670000e+02,667.000000,667.000000,667.000000,6.670000e+02,667.000000,667.000000,667.0,667.000000,667.0
mean,2.992651e+06,21.524738,2.362824e+04,0.242879,4.998385e+05,3.106447,2.492812e+06,18.418291,1.325337,1.905711e+07,1.620007e+07,2.857037e+06,5.697151,5.697151,5.697151,3.172278e+05,5.697151,0.015549,1.0,1.110271,1.0
std,6.220929e+06,29.267851,2.646802e+05,1.600795,1.232634e+06,4.707263,5.348792e+06,26.541211,1.360314,2.355133e+07,2.098698e+07,4.390521e+06,0.804291,0.804291,0.804291,2.424027e+06,0.804291,0.105498,0.0,21.976332,0.0
min,1.052600e+02,1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000,7.368200e+02,7.368200e+02,0.000000e+00,1.000000,1.000000,1.000000,0.000000e+00,1.000000,0.000000,1.0,0.000000,1.0
25%,1.993864e+04,6.000000,0.000000e+00,0.000000,1.235900e+02,1.000000,1.140600e+04,4.500000,1.000000,2.227666e+06,1.684226e+06,2.743140e+04,6.000000,6.000000,6.000000,0.000000e+00,6.000000,0.000000,1.0,0.012208,1.0
50%,5.346618e+05,15.000000,0.000000e+00,0.000000,5.650530e+03,2.000000,4.033662e+05,12.000000,1.000000,1.276085e+07,1.023840e+07,8.590474e+05,6.000000,6.000000,6.000000,0.000000e+00,6.000000,0.000000,1.0,0.154945,1.0
75%,3.686805e+06,26.500000,0.000000e+00,0.000000,4.833260e+05,4.000000,3.116044e+06,23.000000,1.000000,2.768978e+07,2.334750e+07,4.198102e+06,6.000000,6.000000,6.000000,0.000000e+00,6.000000,0.000000,1.0,0.360111,1.0
max,8.910540e+07,351.000000,4.186541e+06,21.000000,1.222319e+07,54.000000,7.810684e+07,351.000000,10.000000,2.214003e+08,2.210735e+08,3.220446e+07,6.000000,6.000000,6.000000,2.984945e+07,6.000000,1.000000,1.0,567.590409,1.0

In [198]:
import pandas as pd
feature_importance = pd.Series(model.feature_importances_, index=X_dev.columns)
print(feature_importance.sort_values(ascending=False).head(len(X_dev.columns)))

Monthly_Credit_Tran_Amount                     0.162909
Monthly_Credit_Tran_Count                      0.157037
Monthly_Credit_Tran_Amount_6_lookback_Sum      0.081974
Credit_to_Debit_Amount_Ratio_6M                0.081156
Monthly_Total_Tran_Amount_6_lookback_Sum       0.067094
Monthly_Total_Tran_Amount                      0.062545
Monthly_Debit_Tran_Amount_6_lookback_Sum       0.061145
Monthly_Debit_Tran_Amount                      0.058449
Monthly_Debit_Tran_Count                       0.055769
Monthly_Total_Tran_Count                       0.048262
Monthly_Total_Tran_Amount_6_lookback_Count     0.033931
Monthly_Credit_Tran_Amount_6_lookback_Count    0.032303
Monthly_HR_Tran_Count_6_lookback_Count         0.030991
Monthly_Debit_Tran_Amount_6_lookback_Count     0.029376
Monthly_HR_Tran_Amount                         0.010827
Monthly_HR_Tran_Count                          0.008527
%_6M_HRG_Tran_Amoun                            0.007635
Monthly_HR_Tran_Amount_6_lookback_Sum          0.006494
Beneficiary_ID_List_6_lookback_UniqueCount     0.003576
%_6M_HRG_Tran_Count                            0.000000
Credit_to_Debit_Count_Ratio_6M                 0.000000
dtype: float64

## xgboost to deal with imbalanced dataset

In [202]:
#!pip install xgboost
from xgboost import XGBClassifier

xgb = XGBClassifier(scale_pos_weight=(len(y_dev) / sum(y_dev)), use_label_encoder=False, eval_metric='logloss')
xgb.fit(X_dev, y_dev)
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

# --- DEV set evaluation ---
y_dev_pred = xgb.predict(X_dev)
y_dev_prob = xgb.predict_proba(X_dev)[:, 1]

print("🔍 DEV Classification Report:")
print(classification_report(y_dev, y_dev_pred, zero_division=0))

print("📊 DEV Confusion Matrix:")
print(confusion_matrix(y_dev, y_dev_pred))

print("🎯 DEV ROC-AUC Score:", roc_auc_score(y_dev, y_dev_prob))


# --- OOT set evaluation ---
y_oot_pred = xgb.predict(X_oot)
y_oot_prob = xgb.predict_proba(X_oot)[:, 1]

print("\n🔍 OOT Classification Report:")
print(classification_report(y_oot, y_oot_pred, zero_division=0))

print("📊 OOT Confusion Matrix:")
print(confusion_matrix(y_oot, y_oot_pred))

print("🎯 OOT ROC-AUC Score:", roc_auc_score(y_oot, y_oot_prob))

C:\Users\sajad\anaconda3\envs\Quant\lib\site-packages\xgboost\core.py:158: UserWarning: [13:18:04] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-08cbc0333d8d4aae1-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

🔍 DEV Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2840
           1       1.00      1.00      1.00       113

    accuracy                           1.00      2953
   macro avg       1.00      1.00      1.00      2953
weighted avg       1.00      1.00      1.00      2953

📊 DEV Confusion Matrix:
[[2840    0]
 [   0  113]]
🎯 DEV ROC-AUC Score: 1.0

🔍 OOT Classification Report:
              precision    recall  f1-score   support

           0       0.97      0.99      0.98       643
           1       0.33      0.17      0.22        24

    accuracy                           0.96       667
   macro avg       0.65      0.58      0.60       667
weighted avg       0.95      0.96      0.95       667

📊 OOT Confusion Matrix:
[[635   8]
 [ 20   4]]
🎯 OOT ROC-AUC Score: 0.6701010886469674

In [ ]:
import pandas as pd
feature_importance = pd.Series(xgb.feature_importances_, index=X_dev.columns)
print(feature_importance.sort_values(ascending=False).head(len(X_dev.columns)))

## Save User Defined Variables for future run

In [221]:
#pip install pyarrow

In [78]:
enriched_df.head(1)

,Customer_ID,tran_month,tran_year,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,...,Monthly_Credit_Tran_Amount_6_lookback_Sum,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M
0,1000408,5,2023,1379429.88,3,0.0,0.0,0.0,0.0,1379429.88,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0

In [79]:
print(sorted(globals().keys()))

['Faker', 'Final_Alert_table', 'Generic', 'In', 'Out', 'XGBClassifier', 'X_dev', 'X_dev_resampled', 'X_oot', '_', '_11', '_12', '_13', '_14', '_15', '_16', '_17', '_18', '_19', '_2', '_20', '_22', '_23', '_26', '_27', '_29', '_3', '_31', '_4', '_40', '_42', '_45', '_49', '_5', '_51', '_53', '_54', '_55', '_56', '_57', '_58', '_6', '_61', '_63', '_64', '_65', '_66', '_68', '_69', '_7', '_70', '_71', '_72', '_73', '_76', '_78', '_8', '_9', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i66', '_i67', '_i68', '_i69', '_i7', '_i70', '_i71', '_i72', '_i73', '_i74', '_i75', '_i76', '_i77', '_i78', '_i79', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'account_count_by_val_cat', 'account_df', 'account_df_reduced', 'agg_cash', 'agg_cheque', 'agg_eft', 'alert_counts', 'alert_customers', 'alert_customers_cib', 'alert_customers_cib_avg', 'alert_customers_cib_avg_1', 'alert_customers_cib_avg_2', 'alert_customers_cib_peak', 'alert_customers_cib_peak_1', 'alert_customers_cib_peak_2', 'alert_customers_hrg', 'alert_customers_hrg_1', 'alert_customers_hrg_2', 'alert_customers_lrt', 'alert_customers_lrt_1', 'alert_customers_lrt_2', 'alert_customers_nc', 'alert_customers_rmf', 'alert_customers_rmf_1', 'alert_customers_structuring', 'alert_customers_structuring_1', 'alert_customers_structuring_2', 'alert_flag_sum', 'alerts_rmf_ac', 'alerts_rmf_nc', 'beneficial_ownership_df', 'beneficiary_list_df', 'case_earliest', 'case_earliest_date', 'case_scores', 'case_scores_with_l3', 'case_table', 'cash_credit_3d', 'cash_credit_total', 'cash_df', 'cash_txn', 'cheque_df', 'cheque_txn', 'chunk', 'chunk_list', 'classification_report', 'confusion_matrix', 'correspondent_banking_df', 'country_risk_df', 'credit_txn', 'customer_ID_monthly', 'customer_alert_flag_sum', 'customer_case_table', 'customer_counts', 'customer_df', 'customer_df_reduced', 'customer_risk_df', 'customer_triggered_feature', 'data_subset', 'datetime', 'deviation_df', 'df', 'df_Credit', 'df_Debit', 'df_agg_merged', 'df_all', 'df_dev', 'df_hr', 'df_oot', 'drop_cols', 'duplicate_cases', 'eft_df', 'eft_txn', 'enriched_df', 'episode_summary', 'episode_summary_1', 'exit', 'f', 'feature_importance', 'file_path', 'filtered_df', 'final_3d_summary', 'final_3d_summary_1', 'final_detection_table', 'final_df', 'final_df_1', 'final_df_2', 'final_episode_view', 'final_rolling_view', 'get_ipython', 'group', 'high_cases', 'i', 'json', 'kyc_documents_df', 'l3_cases', 'loaded_dfs', 'lookback_df', 'low_cases', 'medium_cases', 'merged_df', 'merged_df_same_month', 'merged_with_beneficiaries', 'meta', 'metadata', 'min_dates', 'monthly_credit', 'monthly_hr_amount', 'monthly_hr_count', 'monthly_summary_count', 'monthly_summary_hrg', 'monthly_total_amount', 'monthly_tran_lrt', 'monthly_transactions', 'new_flagged_case', 'np', 'open', 'os', 'parquet_file', 'pd', 'percentile_df', 'percentiles', 'percentiles_df', 'pq', 'pycountry', 'quit', 'random', 'ratio_df', 'roc_auc_score', 'rolling_cash', 'rolling_cheque', 'rolling_combined', 'rolling_eft', 'sample_df', 'save_dir', 'segment_df', 'segmented_df', 'senarios_triggered_df', 'status_df', 'summary_table_cib', 'transaction_df', 'transaction_summary', 'unique_months_years', 'uuid', 'value', 'var_name', 'violation_ids', 'watchlist_df', 'wire_day1', 'wire_debit_3d', 'wire_debit_total', 'xgb', 'y_dev', 'y_dev_pred', 'y_dev_prob', 'y_oot', 'y_oot_pred', 'y_oot_prob']

In [80]:
enriched_df.shape

(469887, 26)

In [81]:
# 6-month loock back feature table for each customer in 12/2023 
enriched_df[(enriched_df['tran_year']==2023) &(enriched_df['tran_month']==12) ]['Customer_ID'].nunique()

14426

In [82]:
# Transacted customer in 12/2023
senarios_triggered_df[(senarios_triggered_df['tran_year']==2023) 
                      &
                      (senarios_triggered_df['tran_month']==12) ]['Customer_ID'].nunique()

348

In [83]:
monthly_summary_count[(monthly_summary_count['tran_year']==2023) 
                      &(monthly_summary_count['tran_month']==12)]['Transacted_Customers_Count'].values

array([348])

In [84]:
senarios_triggered_df.head(1)

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,event_IDs
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,[RMF_10006034-2023-10]

In [85]:
customer_triggered_feature = senarios_triggered_df.merge(enriched_df,
                                                        on =['tran_year','tran_month','Customer_ID'] ,
                                                        how = 'left')

In [86]:
customer_triggered_feature.head()

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,...,Monthly_Credit_Tran_Amount_6_lookback_Sum,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,...,808833.60,5.0,5.0,5.0,2343878.89,5.0,0.959909,1.0,0.495324,1.0
1,10006034,2024,2,Individual_Medium_Medium_High,1,0,1,0,0,0,...,566138.16,3.0,3.0,3.0,252.28,3.0,0.000159,1.0,0.554258,1.0
2,10006034,2024,3,Individual_Medium_Medium_High,1,0,1,0,0,0,...,897074.22,4.0,4.0,4.0,1009.12,4.0,0.000448,1.0,0.662964,1.0
3,10006084,2024,7,Individual_High_Medium_High,1,0,0,0,0,1,...,992173.44,6.0,6.0,6.0,0.00,6.0,0.000000,1.0,0.125646,1.0
4,10048137,2023,5,Business_Low_Low_High,1,0,0,0,0,1,...,725760.73,1.0,1.0,1.0,0.00,1.0,0.000000,1.0,0.500000,1.0

In [87]:
# Transacted customer in 12/2023
customer_triggered_feature[(customer_triggered_feature['tran_year']==2023) 
                      &
                      (customer_triggered_feature['tran_month']==12) ]['Customer_ID'].nunique()

348

In [88]:
senarios_triggered_df.head(1)

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,event_IDs
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,[RMF_10006034-2023-10]

## Assing alerted flag

In [113]:
#customer_triggered_feature = customer_triggered_feature.drop('SAR_Flag', axis=1)

In [89]:
customer_triggered_feature.head()

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,...,Monthly_Credit_Tran_Amount_6_lookback_Sum,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,...,808833.60,5.0,5.0,5.0,2343878.89,5.0,0.959909,1.0,0.495324,1.0
1,10006034,2024,2,Individual_Medium_Medium_High,1,0,1,0,0,0,...,566138.16,3.0,3.0,3.0,252.28,3.0,0.000159,1.0,0.554258,1.0
2,10006034,2024,3,Individual_Medium_Medium_High,1,0,1,0,0,0,...,897074.22,4.0,4.0,4.0,1009.12,4.0,0.000448,1.0,0.662964,1.0
3,10006084,2024,7,Individual_High_Medium_High,1,0,0,0,0,1,...,992173.44,6.0,6.0,6.0,0.00,6.0,0.000000,1.0,0.125646,1.0
4,10048137,2023,5,Business_Low_Low_High,1,0,0,0,0,1,...,725760.73,1.0,1.0,1.0,0.00,1.0,0.000000,1.0,0.500000,1.0

In [90]:
# Select alert flag columns to add number of generate senario alerts
alert_flag_cols = [
    'Alert_Flag_RMF', 
    'Alert_Flag_Structuring', 
    'Alert_Flag_HRG', 
    'Alert_Flag_CIB_Avg', 
    'Alert_Flag_CIB_Peak', 
    'Alert_Flag_LRT'
]

# Compute sum of all alert flags grouped by year and month
# Sum the alert flags across all six alert columns, per (year, month)
customer_alert_flag_sum = (
    customer_triggered_feature.groupby(['Customer_ID','tran_year', 'tran_month'])[alert_flag_cols]
    .sum()
    .reset_index()
)

# Now compute total alerts across all flags
customer_triggered_feature['Alerts_count'] = customer_alert_flag_sum[alert_flag_cols].sum(axis=1)

In [91]:
customer_triggered_feature.head()

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,...,Monthly_Total_Tran_Amount_6_lookback_Count,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,Alerts_count
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,...,5.0,5.0,5.0,2343878.89,5.0,0.959909,1.0,0.495324,1.0,1.0
1,10006034,2024,2,Individual_Medium_Medium_High,1,0,1,0,0,0,...,3.0,3.0,3.0,252.28,3.0,0.000159,1.0,0.554258,1.0,2.0
2,10006034,2024,3,Individual_Medium_Medium_High,1,0,1,0,0,0,...,4.0,4.0,4.0,1009.12,4.0,0.000448,1.0,0.662964,1.0,2.0
3,10006084,2024,7,Individual_High_Medium_High,1,0,0,0,0,1,...,6.0,6.0,6.0,0.00,6.0,0.000000,1.0,0.125646,1.0,2.0
4,10048137,2023,5,Business_Low_Low_High,1,0,0,0,0,1,...,1.0,1.0,1.0,0.00,1.0,0.000000,1.0,0.500000,1.0,3.0

In [92]:
case_scores_with_l3.head(1)

,Customer_ID,Case_ID,total_score,alerts,case_count,risk_rating,Priority,tran_year,tran_month,L_3_flag,SAR_Flag
0,10015181,CASE_000001,5,1,1,Medium,Medium,2024,4,1,0

### Adding SAR FLAG and L3 From case_scores_with_l3 DataFrame

In [93]:
# Randomly selecting L3 and SAR was already done in case_scores_with_l3 dataframe I used the same result for consistency

In [94]:
customer_triggered_feature = customer_triggered_feature.merge(case_scores_with_l3[['Customer_ID','tran_year','tran_month','L_3_flag','SAR_Flag']],
                                      on = ['Customer_ID','tran_year','tran_month'],
                                      how = 'left'
                                     )
customer_triggered_feature[['L_3_flag', 'SAR_Flag']] = customer_triggered_feature[['L_3_flag', 'SAR_Flag']].fillna(0)
customer_triggered_feature.head()

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,...,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,Alerts_count,L_3_flag,SAR_Flag
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,...,5.0,2343878.89,5.0,0.959909,1.0,0.495324,1.0,1.0,0.0,0.0
1,10006034,2024,2,Individual_Medium_Medium_High,1,0,1,0,0,0,...,3.0,252.28,3.0,0.000159,1.0,0.554258,1.0,2.0,0.0,0.0
2,10006034,2024,3,Individual_Medium_Medium_High,1,0,1,0,0,0,...,4.0,1009.12,4.0,0.000448,1.0,0.662964,1.0,2.0,0.0,0.0
3,10006084,2024,7,Individual_High_Medium_High,1,0,0,0,0,1,...,6.0,0.00,6.0,0.000000,1.0,0.125646,1.0,2.0,0.0,0.0
4,10048137,2023,5,Business_Low_Low_High,1,0,0,0,0,1,...,1.0,0.00,1.0,0.000000,1.0,0.500000,1.0,3.0,0.0,0.0

In [95]:
customer_triggered_feature.shape

(14672, 37)

In [96]:
# creating alert flag for customers having 3 or more alerted senarios for each month
# customer_triggered_feature["alerted_flag"] = (customer_triggered_feature["Alerts_count"] >= 3).astype(int)

In [97]:
customer_triggered_feature.loc[customer_triggered_feature['L_3_flag'] == 'L3', 'L_3_flag'] = 1

customer_triggered_feature

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,...,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,Alerts_count,L_3_flag,SAR_Flag
0,10006034,2023,10,Individual_Medium_Medium_High,1,0,0,0,0,0,...,5.0,2343878.89,5.0,0.959909,1.0,0.495324,1.0,1.0,0.0,0.0
1,10006034,2024,2,Individual_Medium_Medium_High,1,0,1,0,0,0,...,3.0,252.28,3.0,0.000159,1.0,0.554258,1.0,2.0,0.0,0.0
2,10006034,2024,3,Individual_Medium_Medium_High,1,0,1,0,0,0,...,4.0,1009.12,4.0,0.000448,1.0,0.662964,1.0,2.0,0.0,0.0
3,10006084,2024,7,Individual_High_Medium_High,1,0,0,0,0,1,...,6.0,0.00,6.0,0.000000,1.0,0.125646,1.0,2.0,0.0,0.0
4,10048137,2023,5,Business_Low_Low_High,1,0,0,0,0,1,...,1.0,0.00,1.0,0.000000,1.0,0.500000,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14667,99834853,2023,12,Individual_Low_Low_High,1,0,0,1,1,1,...,4.0,0.00,4.0,0.000000,1.0,0.295112,1.0,1.0,0.0,0.0
14668,99841924,2023,8,Individual_Medium_High_High,1,0,0,0,0,0,...,3.0,0.00,3.0,0.000000,1.0,0.327836,1.0,NaN,0.0,0.0
14669,99895749,2025,1,Individual_Medium_Medium_High,1,0,0,0,0,0,...,6.0,0.00,6.0,0.000000,1.0,0.370477,1.0,NaN,0.0,0.0
14670,99918724,2025,3,Individual_Medium_High_High,1,0,0,0,0,1,...,6.0,0.00,6.0,0.000000,1.0,0.363741,1.0,NaN,0.0,0.0
14671,99919974,2023,5,Business_Medium_High_High,1,0,0,0,0,0,...,1.0,0.00,1.0,0.000000,1.0,1.000000,1.0,NaN,0.0,0.0

In [98]:
customer_triggered_feature.loc[customer_triggered_feature['L_3_flag'] == '-', 'L_3_flag'] = 0

In [99]:
customer_triggered_feature[customer_triggered_feature['L_3_flag']==1]

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,...,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,Alerts_count,L_3_flag,SAR_Flag
9,10119498,2024,6,Individual_High_Medium_High,1,1,0,1,1,1,...,6.0,0.00,6.0,0.000000,1.0,0.376414,1.0,1.0,1.0,0.0
18,10134663,2024,12,Individual_Medium_Medium_High,1,1,0,1,1,1,...,5.0,0.00,5.0,0.000000,1.0,0.139733,1.0,3.0,1.0,0.0
20,10162820,2024,10,Individual_Low_Medium_High,1,0,0,1,0,1,...,6.0,0.00,6.0,0.000000,1.0,0.240971,1.0,3.0,1.0,0.0
23,10204354,2025,4,Business_High_Medium_High,1,1,0,0,0,1,...,4.0,0.00,4.0,0.000000,1.0,0.462692,1.0,1.0,1.0,0.0
42,10327175,2024,7,Business_High_Medium_High,1,1,0,0,0,1,...,6.0,0.00,6.0,0.000000,1.0,0.332005,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14501,96708280,2024,3,Individual_Medium_Medium_High,1,0,0,1,1,1,...,4.0,0.00,4.0,0.000000,1.0,0.376900,1.0,3.0,1.0,0.0
14538,97557468,2024,7,Individual_Low_Medium_High,1,0,0,1,1,1,...,3.0,0.00,3.0,0.000000,1.0,0.541099,1.0,2.0,1.0,1.0
14592,9852863,2024,5,Business_High_Medium_High,1,1,0,0,0,1,...,3.0,0.00,3.0,0.000000,1.0,0.998127,1.0,2.0,1.0,0.0
14599,98614597,2024,10,Individual_Medium_High_High,1,1,0,0,0,1,...,6.0,119497.32,6.0,0.018885,1.0,0.819082,1.0,1.0,1.0,0.0
14607,98721677,2025,3,Individual_High_Medium_High,1,1,0,1,1,1,...,6.0,0.00,6.0,0.000000,1.0,0.488979,1.0,2.0,1.0,1.0

In [100]:
unique_months_years

    tran_month  tran_year   period
0           12       2023      Dev
1            1       2024      Dev
2            2       2024      Dev
3            3       2024      Dev
4            4       2024      Dev
5            5       2024      Dev
6            6       2024      Dev
7            7       2024      Dev
8            8       2024      Dev
9            9       2024      Dev
10          10       2024      Dev
11          11       2024      Dev
12          12       2024      OOT
13           1       2025      OOT
14           2       2025      OOT
15           3       2025  holdout
16           4       2025  holdout
17           5       2025  holdout

In [101]:
customer_triggered_feature=customer_triggered_feature.merge( unique_months_years,
                                      on = ['tran_year','tran_month'],
                                      how = 'left' )

In [102]:
customer_triggered_feature.columns

Index(['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_RMF',
       'Alert_Flag_Structuring', 'Alert_Flag_HRG', 'Alert_Flag_CIB_Avg',
       'Alert_Flag_CIB_Peak', 'Alert_Flag_LRT', 'event_IDs',
       'Monthly_Total_Tran_Amount', 'Monthly_Total_Tran_Count',
       'Monthly_HR_Tran_Amount', 'Monthly_HR_Tran_Count',
       'Monthly_Credit_Tran_Amount', 'Monthly_Credit_Tran_Count',
       'Monthly_Debit_Tran_Amount', 'Monthly_Debit_Tran_Count',
       'Beneficiary_ID_List', 'month_date',
       'Beneficiary_ID_List_6_lookback_UniqueCount',
       'Monthly_Total_Tran_Amount_6_lookback_Sum',
       'Monthly_Debit_Tran_Amount_6_lookback_Sum',
       'Monthly_Credit_Tran_Amount_6_lookback_Sum',
       'Monthly_Total_Tran_Amount_6_lookback_Count',
       'Monthly_Debit_Tran_Amount_6_lookback_Count',
       'Monthly_Credit_Tran_Amount_6_lookback_Count',
       'Monthly_HR_Tran_Amount_6_lookback_Sum',
       'Monthly_HR_Tran_Count_6_lookback_Count', '%_6M_HRG_Tran_Amoun',
       '%_6M_HRG_Tran_Count', 'Credit_to_Debit_Amount_Ratio_6M',
       'Credit_to_Debit_Count_Ratio_6M', 'Alerts_count', 'L_3_flag',
       'SAR_Flag', 'period'],
      dtype='object')

In [103]:
case_scores_with_l3['L_3_flag'] = case_scores_with_l3['L_3_flag'].replace({'L3': 1, '-': 0})

In [104]:
set(case_scores_with_l3['L_3_flag'].values)

{0, 1}

In [105]:
case_scores_with_l3[[ 'tran_year', 'tran_month', 'L_3_flag','SAR_Flag']].groupby(['tran_year', 'tran_month']).agg('sum')

                      L_3_flag  SAR_Flag
tran_year tran_month
2023      5                  1         0
          6                  6         0
          7                  9         1
          8                 11         0
          9                 10         3
          10                10         0
          11                 8         1
          12                11         2
2024      1                 11         1
          2                 16         0
          3                 15         0
          4                 24         1
          5                 38         2
          6                 27         5
          7                 25         4
          8                 23         2
          9                 24         2
          10                30         4
          11                27         3
          12                25         3
2025      1                 29         1
          2                 16         2
          3                 18         4
          4                 17         0
          5                  7         1

In [106]:
customer_triggered_feature[['tran_year', 'tran_month','Customer_ID']].groupby(['tran_year', 'tran_month']).agg('count')

                      Customer_ID
tran_year tran_month
2023      5                   271
          6                   353
          7                   349
          8                   346
          9                   336
          10                  349
          11                  335
          12                  348
2024      1                   357
          2                   589
          3                   831
          4                   947
          5                   918
          6                   895
          7                   870
          8                   878
          9                   916
          10                  952
          11                  905
          12                  924
2025      1                   924
          2                   296
          3                   367
          4                   324
          5                    92

In [107]:
# Define features (exclude IDs, dates, target column)
drop_cols = [
    'Customer_ID', 'tran_month', 'tran_year', 'month_date','Segment',	'Alert_Flag_RMF',	
    'Alert_Flag_Structuring',	'Alert_Flag_HRG',	'Alert_Flag_CIB_Avg',	'Alert_Flag_CIB_Peak',	'Alert_Flag_LRT',
    'event_IDs','SAR_Flag','L_3_flag',
    'Beneficiary_ID_List', 'month_date', 'alerted_flag' , #'period' # L_3_flag is the target col
]

df_dev = customer_triggered_feature[customer_triggered_feature['period'] == 'Dev']
# Ensure only numeric columns are used as features
X_dev = df_dev.drop(columns=drop_cols, errors='ignore').select_dtypes(include='number').fillna(0).replace([np.inf, -np.inf], 0).astype(int)
y_dev = df_dev['L_3_flag'].astype(int)

df_oot = customer_triggered_feature[customer_triggered_feature['period'] == 'OOT']
X_oot = df_oot.drop(columns=drop_cols, errors='ignore').select_dtypes(include='number').fillna(0).replace([np.inf, -np.inf], 0).astype(int) # Ensure same features in X_dev is in the OOT
y_oot = df_oot['L_3_flag'].astype(int)

In [108]:
set(y_dev) # check unique values in y_dev

{0, 1}

In [109]:
#!pip install xgboost
from xgboost import XGBClassifier

xgb = XGBClassifier(scale_pos_weight=(len(y_dev) / sum(y_dev)), use_label_encoder=False, eval_metric='logloss')
xgb.fit(X_dev, y_dev)
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

# --- DEV set evaluation ---
y_dev_pred = xgb.predict(X_dev)
y_dev_prob = xgb.predict_proba(X_dev)[:, 1]

print("🔍 DEV Classification Report:")
print(classification_report(y_dev, y_dev_pred, zero_division=0))

print("📊 DEV Confusion Matrix:")
print(confusion_matrix(y_dev, y_dev_pred))

print("🎯 DEV ROC-AUC Score:", roc_auc_score(y_dev, y_dev_prob))


# --- OOT set evaluation ---
y_oot_pred = xgb.predict(X_oot)
y_oot_prob = xgb.predict_proba(X_oot)[:, 1]#compute metrics like AUC-ROC, precision-recall curve, or calibrate thresholds.

print("\n🔍 OOT Classification Report:")
print(classification_report(y_oot, y_oot_pred, zero_division=0))

print("📊 OOT Confusion Matrix:")
print(confusion_matrix(y_oot, y_oot_pred))

print("🎯 OOT ROC-AUC Score:", roc_auc_score(y_oot, y_oot_prob))

C:\Users\sajad\anaconda3\envs\Quant\lib\site-packages\xgboost\core.py:158: UserWarning: [11:17:16] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-08cbc0333d8d4aae1-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

🔍 DEV Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.99      1.00      9135
           1       0.85      1.00      0.92       271

    accuracy                           0.99      9406
   macro avg       0.92      1.00      0.96      9406
weighted avg       1.00      0.99      1.00      9406

📊 DEV Confusion Matrix:
[[9087   48]
 [   0  271]]
🎯 DEV ROC-AUC Score: 0.9999260780785149

🔍 OOT Classification Report:
              precision    recall  f1-score   support

           0       0.97      0.98      0.98      2074
           1       0.03      0.01      0.02        70

    accuracy                           0.95      2144
   macro avg       0.50      0.50      0.50      2144
weighted avg       0.94      0.95      0.94      2144

📊 OOT Confusion Matrix:
[[2042   32]
 [  69    1]]
🎯 OOT ROC-AUC Score: 0.6549765807962529

In [110]:
y_oot_pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
'''
OOT Classification Report:

    True Negatives (TN) = 2032   
    → The model correctly predicted 9055 negative cases.

    False Positives (FP) = 42
    → The model  predicted 42 new positive class.

    False Negatives (FN) = 68    
    → The model predicted 68 new negative classes compare too our intitial rule based model.

    True Positives (TP) =  2
    → The model correctly predicted  2 positive cases.
    
    Metrics:
            Accuracy = (TP + TN) / Total
            = (271 + 9055) / (9055 + 80 + 0 + 271)
            = 9326 / 9406 ≈ 99.15%

            Precision (Positive Predictive Value) = TP / (TP + FP)
            = 271 / (271 + 80) ≈ 77.18%

            Recall (Sensitivity or True Positive Rate) = TP / (TP + FN)
            = 271 / (271 + 0) = 100%

            F1 Score = 2 × (Precision × Recall) / (Precision + Recall)
            ≈ 2 × (0.7718 × 1) / (0.7718 + 1) ≈ 87.09%


    '''

## Feature Importance

In [111]:
import pandas as pd
feature_importance = pd.Series(xgb.feature_importances_, index=X_dev.columns)
print(feature_importance.sort_values(ascending=False).head(len(X_dev.columns)))

Monthly_Credit_Tran_Amount                     0.161055
Monthly_HR_Tran_Count                          0.108506
Monthly_Total_Tran_Amount_6_lookback_Sum       0.078165
Monthly_Debit_Tran_Amount_6_lookback_Sum       0.076863
Monthly_Credit_Tran_Amount_6_lookback_Sum      0.068325
Monthly_HR_Tran_Amount_6_lookback_Sum          0.066680
Monthly_Total_Tran_Count                       0.066368
Monthly_Total_Tran_Amount                      0.064204
Monthly_Debit_Tran_Count                       0.060772
Monthly_Debit_Tran_Amount                      0.055326
Monthly_Credit_Tran_Count                      0.054027
Alerts_count                                   0.045766
Monthly_Total_Tran_Amount_6_lookback_Count     0.045530
Monthly_HR_Tran_Amount                         0.033524
Credit_to_Debit_Amount_Ratio_6M                0.014891
Beneficiary_ID_List_6_lookback_UniqueCount     0.000000
Monthly_Debit_Tran_Amount_6_lookback_Count     0.000000
Monthly_Credit_Tran_Amount_6_lookback_Count    0.000000
Monthly_HR_Tran_Count_6_lookback_Count         0.000000
%_6M_HRG_Tran_Amoun                            0.000000
%_6M_HRG_Tran_Count                            0.000000
Credit_to_Debit_Count_Ratio_6M                 0.000000
dtype: float32

In [112]:
len(X_oot)

2144

In [113]:
len(y_oot_pred)

2144

In [ ]:
ML_triggered = X_oot.loc[].copy()

In [115]:
new_flagged_case = X_oot.copy()
new_flagged_case['ML_flag'] = y_oot_pred
new_flagged_case

,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List_6_lookback_UniqueCount,Monthly_Total_Tran_Amount_6_lookback_Sum,...,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,Alerts_count,ML_flag
5,138051,49,0,0,3371,6,134680,43,0,42985430,...,6,6,0,6,0,1,0,1,1,0
13,2845455,6,0,0,938567,1,1906887,5,0,7555715,...,6,6,0,6,0,1,0,1,2,0
18,8513549,22,0,0,2837655,7,5675893,15,0,30941195,...,5,5,0,5,0,1,0,1,3,0
19,8511220,18,0,0,2837073,6,5674146,12,0,39452416,...,6,6,0,6,0,1,0,1,1,0
38,12124312,108,0,0,148003,16,11976309,92,0,205367947,...,6,6,0,6,0,1,0,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14633,44174,12,0,0,14724,4,29449,8,0,26052545,...,6,6,0,6,0,1,0,1,3,0
14653,8899866,84,0,0,89856,24,8810010,60,0,33414579,...,6,6,0,6,0,1,0,1,1,0
14657,6884721,66,0,0,2986420,12,3898301,54,0,80311026,...,6,6,0,6,0,1,0,1,2,0
14666,19931,2,0,0,9965,1,9965,1,0,360307,...,6,6,0,6,0,1,0,1,2,0
14669,1055573,6,0,0,527786,3,527786,3,0,10609899,...,6,6,0,6,0,1,0,1,0,0

In [156]:
ML_triggered_cases.columns

Index(['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_RMF',
       'Alert_Flag_Structuring', 'Alert_Flag_HRG', 'Alert_Flag_CIB_Avg',
       'Alert_Flag_CIB_Peak', 'Alert_Flag_LRT', 'event_IDs',
       'Monthly_Total_Tran_Amount', 'Monthly_Total_Tran_Count',
       'Monthly_HR_Tran_Amount', 'Monthly_HR_Tran_Count',
       'Monthly_Credit_Tran_Amount', 'Monthly_Credit_Tran_Count',
       'Monthly_Debit_Tran_Amount', 'Monthly_Debit_Tran_Count',
       'Beneficiary_ID_List', 'month_date',
       'Beneficiary_ID_List_6_lookback_UniqueCount',
       'Monthly_Total_Tran_Amount_6_lookback_Sum',
       'Monthly_Debit_Tran_Amount_6_lookback_Sum',
       'Monthly_Credit_Tran_Amount_6_lookback_Sum',
       'Monthly_Total_Tran_Amount_6_lookback_Count',
       'Monthly_Debit_Tran_Amount_6_lookback_Count',
       'Monthly_Credit_Tran_Amount_6_lookback_Count',
       'Monthly_HR_Tran_Amount_6_lookback_Sum',
       'Monthly_HR_Tran_Count_6_lookback_Count', '%_6M_HRG_Tran_Amoun',
       '%_6M_HRG_Tran_Count', 'Credit_to_Debit_Amount_Ratio_6M',
       'Credit_to_Debit_Count_Ratio_6M', 'Alerts_count', 'L_3_flag',
       'SAR_Flag', 'period'],
      dtype='object')

In [160]:
import numpy as np

# Get indices where predicted flag is 1
indices = new_flagged_case[new_flagged_case['ML_flag'] == 1].index

ML_triggered_cases = df_oot.loc[indices]
ML_triggered_cases.drop([ 'Segment', 'Alert_Flag_RMF',
       'Alert_Flag_Structuring', 'Alert_Flag_HRG', 'Alert_Flag_CIB_Avg',
       'Alert_Flag_CIB_Peak', 'Alert_Flag_LRT', 'event_IDs',
       'Monthly_Total_Tran_Amount', 'Monthly_Total_Tran_Count',
       'Monthly_HR_Tran_Amount', 'Monthly_HR_Tran_Count',
       'Monthly_Credit_Tran_Amount', 'Monthly_Credit_Tran_Count',
       'Monthly_Debit_Tran_Amount', 'Monthly_Debit_Tran_Count',
       'Beneficiary_ID_List', 'month_date',
       'Beneficiary_ID_List_6_lookback_UniqueCount',
       'Monthly_Total_Tran_Amount_6_lookback_Sum',
       'Monthly_Debit_Tran_Amount_6_lookback_Sum',
       'Monthly_Credit_Tran_Amount_6_lookback_Sum',
       'Monthly_Total_Tran_Amount_6_lookback_Count',
       'Monthly_Debit_Tran_Amount_6_lookback_Count',
       'Monthly_Credit_Tran_Amount_6_lookback_Count',
       'Monthly_HR_Tran_Amount_6_lookback_Sum',
       'Monthly_HR_Tran_Count_6_lookback_Count', '%_6M_HRG_Tran_Amoun',
       '%_6M_HRG_Tran_Count', 'Credit_to_Debit_Amount_Ratio_6M',
       'Credit_to_Debit_Count_Ratio_6M', 'Alerts_count', 'period'],axis=1, inplace=True)
ML_triggered_cases

      Customer_ID  tran_year  tran_month  L_3_flag  SAR_Flag
1283     21766029       2025           1       0.0       0.0
1502     23450102       2024          12       0.0       0.0
1542      2373820       2025           1       0.0       0.0
1686     24883259       2024          12       0.0       0.0
2115     28687943       2025           1       0.0       0.0
2377     31053503       2025           1       0.0       0.0
2926     35846000       2024          12       0.0       0.0
3121     38214553       2025           1       0.0       0.0
3391     40582913       2025           1       0.0       0.0
4059     45802213       2024          12       0.0       0.0
4105     46255685       2025           1       0.0       0.0
4159     46736495       2025           1       0.0       0.0
4581     49989629       2025           1       0.0       0.0
5588     58101066       2024          12       0.0       0.0
6998     70872620       2025           1       0.0       0.0
7038     71173788       2024          12       0.0       0.0
7092     71733627       2024          12       0.0       0.0
7200     72710456       2025           1       1.0       0.0
7768     78304447       2024          12       0.0       0.0
8370     84206557       2024          12       0.0       0.0
8672     86871935       2024          12       0.0       0.0
8999      8946734       2025           1       0.0       0.0
9383     92728117       2025           1       0.0       0.0
9570     94213444       2024          12       0.0       0.0
9843     97110860       2024          12       0.0       0.0
10509     1778276       2024          12       0.0       0.0
10601    19651386       2025           1       0.0       0.0
11054    28399404       2024          12       0.0       0.0
11354    34213740       2024          12       0.0       0.0
12550    57646287       2024          12       0.0       0.0
12608    58836571       2025           1       0.0       0.0
12734    61108400       2025           1       0.0       0.0
13561    78042295       2024          12       0.0       0.0

In [116]:
new_flagged_case[new_flagged_case['ML_flag']==1]

,Monthly_Total_Tran_Amount,Monthly_Total_Tran_Count,Monthly_HR_Tran_Amount,Monthly_HR_Tran_Count,Monthly_Credit_Tran_Amount,Monthly_Credit_Tran_Count,Monthly_Debit_Tran_Amount,Monthly_Debit_Tran_Count,Beneficiary_ID_List_6_lookback_UniqueCount,Monthly_Total_Tran_Amount_6_lookback_Sum,...,Monthly_Debit_Tran_Amount_6_lookback_Count,Monthly_Credit_Tran_Amount_6_lookback_Count,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,Alerts_count,ML_flag
1283,37964653,112,0,0,6552765,28,31411887,84,0,40970937,...,6,6,0,6,0,1,0,1,4,1
1502,11005892,52,0,0,3387884,12,7618007,40,0,71427171,...,6,6,0,6,0,1,0,1,1,1
1542,5512923,14,0,0,1832709,4,3680214,10,0,9202269,...,6,6,0,6,0,1,0,1,2,1
1686,3108190,18,0,0,1511571,3,1596618,15,0,7433186,...,6,6,0,6,0,1,0,1,1,1
2115,11400340,21,0,0,2076115,3,9324224,18,0,15240000,...,6,6,0,6,0,1,0,1,1,1
2377,10653053,12,0,0,2663263,3,7989790,9,0,20011473,...,6,6,0,6,0,1,0,1,1,1
2926,10554729,12,0,0,2638682,3,7916046,9,0,23535989,...,5,5,0,5,0,1,0,1,3,1
3121,15000445,48,0,0,1903215,9,13097229,39,0,21959674,...,6,6,0,6,0,1,0,1,5,1
3391,4653677,29,0,0,1547285,3,3106392,26,0,6238335,...,6,6,0,6,0,1,0,1,2,1
4059,10812244,21,0,0,2703378,4,8108865,17,0,15205753,...,6,6,0,6,0,1,0,1,2,1
4105,14074154,21,0,0,3119074,4,10955080,17,0,23389521,...,6,6,0,6,0,1,0,1,2,1
4159,20410915,44,0,0,3272720,7,17138195,37,0,68376112,...,6,6,0,6,0,1,0,1,1,1
4581,11899565,18,0,0,2989799,6,8909766,12,0,17669337,...,6,6,0,6,0,1,0,1,1,1
5588,6035057,22,0,0,1998017,3,4037040,19,0,8050693,...,4,4,0,4,0,1,0,1,2,1
6998,15366869,33,0,0,1924629,6,13442239,27,0,20711945,...,6,6,0,6,0,1,0,1,2,1
7038,11298723,21,0,0,2824871,6,8473851,15,0,15752288,...,4,4,0,4,0,1,0,1,1,1
7092,8550761,21,0,0,2729577,4,5821184,17,0,11882194,...,5,5,0,5,0,1,0,1,2,1
7200,8292943,25,0,0,3349360,6,4943583,19,0,14532958,...,6,6,0,6,0,1,0,1,2,1
7768,10792384,12,0,0,2698096,3,8094288,9,0,16323794,...,6,6,0,6,0,1,0,1,2,1
8370,6266855,22,0,0,1979281,3,4287574,19,0,9140307,...,6,6,0,6,0,1,0,1,3,1
8672,15396901,34,0,0,2315436,7,13081464,27,0,32276362,...,6,6,0,6,0,1,0,1,2,1
8999,10537826,12,0,0,2634456,3,7903369,9,0,19449614,...,6,6,0,6,0,1,0,1,3,1
9383,8435877,21,0,0,2809968,3,5625909,18,0,11278506,...,5,5,0,5,0,1,0,1,1,1
9570,11009303,27,0,0,2752041,6,8257262,21,0,16323313,...,6,6,0,6,0,1,0,1,3,1
9843,8974622,33,0,0,2241972,6,6732649,27,0,11980126,...,3,3,0,3,0,1,0,1,4,1
10509,10606002,25,0,0,989914,3,9616087,22,0,28292250,...,5,5,0,5,0,1,0,1,2,1
10601,9567282,23,0,0,2791803,6,6775478,17,0,12772463,...,5,5,0,5,0,1,0,1,2,1
11054,8893913,33,0,0,2964332,9,5929580,24,0,11899263,...,6,6,0,6,0,1,0,1,3,1
11354,29970050,69,0,0,4756971,12,25213078,57,0,96308540,...,6,6,0,6,0,1,0,1,2,1
12550,15697534,50,0,0,3068513,7,12629020,43,0,40746365,...,6,6,0,6,0,1,0,1,5,1
12608,10911302,28,0,0,2952859,7,7958442,21,0,21863193,...,4,4,0,4,0,1,0,1,1,1
12734,7136754,43,577725,7,33070,9,7103683,34,0,9973105,...,6,6,756653,6,0,1,0,1,4,1
13561,31173337,107,0,0,6468791,26,24704546,81,0,76618602,...,6,6,0,6,0,1,0,1,2,1

In [121]:
len(new_flagged_case[new_flagged_case['ML_flag']==1])

33

In [123]:
case_table.head(1)

,Customer_ID,tran_year,tran_month,event_IDs,Total_Risk_Score,Alert_id,Case_ID
0,10015181,2024,4,"['RMF_10015181-2024-4', 'CIB_Peak_10015181-202...",45,04_2024_10015181_62,CASE_000001

In [124]:
df_oot.head(1)

,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,...,Monthly_HR_Tran_Amount_6_lookback_Sum,Monthly_HR_Tran_Count_6_lookback_Count,%_6M_HRG_Tran_Amoun,%_6M_HRG_Tran_Count,Credit_to_Debit_Amount_Ratio_6M,Credit_to_Debit_Count_Ratio_6M,Alerts_count,L_3_flag,SAR_Flag,period
5,1005487,2025,1,Individual_Medium_High_High,1,0,0,0,0,0,...,0.0,6.0,0.0,1.0,0.106648,1.0,1.0,0.0,0.0,OOT

In [126]:
ML_case_table.columns

Index(['Customer_ID', 'tran_year', 'tran_month', 'Segment', 'Alert_Flag_RMF',
       'Alert_Flag_Structuring', 'Alert_Flag_HRG', 'Alert_Flag_CIB_Avg',
       'Alert_Flag_CIB_Peak', 'Alert_Flag_LRT', 'event_IDs',
       'Monthly_Total_Tran_Amount', 'Monthly_Total_Tran_Count',
       'Monthly_HR_Tran_Amount', 'Monthly_HR_Tran_Count',
       'Monthly_Credit_Tran_Amount', 'Monthly_Credit_Tran_Count',
       'Monthly_Debit_Tran_Amount', 'Monthly_Debit_Tran_Count',
       'Beneficiary_ID_List', 'month_date',
       'Beneficiary_ID_List_6_lookback_UniqueCount',
       'Monthly_Total_Tran_Amount_6_lookback_Sum',
       'Monthly_Debit_Tran_Amount_6_lookback_Sum',
       'Monthly_Credit_Tran_Amount_6_lookback_Sum',
       'Monthly_Total_Tran_Amount_6_lookback_Count',
       'Monthly_Debit_Tran_Amount_6_lookback_Count',
       'Monthly_Credit_Tran_Amount_6_lookback_Count',
       'Monthly_HR_Tran_Amount_6_lookback_Sum',
       'Monthly_HR_Tran_Count_6_lookback_Count', '%_6M_HRG_Tran_Amoun',
       '%_6M_HRG_Tran_Count', 'Credit_to_Debit_Amount_Ratio_6M',
       'Credit_to_Debit_Count_Ratio_6M', 'Alerts_count', 'L_3_flag',
       'SAR_Flag', 'period'],
      dtype='object')

In [144]:
# Step 1: Get the indices where ML_flag == 1
indices = new_flagged_case[new_flagged_case['ML_flag'] == 1].index

# Step 2: Use these indices to extract records from df_oot
ML_case_table = df_oot.loc[indices]
cols_drop=['Monthly_Total_Tran_Amount', 'Monthly_Total_Tran_Count',
       'Monthly_HR_Tran_Amount', 'Monthly_HR_Tran_Count',
       'Monthly_Credit_Tran_Amount', 'Monthly_Credit_Tran_Count',
       'Monthly_Debit_Tran_Amount', 'Monthly_Debit_Tran_Count',
       'Beneficiary_ID_List', 'month_date',
       'Beneficiary_ID_List_6_lookback_UniqueCount',
       'Monthly_Total_Tran_Amount_6_lookback_Sum',
       'Monthly_Debit_Tran_Amount_6_lookback_Sum',
       'Monthly_Credit_Tran_Amount_6_lookback_Sum',
       'Monthly_Total_Tran_Amount_6_lookback_Count',
       'Monthly_Debit_Tran_Amount_6_lookback_Count',
       'Monthly_Credit_Tran_Amount_6_lookback_Count',
       'Monthly_HR_Tran_Amount_6_lookback_Sum',
       'Monthly_HR_Tran_Count_6_lookback_Count', '%_6M_HRG_Tran_Amoun',
       '%_6M_HRG_Tran_Count', 'Credit_to_Debit_Amount_Ratio_6M',
       'Credit_to_Debit_Count_Ratio_6M','L_3_flag',
       'SAR_Flag', 'period']
ML_case_table  = ML_case_table.drop(cols_drop, axis=1)
# Generate a unique case_ID for each row in ML_case_table
ML_case_table.insert(0, 'Case_ID', ['ML_CASE_{:06d}'.format(i) for i in range(1, len(ML_case_table) + 1)])

ML_case_table

,Case_ID,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,event_IDs,Alerts_count
1283,ML_CASE_000001,21766029,2025,1,Individual_Medium_High_High,1,1,0,1,0,1,"[RMF_21766029-2025-1, Structuring_21766029-202...",4.0
1502,ML_CASE_000002,23450102,2024,12,Individual_Low_High_High,1,1,0,0,0,0,"[RMF_23450102-2024-12, Structuring_23450102-20...",1.0
1542,ML_CASE_000003,2373820,2025,1,Business_High_Medium_High,1,1,0,1,0,1,"[RMF_2373820-2025-1, Structuring_2373820-2025-...",2.0
1686,ML_CASE_000004,24883259,2024,12,Individual_High_Medium_High,1,1,0,0,0,1,"[RMF_24883259-2024-12, Structuring_24883259-20...",1.0
2115,ML_CASE_000005,28687943,2025,1,Business_Low_Medium_High,1,0,0,0,0,1,"[RMF_28687943-2025-1, LRT_28687943-2025-1]",1.0
2377,ML_CASE_000006,31053503,2025,1,Individual_Low_Medium_High,1,1,0,0,0,1,"[RMF_31053503-2025-1, Structuring_31053503-202...",1.0
2926,ML_CASE_000007,35846000,2024,12,Business_Low_Medium_High,1,1,0,1,1,1,"[RMF_35846000-2024-12, Structuring_35846000-20...",3.0
3121,ML_CASE_000008,38214553,2025,1,Individual_Low_Medium_High,1,0,0,0,0,1,"[RMF_38214553-2025-1, LRT_38214553-2025-1]",5.0
3391,ML_CASE_000009,40582913,2025,1,Individual_High_Medium_High,1,1,0,0,0,1,"[RMF_40582913-2025-1, Structuring_40582913-202...",2.0
4059,ML_CASE_000010,45802213,2024,12,Individual_Low_Medium_High,1,0,0,0,0,1,"[RMF_45802213-2024-12, RMF_45802213-2024-12, L...",2.0
4105,ML_CASE_000011,46255685,2025,1,Individual_Low_Medium_High,1,1,0,1,1,1,"[RMF_46255685-2025-1, Structuring_46255685-202...",2.0
4159,ML_CASE_000012,46736495,2025,1,Individual_Medium_High_High,1,1,0,0,0,1,"[RMF_46736495-2025-1, Structuring_46736495-202...",1.0
4581,ML_CASE_000013,49989629,2025,1,Individual_Low_Medium_High,1,1,0,1,1,1,"[RMF_49989629-2025-1, Structuring_49989629-202...",1.0
5588,ML_CASE_000014,58101066,2024,12,Individual_Medium_Medium_High,1,1,0,0,0,1,"[RMF_58101066-2024-12, Structuring_58101066-20...",2.0
6998,ML_CASE_000015,70872620,2025,1,Business_Low_Medium_High,1,0,0,0,0,1,"[RMF_70872620-2025-1, LRT_70872620-2025-1]",2.0
7038,ML_CASE_000016,71173788,2024,12,Individual_Low_Medium_High,1,1,0,0,0,1,"[RMF_71173788-2024-12, Structuring_71173788-20...",1.0
7092,ML_CASE_000017,71733627,2024,12,Individual_Low_Medium_High,1,1,0,0,0,1,"[RMF_71733627-2024-12, Structuring_71733627-20...",2.0
7200,ML_CASE_000018,72710456,2025,1,Business_High_Medium_High,1,1,0,1,1,1,"[RMF_72710456-2025-1, Structuring_72710456-202...",2.0
7768,ML_CASE_000019,78304447,2024,12,Individual_Low_Medium_High,1,1,0,0,0,1,"[RMF_78304447-2024-12, Structuring_78304447-20...",2.0
8370,ML_CASE_000020,84206557,2024,12,Individual_Low_Medium_High,1,0,0,1,0,1,"[RMF_84206557-2024-12, CIB_avg_84206557-2024-1...",3.0
8672,ML_CASE_000021,86871935,2024,12,Business_Medium_Medium_High,1,1,0,0,0,1,"[RMF_86871935-2024-12, Structuring_86871935-20...",2.0
8999,ML_CASE_000022,8946734,2025,1,Individual_Low_Low_High,1,1,0,1,1,1,"[RMF_8946734-2025-1, Structuring_8946734-2025-...",3.0
9383,ML_CASE_000023,92728117,2025,1,Individual_Low_Medium_High,1,1,0,0,0,1,"[RMF_92728117-2025-1, Structuring_92728117-202...",1.0
9570,ML_CASE_000024,94213444,2024,12,Individual_High_Medium_High,1,1,0,1,1,1,"[RMF_94213444-2024-12, Structuring_94213444-20...",3.0
9843,ML_CASE_000025,97110860,2024,12,Individual_Low_Medium_High,1,1,0,0,0,1,"[RMF_97110860-2024-12, Structuring_97110860-20...",4.0
10509,ML_CASE_000026,1778276,2024,12,Individual_High_Medium_High,1,0,0,1,0,1,"[RMF_1778276-2024-12, CIB_avg_1778276-2024-12-...",2.0
10601,ML_CASE_000027,19651386,2025,1,Individual_Medium_Medium_High,1,0,0,1,1,1,"[RMF_19651386-2025-1, CIB_Peak_19651386-2025-0...",2.0
11054,ML_CASE_000028,28399404,2024,12,Individual_Low_Medium_High,1,0,0,0,0,1,"[RMF_28399404-2024-12, LRT_28399404-2024-12, L...",3.0
11354,ML_CASE_000029,34213740,2024,12,Individual_Low_High_High,1,0,0,0,0,1,"[RMF_34213740-2024-12, LRT_34213740-2024-12, L...",2.0
12550,ML_CASE_000030,57646287,2024,12,Individual_Medium_Medium_High,1,0,0,1,1,1,"[RMF_57646287-2024-12, CIB_Peak_57646287-2024-...",5.0
12608,ML_CASE_000031,58836571,2025,1,Individual_Low_Medium_High,1,0,0,0,0,1,"[RMF_58836571-2025-1, LRT_58836571-2025-1, LRT...",1.0
12734,ML_CASE_000032,61108400,2025,1,Individual_Low_Medium_High,1,0,1,0,0,0,"[RMF_61108400-2025-1, HRG_61108400-2025-January]",4.0
13561,ML_CASE_000033,78042295,2024,12,Business_Medium_High_High,1,0,0,0,0,1,"[RMF_78042295-2024-12, LRT_78042295-2024-12]",2.0

In [130]:
customer_df.head(1)

,Customer_ID,Customer_Name,Date_of_Birth,Gender,Address,Nationality,Phone_Number,Email,Customer_Type,Risk_Rating,Occupation,Salary,business_registered_country,business_registered_address,PEP_Flag
0,43423488,Bruce Roberts,1939-06-20,Male,"852 Kline Shore\nJustinville, PA 98177",Liberia,6850352171,jensenlinda@example.net,Individual,Medium,Pharmacist,155846,,,Yes

In [131]:
watchlist_df.head(1)

,Entity_Name,Entity_Type,Entity_Country,Entity_Sanctioning_body,Entity_List_Type,Entity_Date_Added,Entity_PEP_Flag
0,Bruce Roberts,Individual,India,FATF,PEP,2025-01-07,Yes

In [134]:
# #Identify unhashable columns
# unhashable_cols = [col for col in df_ML.columns if df_ML[col].apply(lambda x: isinstance(x, (np.ndarray, list, dict))).any()]
# print("Unhashable columns:", unhashable_cols)

Unhashable columns: ['event_IDs']

In [145]:
# Merge the two DataFrames on different column names   watchlist_df
df_ML_customer = pd.merge(ML_case_table, customer_df, left_on='Customer_ID', right_on='Customer_ID', how='left')
df_ML =  pd.merge(df_ML_customer, watchlist_df, left_on='Customer_Name', right_on='Entity_Name', how='left')
# df is the complete  customer_case_table case_table+customer_df+watchlist_df
df_ML=df_ML.drop(['Entity_Date_Added','Entity_List_Type','Entity_Sanctioning_body','Entity_Country','Entity_Type','event_IDs','Salary','business_registered_country','Occupation','Customer_Type','Email','Phone_Number','Nationality', 'Date_of_Birth', 'Gender', 'Address','Entity_Name','business_registered_address'], axis=1)
df_ML=df_ML.drop_duplicates()
# df is used for case priority table
df_ML.head()

,Case_ID,Customer_ID,tran_year,tran_month,Segment,Alert_Flag_RMF,Alert_Flag_Structuring,Alert_Flag_HRG,Alert_Flag_CIB_Avg,Alert_Flag_CIB_Peak,Alert_Flag_LRT,Alerts_count,Customer_Name,Risk_Rating,PEP_Flag,Entity_PEP_Flag
0,ML_CASE_000001,21766029,2025,1,Individual_Medium_High_High,1,1,0,1,0,1,4.0,Brandon Zuniga,Medium,Yes,No
1,ML_CASE_000002,23450102,2024,12,Individual_Low_High_High,1,1,0,0,0,0,1.0,James Perez,Low,Yes,Yes
2,ML_CASE_000002,23450102,2024,12,Individual_Low_High_High,1,1,0,0,0,0,1.0,James Perez,Low,Yes,No
5,ML_CASE_000003,2373820,2025,1,Business_High_Medium_High,1,1,0,1,0,1,2.0,Jessica Ferrell,High,Yes,No
7,ML_CASE_000004,24883259,2024,12,Individual_High_Medium_High,1,1,0,0,0,1,1.0,Jacob Reeves,High,No,No

In [149]:
# --- Step 1: Define scoring logic ---
def score_risk(row):
    score = 0

    # Risk Rating
    if row['Risk_Rating'] == 'High':
        score += 3
    elif row['Risk_Rating'] == 'Medium':
        score += 2
    elif row['Risk_Rating'] == 'Low':
        score += 1

    # PEP flag
    if row['PEP_Flag'] == 'Yes' or row['Entity_PEP_Flag'] == 'Yes':
        score += 2
    # Total Alert Total_alert count
    
    if row['Alerts_count'] >= 3:
        score += 3
    elif row['Alerts_count'] == 2:
        score += 2
    elif row['Alerts_count'] == 1:
        score += 1

    # Sanction body weight
    '''
    if row['Entity_Sanctioning_body'] == 'OFAC':
        score += 3
    elif row['Entity_Sanctioning_body'] == 'FATF':
        score += 2
    elif row['Entity_Sanctioning_body'] == 'EU':
        score += 1
    elif row['Entity_Sanctioning_body'] == 'UN':
        score += 2
    

    # List type weight
    if row['Entity_List_Type'] in ['Terrorist', 'Arms Dealing']:
        score += 3
    elif row['Entity_List_Type'] in ['Money Laundering', 'Fraud']:
        score += 2
    elif row['Entity_List_Type'] == 'PEP':
        score += 1
    '''
    return score

# --- Step 2: Apply scoring to each row ---
df_ML['row_score'] = df_ML.apply(score_risk, axis=1)

# --- Step 3: Aggregate to Case_ID level ---
ML_case_scores = df_ML.groupby(['Customer_ID','Case_ID']).agg(
    total_score=('row_score', 'sum')
#     ,
#     alerts=('Alert_id', 'nunique'),#Counts unique Alert_ids per case.
#     case_count = ('Case_ID','count'), #Counts total rows in each (Customer_ID, Case_ID) group.
  
#     risk_rating=('Risk_Rating', 'first')  # Optional
).reset_index()

# --- Step 4: Assign priority band based on score ---
def assign_priority(score):
    if score >= 8:
        return 'High'
    elif score >= 5:
        return 'Medium'
    else:
        return 'Low'

ML_case_scores['Priority'] = ML_case_scores['total_score'].apply(assign_priority)

# --- Output ---
#print(case_scores[['Case_ID', 'total_score', 'alerts', 'Priority']])
ML_case_scores

   Customer_ID         Case_ID  total_score Priority
0      1778276  ML_CASE_000026            5   Medium
1     19651386  ML_CASE_000027            6   Medium
2     21766029  ML_CASE_000001            7   Medium
3     23450102  ML_CASE_000002            8     High
4      2373820  ML_CASE_000003            7   Medium
5     24883259  ML_CASE_000004            4      Low
6     28399404  ML_CASE_000028            6   Medium
7     28687943  ML_CASE_000005            4      Low
8     31053503  ML_CASE_000006            4      Low
9     34213740  ML_CASE_000029            3      Low
10    35846000  ML_CASE_000007            4      Low
11    38214553  ML_CASE_000008            4      Low
12    40582913  ML_CASE_000009            5   Medium
13    45802213  ML_CASE_000010            3      Low
14    46255685  ML_CASE_000011            3      Low
15    46736495  ML_CASE_000012            8     High
16    49989629  ML_CASE_000013            4      Low
17    57646287  ML_CASE_000030            5   Medium
18    58101066  ML_CASE_000014            4      Low
19    58836571  ML_CASE_000031            2      Low
20    61108400  ML_CASE_000032            4      Low
21    70872620  ML_CASE_000015           10     High
22    71173788  ML_CASE_000016            4      Low
23    71733627  ML_CASE_000017            8     High
24    72710456  ML_CASE_000018            7   Medium
25    78042295  ML_CASE_000033            6   Medium
26    78304447  ML_CASE_000019            5   Medium
27    84206557  ML_CASE_000020            6   Medium
28    86871935  ML_CASE_000021           10     High
29     8946734  ML_CASE_000022            4      Low
30    92728117  ML_CASE_000023            4      Low
31    94213444  ML_CASE_000024           16     High
32    97110860  ML_CASE_000025            4      Low

In [122]:
# import pandas as pd
# import os
# import json

# save_dir = r'C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.1'
# os.makedirs(save_dir, exist_ok=True)

# # Only get variables that are user-defined DataFrames
# df_vars = {k: v for k, v in globals().items()
#            if isinstance(v, pd.DataFrame) and not k.startswith('_')}

# # Save metadata
# metadata = {}
# for var_name, df in df_vars.items():
#     file_path = os.path.join(save_dir, f'{var_name}.parquet')
#     df.to_parquet(file_path, compression='snappy')  # or 'gzip', 'brotli'
#     metadata[var_name] = {
#         'type': 'dataframe',
#         'file': file_path
#     }

# # Save metadata to JSON
# with open(os.path.join(save_dir, 'metadata.json'), 'w') as f:
#     json.dump(metadata, f, indent=4)

In [52]:
import pandas as pd
import pyarrow.parquet as pq
import json
import os

save_dir = r'C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.1'

# Load metadata
with open(os.path.join(save_dir, 'metadata.json'), 'r') as f:
    metadata = json.load(f)

loaded_dfs = {}

for var_name, meta in metadata.items():
    if meta['type'] == 'dataframe':
        file_path = meta['file']
        print(f"Loading {var_name} from {file_path}...")

        # Try reading in row-group chunks
        try:
            parquet_file = pq.ParquetFile(file_path)
            chunk_list = []
            for i in range(parquet_file.num_row_groups):
                chunk = parquet_file.read_row_group(i).to_pandas()
                chunk_list.append(chunk)
            loaded_dfs[var_name] = pd.concat(chunk_list, ignore_index=True)

        except Exception as e:
            print(f"Error reading {var_name}: {e}")
            loaded_dfs[var_name] = None  # Handle failure gracefully

# Restore to global namespace if needed
globals().update(loaded_dfs)

Loading chunk from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\chunk.parquet...
Loading value from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\value.parquet...
Loading customer_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\customer_df.parquet...
Loading account_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\account_df.parquet...
Loading country_risk_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\country_risk_df.parquet...
Loading transaction_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\transaction_df.parquet...
Loading customer_risk_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\customer_risk_df.parquet...
Loading beneficial_ownership_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\beneficial_ownership_df.parquet...
Loading kyc_documents_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\kyc_documents_df.parquet...
Loading correspondent_banking_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\correspondent_banking_df.parquet...
Loading watchlist_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\watchlist_df.parquet...
Loading merged_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\merged_df.parquet...
Loading df_agg_merged from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\df_agg_merged.parquet...
Loading enriched_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\enriched_df.parquet...
Loading transaction_summary from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\transaction_summary.parquet...
Loading segmented_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\segmented_df.parquet...
Loading account_count_by_val_cat from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\account_count_by_val_cat.parquet...
Loading filtered_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\filtered_df.parquet...
Loading min_dates from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\min_dates.parquet...
Loading wire_day1 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\wire_day1.parquet...
Loading cash_credit_3d from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\cash_credit_3d.parquet...
Loading wire_debit_3d from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\wire_debit_3d.parquet...
Loading ratio_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\ratio_df.parquet...
Loading cash_credit_total from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\cash_credit_total.parquet...
Loading wire_debit_total from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\wire_debit_total.parquet...
Loading deviation_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\deviation_df.parquet...
Loading final_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\final_df.parquet...
Loading final_df_1 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\final_df_1.parquet...
Loading final_df_2 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\final_df_2.parquet...
Loading percentiles from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\percentiles.parquet...
Loading customer_counts from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\customer_counts.parquet...
Loading percentiles_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\percentiles_df.parquet...
Loading segment_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\segment_df.parquet...
Loading percentile_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\percentile_df.parquet...
Loading alert_customers from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers.parquet...
Loading merged_df_same_month from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\merged_df_same_month.parquet...
Loading group from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\group.parquet...
Loading rolling_combined from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\rolling_combined.parquet...
Loading final_3d_summary from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\final_3d_summary.parquet...
Loading final_3d_summary_1 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\final_3d_summary_1.parquet...
Loading alert_customers_nc from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_nc.parquet...
Loading alerts_rmf_ac from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alerts_rmf_ac.parquet...
Loading alerts_rmf_nc from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alerts_rmf_nc.parquet...
Loading alert_customers_rmf from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_rmf.parquet...
Loading cash_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\cash_df.parquet...
Loading final_episode_view from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\final_episode_view.parquet...
Loading lookback_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\lookback_df.parquet...
Loading episode_summary from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\episode_summary.parquet...
Loading episode_summary_1 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\episode_summary_1.parquet...
Loading alert_customers_structuring from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_structuring.parquet...
Loading monthly_hr_count from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\monthly_hr_count.parquet...
Loading monthly_hr_amount from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\monthly_hr_amount.parquet...
Loading monthly_total_amount from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\monthly_total_amount.parquet...
Loading monthly_summary_hrg from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\monthly_summary_hrg.parquet...
Loading alert_customers_hrg from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_hrg.parquet...
Loading credit_txn from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\credit_txn.parquet...
Loading monthly_credit from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\monthly_credit.parquet...
Loading final_detection_table from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\final_detection_table.parquet...

Loading sample_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\sample_df.parquet...
Loading summary_table_cib from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\summary_table_cib.parquet...
Loading alert_customers_cib_avg from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_cib_avg.parquet...
Loading alert_customers_cib from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_cib.parquet...
Loading alert_customers_cib_peak from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_cib_peak.parquet...
Loading cash_txn from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\cash_txn.parquet...
Loading cheque_txn from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\cheque_txn.parquet...
Loading eft_txn from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\eft_txn.parquet...
Loading monthly_transactions from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\monthly_transactions.parquet...
Loading account_df_reduced from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\account_df_reduced.parquet...
Loading customer_df_reduced from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\customer_df_reduced.parquet...
Loading cheque_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\cheque_df.parquet...
Loading eft_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\eft_df.parquet...
Loading rolling_cash from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\rolling_cash.parquet...
Loading rolling_cheque from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\rolling_cheque.parquet...
Loading rolling_eft from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\rolling_eft.parquet...
Loading agg_cash from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\agg_cash.parquet...
Loading agg_cheque from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\agg_cheque.parquet...
Loading agg_eft from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\agg_eft.parquet...
Loading final_rolling_view from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\final_rolling_view.parquet...
Loading monthly_tran_lrt from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\monthly_tran_lrt.parquet...
Loading data_subset from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\data_subset.parquet...
Loading status_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\status_df.parquet...
Loading alert_customers_lrt from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_lrt.parquet...
Loading alert_customers_hrg_1 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_hrg_1.parquet...
Loading customer_ID_monthly from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\customer_ID_monthly.parquet...
Loading beneficiary_list_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\beneficiary_list_df.parquet...
Loading merged_with_beneficiaries from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\merged_with_beneficiaries.parquet...
Loading df_hr from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\df_hr.parquet...
Loading df_Debit from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\df_Debit.parquet...
Loading df_Credit from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\df_Credit.parquet...
Loading df_all from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\df_all.parquet...
Loading alert_customers_cib_peak_1 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_cib_peak_1.parquet...
Loading alert_customers_cib_avg_1 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_cib_avg_1.parquet...
Loading alert_customers_structuring_1 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_structuring_1.parquet...
Loading alert_customers_lrt_1 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_lrt_1.parquet...
Loading alert_customers_rmf_1 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_rmf_1.parquet...
Loading alert_customers_structuring_2 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_structuring_2.parquet...
Loading alert_customers_hrg_2 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_hrg_2.parquet...
Loading alert_customers_cib_peak_2 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_cib_peak_2.parquet...
Loading alert_customers_cib_avg_2 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_cib_avg_2.parquet...
Loading alert_customers_lrt_2 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_customers_lrt_2.parquet...
Loading Final_Alert_table from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\Final_Alert_table.parquet...
Loading violation_ids from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\violation_ids.parquet...
Loading case_table from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\case_table.parquet...
Loading duplicate_cases from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\duplicate_cases.parquet...
Loading customer_case_table from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\customer_case_table.parquet...
Loading df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\df.parquet...
Loading case_scores from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\case_scores.parquet...
Loading case_earliest_date from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\case_earliest_date.parquet...
Loading case_earliest from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\case_earliest.parquet...
Loading case_scores_with_l3 from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\case_scores_with_l3.parquet...
Loading high_cases from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\high_cases.parquet...
Loading medium_cases from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\medium_cases.parquet...
Loading low_cases from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\low_cases.parquet...
Loading l3_cases from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\l3_cases.parquet...
Loading alert_counts from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_counts.parquet...
Loading unique_months_years from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\unique_months_years.parquet...
Loading df_dev from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\df_dev.parquet...

Loading df_oot from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\df_oot.parquet...
Loading X_dev from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\X_dev.parquet...
Loading X_oot from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\X_oot.parquet...
Loading X_dev_resampled from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\X_dev_resampled.parquet...
Loading alert_flag_sum from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\alert_flag_sum.parquet...
Loading senarios_triggered_df from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\senarios_triggered_df.parquet...
Loading monthly_summary_count from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\monthly_summary_count.parquet...
Loading customer_triggered_feature from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\customer_triggered_feature.parquet...
Loading customer_alert_flag_sum from C:/Users/sajad/Documents/Prepaid/Transaction Monitoring/New_tables/final_user_vars_V6.00\customer_alert_flag_sum.parquet...